@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
#header {
  background-color: #ffffff;
  color: #666666;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-site-map {
  color: black;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-search {
  color: black;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
  filter: none;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

strong {
  font-weight: 700;
}

button {
  cursor: pointer;
  letter-spacing: -0.5px;
  font-weight: 400;
  text-transform: none;
  font-size: 1em;
  line-height: 1.15;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  overflow-y: scroll;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
}
body > .container {
  width: 100%;
  min-width: 1100px;
  min-height: 100%;
  margin: -92px 0 -200px 0;
  padding: 92px 0 300px 0;
}
body > .container > .page-util {
  display: block;
  position: static;
  width: 100%;
  height: 42px;
  background-color: #f8f8fa;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

body > .container > .page-util > .inner > .location {
  float: left;
  height: 42px;
}
body > .container > .page-util > .inner > .location > span {
  background: url(../../images/store/store-home.icon.png) no-repeat center;
  overflow: hidden;
  display: block;
  float: left;
  width: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
}
body > .container > .page-util > .inner > .location > a {
  display: block;
  position: relative;
  float: left;
  height: 42px;
  margin: 0 0 0 15px;
  padding: 0;
  line-height: 46px;
  color: #666;
  text-decoration: none;
}
body > .container > .page-util > .inner > .location > .icon {
  top: 0;
  width: 5px;
  height: 42px;
  background: url(../../images/store/store-bg-location-arr.png) no-repeat left center;
}
body > .container > .content {
  padding: 40px 0 0 0;
}
body > .container > .content > .inner > .title {
  padding: 0 0 26px 0;
  font-size: 1.8666em;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #222;
}
body > .container > .content > .inner > ul > li {
  position: relative;
}
body > .container > .content > .inner > ul > li > .event-check {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
body > .container > .content > .inner > ul > li > .event-check > .bold-button-text {
  color: #01738b;
  font-weight: 700;
}
body > .container > .content > .inner > .board {
  display: flex;
  justify-content: space-between;
}
body > .container > .content > .inner > .board > .count > strong > b {
  color: #01738b;
}
body > .container > .content > .inner > .event-list > .inner > .event-list {
  border-top: 1px solid #333;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul {
  margin: 0;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li {
  position: relative;
  float: none;
  width: 100%;
  margin: 0;
  padding: 20px 120px 20px 0;
  border-bottom: 1px solid #ebebeb;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li > a {
  color: #444;
  overflow: hidden;
  display: block;
  position: relative;
  min-height: 100px;
  padding: 0 0 0 130px;
  border: 0;
  border-radius: 0;
  text-decoration: none;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li > a > .theater {
  overflow: hidden;
  display: block;
  position: static;
  right: inherit;
  top: inherit;
  z-index: 2;
  height: auto;
  margin: 0;
  padding: 0;
  color: #01738b;
  line-height: 1.5;
  font-size: 1em;
  background-color: transparent;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li > a:hover {
  text-decoration: underline;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li > a > .img {
  position: absolute;
  left: 10px;
  top: 0;
  width: 100px;
  height: 100px;
  margin: 0;
  font-size: 0;
  line-height: 0;
  border: 0;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li > a > .img > img {
  width: 100%;
  height: 100%;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li > a > .title {
  height: auto;
  padding: 5px 0 0 0;
  font-size: 1.2em;
  color: #222;
  margin: 0;
  font-weight: 700;
}
body > .container > .content > .inner > .event-list > .inner > .event-list > ul > li > a > .date {
  position: absolute;
  left: 130px;
  bottom: 0;
  padding: 10px 0 0 0;
  font-size: 0.8667em;
  line-height: 1.1;
}
body > .container > .content > .inner > .event-list > .inner > .board-move {
  position: relative;
  padding: 40px 0 0 0;
}
body > .container > .content > .inner > .event-list > .inner > .board-move > .btn {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  border: 1px solid #eaeaea;
  background-color: transparent;
  color: #666;
}
body > .container > .content > .inner > .event-list > .inner > .board-move > .btn:hover {
  border: 1px solid #000000;
}
body > .container > .content > .inner > .event-list > .inner > .board-move > .btn > i {
  margin-left: 6px;
  width: 12px;
  height: 7px;
  background-image: url(../../images/myMegabox/arr-down.png);
  overflow: hidden;
  display: inline-block;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=pastEvent.css.map */
