@charset "UTF-8";
@import "common._obj-dialog";
@import "common._obj-cover";
@import "common._obj-message";
@import "common.login";
@import "common._obj-label";
@import "common._obj-check-label";
@import "common._obj-input";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  cursor: default;
  font-family: "Nanum Gothic", Dotum, "돋움", sans-serif ;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

a:link, a:visited{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}

ol, ul {
  list-style-type: none;
  margin-block: initial;
  margin-inline: initial;
  padding-inline: initial;
}

table{
  border-collapse: collapse;
  text-align: center;

  th{
    border: 1px #d9d9d9 solid;

    &:first-child{
      border-left: 0;
    }
  }

  td{
    border: 1px #d9d9d9 solid;

    &:last-child{
      border-right: 0;
    }
  }
}

button[type="submit"][disabled]{
  cursor: default !important;
  background-color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
}
