@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
._obj-dialog {
  top: 50%;
  left: 50%;
  width: 22.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0.0625rem rgba(33, 33, 33, 0.6274509804);
  box-sizing: border-box;
  opacity: 0;
  padding: 2.5rem;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: top, opacity 250ms ease;
  z-index: 999;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}
._obj-dialog.-visible {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}
._obj-dialog > .__title {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

._obj-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 8;
}
._obj-cover.-visible {
  opacity: 1;
  pointer-events: all;
}
._obj-cover.alert {
  z-index: 9;
}

._obj-message-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 250ms;
  z-index: 999;
}
._obj-message-cover.-visible {
  opacity: 1;
  pointer-events: all;
}

._obj-message {
  background-color: #503396;
  top: calc(50% + 0.25rem);
  left: 50%;
  min-width: 300px;
  box-shadow: 0 0 1rem 0.0625rem rgba(33, 33, 33, 0.3764705882);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  transition-property: top, opacity;
  z-index: 999;
}
._obj-message.-visible {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}
._obj-message > .title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
}
._obj-message > .title-bar > .__title {
  background-color: #503396;
  color: #ffffff;
  line-height: 15px;
  font-size: 18px;
}
._obj-message > .title-bar > .spring {
  flex-grow: 1;
}
._obj-message > .title-bar > button {
  width: 16px;
  height: 15px;
  background: url("../../images/common/cancel.png") no-repeat center;
  border: 0;
  cursor: pointer;
}
._obj-message > .__content {
  background-color: #ffffff;
  line-height: 1.5;
  padding: 20px 20px 0 20px;
}
._obj-message > .__content > .__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 15px 0 20px 0;
}
._obj-message > .__content > .__button-container > .__button {
  cursor: pointer;
  font: inherit;
  padding-block: initial;
  padding-inline: initial;
  outline: none;
  user-select: none;
  border-radius: 4px;
  padding: 0 15px;
  border: 1px solid #503396;
  margin: 0 3px;
  color: #fff;
  line-height: 36px;
  background: #503396;
}
._obj-message > .__content > .__button-container > .__button:hover {
  background-color: #301c5d;
}
._obj-message > .__content > .__button-container > .__button:active {
  background-color: #2b1953;
}
._obj-message > .__content > .__button-container > .__button.cancel {
  background-color: #ffffff;
  color: #503396;
}

#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  position: fixed;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
#loading > .image {
  width: 4rem;
  height: 4rem;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: animation-loading-image;
  animation-timing-function: linear;
  position: relative;
  transition: top 250ms;
}
@keyframes animation-loading-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading > .text {
  top: 0.25rem;
  color: #ffffff;
  font-size: 1.5rem;
  opacity: 0;
  transition-delay: 125ms;
  transition-duration: 250ms;
  transition-property: top, opacity;
}
#loading.-visible {
  opacity: 1;
  pointer-events: all;
}
#loading.-visible > .image {
  top: 0;
}
#loading.-visible > .text {
  top: 0;
  opacity: 1;
}

#loginForm > .menu {
  margin-top: 1.5rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}

.login {
  top: 50%;
  left: 50%;
  width: 850px;
  height: 484px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0.0625rem rgba(33, 33, 33, 0.6274509804);
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: top, opacity 250ms ease;
  z-index: 9;
}
.login.-visible {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}
.login > .title-bar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  background: #503396;
  padding: 15px 20px;
}
.login > .title-bar > .__title {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  color: #ffffff;
  box-sizing: border-box;
  line-height: 15px;
}
.login > .title-bar > .spring {
  flex-grow: 1;
}
.login > .title-bar > button {
  width: 16px;
  height: 15px;
  background: url("../../images/common/cancel.png") no-repeat center;
  border: 0;
  cursor: pointer;
}
.login .content {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 0 20px;
}
.login .content > .forLogin {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 380px;
}
.login .content > .forLogin > ._obj-label > ._obj-input {
  height: 46px;
  border: 1px solid #d8d9db;
  padding: 0 10px;
  line-height: 30px;
  box-sizing: border-box;
  outline: none;
}
.login .content > .forLogin > ._obj-label > ._obj-input:hover {
  border-color: #666666;
}
.login .content > .forLogin > ._obj-label > ._obj-input:focus {
  border-color: #666666;
}
.login .content > .forLogin > ._obj-label[rel=passwordLabel] {
  margin-top: 15px;
}
.login .content > .forLogin > .alert {
  margin-top: 5px;
}
.login .content > .forLogin > ._obj-check-label {
  overflow: hidden;
  padding: 15px 0 35px 0;
}
.login .content > .forLogin > ._obj-button {
  height: 46px;
  padding: 0 30px;
  background: #503396;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
}
.login .content > .forLogin > ._obj-button:hover {
  background-color: #351f67;
}
.login .content > .forLogin > .menu {
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.login .content > .forLogin > .menu > .item {
  position: relative;
  font-size: 14px;
}
.login .content > .forLogin > .menu > .item:not(:first-child) {
  margin-left: 27px;
}
.login .content > .forLogin > .menu > .item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  top: 50%;
  width: 1px;
  height: 16px;
  margin-top: -8px;
  background-color: #d8d9db;
  pointer-events: none;
}
.login .content > .forLogin > .sns-login {
  text-align: center;
}
.login .content > .forLogin > .sns-login > a {
  margin: 0 23px;
}
.login .content .spring {
  flex-grow: 1;
}
.login .content > .ad-box {
  width: 380px;
}
.login .content > .ad-box > img {
  width: 100%;
  aspect-ratio: 1/1;
}

._obj-label {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}
._obj-label > .__horizontal {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
._obj-label > .-spring {
  flex: 1;
}
._obj-label > .__warning {
  max-height: 0;
  color: #e74c3c;
  font-size: 0.8rem;
  line-height: 1.25;
  overflow: hidden;
  transition-duration: 250ms;
  transition-property: max-height;
  transition-timing-function: ease;
}
._obj-label:hover > .__text {
  color: #424242;
}
._obj-label:focus-within > .__text {
  color: #3498db;
}
._obj-label.-invalid .__field {
  border-color: #e74c3c;
  color: #e74c3c;
}
._obj-label.-invalid > .__text {
  color: #e74c3c;
}
._obj-label.-invalid > .__warning {
  max-height: 2rem;
}

._obj-check-label {
  cursor: pointer;
  user-select: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
._obj-check-label > input[type=checkbox] {
  display: none;
}
._obj-check-label > .__box {
  width: 0.875rem;
  height: 0.875rem;
  max-width: 0.875rem;
  max-height: 0.875rem;
  min-width: 0.875rem;
  min-height: 0.875rem;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 87.5%;
  border: 0.0625rem solid #d7d7d7;
  border-radius: 0.25rem;
  transition-duration: 125ms;
  transition-property: background-color, border-color;
  transition-timing-function: ease;
}
._obj-check-label > .__text {
  top: 0.01rem;
  color: #3b3b3b;
}
._obj-check-label input[type=checkbox]:checked ~ .__box {
  background-color: #3498db;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB+ElEQVR4nO2ZP0hcQRCHv4uGmIjEEJADJUSwCTYWWogkBAURQbnqWq+MTVBIlUIEGy21EEQruSZFiqQ5QQstBFEIpggiWIgcGgiJckSUM3qysMJj2PPv3fkm7AdTvMfu7Pu9NzvM7AOPx+PxeP5vIsBboAsoQzGTQM7aLErpCYgw9g94gDKeAmkhZBWFzDi+RgvKaAfOhJAxlPEE2BIiNoHHKGNCiDgFXqOMVrsXgkKMMFU8An4IEdtAFcoYFSLMZu9EGU1AVgiZRhnlwDchYhd4hjKGhIgcEEMZr4AjISKJMkzxtyxE/AJqUMYHR0jFUUY98FeI+IrCkFoSIg6A2mIt+AaYBz4BLwrot98RUgmKWC78CSy0BzQXwK95IRkhIkURee7oB0xM997Rb0r4zBT4a1/Z9Ae7tPfcjj6HPxNmJTmGGXYsbmzKlhbXJQr8Fj4W7RolI+Eo6IzN3aDE/izmHgIN3AMdwL5DzHeg7oq5cce8Qe6RRtvoyIdK2zI8X9L4KcavhOHEMAqsOcSY7NPtGJ8U447tCwkFlcAXh5gT4F1gXLdjzEdCRhkwniejmfvVwI64vw48JKQM2OMa174JXmcv2UehIWbTae4SG0EJLY7sdGEbQAWKeOk4lzJh14ZCqoGFgBBzsKCWiO1l1P0C8Hg8HkrGOUae57R9PfheAAAAAElFTkSuQmCC");
  border-color: #3498db;
}
._obj-check-label:hover > .__box {
  border-color: #bdbdbd;
}
._obj-check-label:hover > .__text {
  color: #212121;
}

._obj-input {
  width: 100%;
  background-color: #ffffff;
  border: 0.0625rem solid #d7d7d7;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #3b3b3b;
  font: inherit;
  outline: none;
  padding: 0.5rem 0.75rem;
  transition-duration: 125ms;
  transition-property: border-color, color;
  transition-timing-function: ease;
}
._obj-input:hover {
  border-color: #bdbdbd;
  color: #212121;
}
._obj-input:focus {
  border-color: #3498db;
}
._obj-input:disabled {
  background-color: #f5f5f5;
  border-color: #e0e0e0;
  color: #9e9e9e;
}

body {
  cursor: default;
  font-family: "Nanum Gothic", Dotum, "돋움", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  color: #444444;
}

a:link, a:visited {
  text-decoration: none;
}
a:link:hover, a:visited:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}

ol, ul {
  list-style-type: none;
  margin-block: initial;
  margin-inline: initial;
  padding-inline: initial;
}

table {
  border-collapse: collapse;
  text-align: center;
}
table th {
  border: 1px #d9d9d9 solid;
}
table th:first-child {
  border-left: 0;
}
table td {
  border: 1px #d9d9d9 solid;
}
table td:last-child {
  border-right: 0;
}

button[type=submit][disabled] {
  cursor: default !important;
  background-color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
}

/*# sourceMappingURL=common.css.map */
