@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
#header {
  background-color: #ffffff;
  color: #666666;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-site-map {
  color: black;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-search {
  color: black;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
  filter: none;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}

#main {
  width: 100%;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#main > * {
  width: 1100px;
  box-sizing: border-box;
}
#main > .title2 {
  font-size: 1.75rem;
  font-weight: 500;
  padding-bottom: 1.6rem;
  line-height: 1.1;
  letter-spacing: 0;
  color: #222222;
}
#main > nav > .tab {
  display: flex;
  flex-direction: row;
}
#main > nav > .tab > .item {
  border: 0.06rem solid #ebebeb;
  border-bottom-color: #503396;
  width: calc(100% - 2.4rem);
  height: 2.56rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main > nav > .tab > .item.on {
  border-color: #503396;
  border-bottom: none;
}
#main > nav > .tab > .item.on .link {
  color: #503396;
}
#main > nav > .tab > .item > .link {
  font-size: 1.0175rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 2.5rem;
  color: #222;
}
#main > .checkLevel {
  color: #503396;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9.3rem;
}
#main > .checkLevel > .title {
  margin-top: 5.9rem;
  font-size: 4.375rem;
  line-height: 3.7rem;
  font-weight: 300;
}
#main > .checkLevel > .title > .bold {
  font-weight: 600;
}
#main > .checkLevel > .text {
  padding-top: 1.25rem;
  margin-bottom: 4.1875rem;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.6875rem;
}
#main > .checkLevel > .link {
  display: inline-block;
  width: 8.75rem;
  height: 3.5rem;
  line-height: 3.4375rem;
  border: 1px solid #503396;
  border-radius: 0.3125rem;
  color: #503396;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}
#main > .benefit-vip-lounge2 {
  position: relative;
  padding-left: 442px;
  height: 280px;
  border-radius: 10px;
  background: url(../../images/benefit/viplounge_bg.png) no-repeat;
  margin-bottom: 40px;
  margin-top: 40px;
}
#main > .benefit-vip-lounge2 p {
  padding: 0;
  margin: 0;
}
#main > .benefit-vip-lounge2 > .lt {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
}
#main > .benefit-vip-lounge2 > .lt .mbimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
}
#main > .benefit-vip-lounge2 > .lt .mbimg img {
  width: 100%;
}
#main > .benefit-vip-lounge2 > .lt .mb_name {
  position: absolute;
  top: 0;
  left: 110px;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
  font-weight: 300;
}
#main > .benefit-vip-lounge2 > .lt .mb_name p {
  padding-top: 5px;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #fff;
}
#main > .benefit-vip-lounge2 > .lt .mb_name p span {
  font-weight: 600;
}
#main > .benefit-vip-lounge2 .rt {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 53px;
  padding-right: 69px;
  justify-content: space-between;
}
#main > .benefit-vip-lounge2 .rt .sect {
  color: #fff;
}
#main > .benefit-vip-lounge2 .rt .sect.n1 {
  width: 186px;
}
#main > .benefit-vip-lounge2 .rt .sect .tit {
  font-size: 15px;
  line-height: 17px;
  font-weight: 600;
  padding-bottom: 5px;
}
#main > .benefit-vip-lounge2 .rt .sect .point {
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
}
#main > .benefit-vip-lounge2 .rt .sect.n3 {
  width: 183px;
}
#main > .benefit-vip-lounge2 .rt .sect ul li {
  position: relative;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
}
#main > .benefit-vip-lounge2 .rt .sect ul li:first-child {
  margin-top: 0;
}
#main > .benefit-vip-lounge2 .rt .sect ul li span {
  position: absolute;
  top: 0;
  right: 0;
  line-height: initial;
}
#main > .benefit-vip-lounge2 > .graphBox {
  position: absolute;
  bottom: 43px;
  right: 61px;
  width: 614px;
}
#main > .benefit-vip-lounge2 > .graphBox .inner {
  position: relative;
  padding: 39px 19px 0 23px;
}
#main > .benefit-vip-lounge2 > .graphBox .inner .bar {
  height: 2px;
  background-color: #666;
}
#main > .benefit-vip-lounge2 > .graphBox .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main > .benefit-vip-lounge2 > .graphBox .list li {
  position: relative;
  width: 20%;
  color: #666;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  text-align: left;
  padding-top: 19px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -6px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  border: 4px solid #666;
  border-radius: 14px;
  background-color: #666;
  box-sizing: border-box;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(1) {
  z-index: 5;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(1):after {
  left: 23px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(2) {
  z-index: 4;
  text-indent: 23px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(2):after {
  margin-left: -24px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(3) {
  z-index: 3;
  text-align: center;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(3):after {
  margin-left: -4px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(4) {
  z-index: 2;
  text-indent: 69px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(4):after {
  margin-left: 15px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(5) {
  z-index: 1;
  text-align: right;
}
#main > .benefit-vip-lounge2 > .graphBox .list li:nth-child(5):after {
  right: 11px;
  left: auto;
}
#main > .benefit-vip-lounge2 > .graphBox .list li.on {
  color: #fff;
}
#main > .benefit-vip-lounge2 > .graphBox .list li.on:after {
  top: -8px;
  margin-left: -7px;
  width: 14px;
  height: 14px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li.on:nth-child(1):after {
  left: 23px;
  background-color: #fff;
  border-color: #04c9df;
}
#main > .benefit-vip-lounge2 > .graphBox .list li .pointFlag {
  display: none;
}
#main > .benefit-vip-lounge2 > .graphBox .list li.act .pointFlag {
  display: block;
  position: absolute;
  top: -42px;
  left: 8px;
  padding: 5px 10px;
  border-radius: 2px;
}
#main > .benefit-vip-lounge2 > .graphBox .list li.act .pointFlag span {
  position: relative;
  text-indent: 0;
  display: block;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  font-weight: 400;
  z-index: 2;
}
#main > .benefit-vip-lounge2 > .graphBox .list li.act:nth-child(1) .pointFlag {
  background-color: #04c9df;
}
#main > .lounge-benefit-box {
  width: 100%;
  background-color: #f8f8fa;
  height: 28.875rem;
  padding: 4.375rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main > .lounge-benefit-box > .title-bar {
  width: 1100px;
  padding-bottom: 1.25rem;
  font-size: 1.525rem;
  color: #503396;
  line-height: 1.1;
  display: flex;
  flex-direction: row;
}
#main > .lounge-benefit-box > .title-bar > .spring {
  flex-grow: 1;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container > .swiper-bar-box {
  display: flex;
  flex-direction: row;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container > .swiper-bar-box > .swiper-bar {
  display: block;
  width: 1.875rem;
  height: 0.125rem;
  border-radius: 0;
  background-color: #fff;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container > .swiper-bar-box > .swiper-bar.point {
  background-color: #503396;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container > img {
  width: 0.75rem;
  height: 0.95rem;
  margin-left: 0.575rem;
  color: #503396;
  cursor: pointer;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container > img.play {
  width: 0.5rem;
  height: 0.8rem;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container > img.pause {
  width: 0.5rem;
  height: 0.8rem;
  display: none;
}
#main > .lounge-benefit-box > .title-bar > .swiper-bar-container > .text {
  font-size: 0.975rem;
  font-weight: 400;
  margin-left: 1.3rem;
}
#main > .lounge-benefit-box > .event-box {
  display: flex;
  flex-direction: row;
  gap: 2.625rem;
  width: 1100px;
  height: 288.6px;
  position: relative;
  overflow: hidden;
}
#main > .lounge-benefit-box > .event-box > .event {
  position: absolute;
  transition-duration: 600ms;
  transition-property: left, right;
  flex-direction: column;
}
#main > .lounge-benefit-box > .event-box > .event > img {
  width: 33.125rem;
  height: 15.3125rem;
  border-radius: 0.625rem;
}
#main > .lounge-benefit-box > .event-box > .event > .text-box {
  display: flex;
  flex-direction: row;
  color: black;
  margin-top: 0.9375rem;
}
#main > .lounge-benefit-box > .event-box > .event > .text-box > .text {
  font-size: 0.95rem;
  font-weight: 700;
  overflow: hidden;
  display: inline-block;
  width: 360px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main > .lounge-benefit-box > .event-box > .event > .text-box > .spring {
  flex-grow: 1;
}
#main > .lounge-benefit-box > .event-box > .event > .text-box > .duration {
  font-size: 0.83rem;
  color: #444;
}
#main > .lounge-benefit-box > [type=button] {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  border-radius: 100%;
  box-shadow: 4px 4px 10px 0 rgba(45, 45, 45, 0.3);
  background-size: 28px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#main > .lounge-benefit-box > [type=button].left {
  left: calc(50% - 550px);
  transform: translate(-50%, -25px);
  background-image: url("../../images/common/left.png");
}
#main > .lounge-benefit-box > [type=button].right {
  left: calc(50% + 550px);
  transform: translate(-57%, -25px);
  background-image: url("../../images/common/right.png");
}
#main > .vip-standard > .table {
  padding-top: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
#main > .vip-standard > .table > .scope-row-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15.625rem;
  padding-top: 11.875rem;
  background-position: 0 11.8125rem;
  background-color: #fcfcfc;
  font-size: 1.125rem;
  font-weight: 500;
}
#main > .vip-standard > .table > .scope-row-box > .scope-row {
  height: 3.5625rem;
  padding: 2.3125rem 0 1.25rem;
  border-top: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main > .vip-standard > .table > .box {
  display: flex;
  flex-direction: column;
}
#main > .vip-standard > .table > .box > .td-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.2rem;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .icons {
  width: 8rem;
  height: 8rem;
  margin: 0 4.219rem 3.75rem 4.219rem;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td {
  height: 3.5625rem;
  padding: 2.3125rem 0 1.25rem;
  border-top: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: left;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td.couponBook {
  height: auto;
  justify-content: center;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .text {
  width: 100%;
  font-size: 1.025rem;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #444;
  text-align: center;
  overflow: auto;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box {
  height: 25.6875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon {
  position: relative;
  width: 201px;
  height: 117px;
  padding: 15px 0 0 22px;
  margin-bottom: 30px;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px;
  height: 108px;
  z-index: 2;
  content: "";
  background-color: #9206ed;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon.vvip::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px;
  height: 108px;
  z-index: 2;
  content: "";
  background-color: #5601d1;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon.vip::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px;
  height: 108px;
  z-index: 2;
  content: "";
  background-color: #2e65ff;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon::after {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 192px;
  height: 108px;
  z-index: 1;
  content: "";
  background-color: #4c1674;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon.vvip::after {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 192px;
  height: 108px;
  z-index: 1;
  content: "";
  background-color: #321065;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon.vip::after {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 192px;
  height: 108px;
  z-index: 1;
  content: "";
  background-color: #294595;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon > li {
  position: relative;
  z-index: 3;
  font-size: 25px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 0;
  font-weight: 400;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon > li:first-child {
  letter-spacing: 0.15rem;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon > li > span {
  font-size: 2.25rem;
  font-weight: 600;
}
#main > .vip-standard > .table > .box > .td-container > .td-box > .td > .coupon-box > .coupon > li:nth-child(1) {
  display: flex;
  align-items: center;
  line-height: 42px;
  padding-bottom: 3px;
  padding-top: 3px;
}
#main > .vip-standard > .table > .box dl {
  padding-bottom: 2.5rem;
}
#main > .vip-standard > .table > .box dl dt {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #444;
}
#main > .vip-standard > .table > .box dl > dd {
  position: relative;
  padding-left: 8px;
  color: #888;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: -0.04em;
}
#main > .vip-standard > .table > .box dl > dd::before {
  position: absolute;
  top: 9px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: #444;
  content: "";
}
#main > .benefit-vip-selection {
  width: 100%;
}
#main > .benefit-vip-selection > .section-box {
  background-color: #f9fafc;
}
#main > .benefit-vip-selection > .section-box:nth-child(even) {
  background-color: #ffffff;
}
#main > .benefit-vip-selection > .section-box > .section {
  width: 1100px;
  margin: 0 auto;
  padding: 2.75rem 0 3.75rem;
  min-height: 14.6875rem;
  display: flex;
  flex-direction: row;
  position: relative;
}
#main > .benefit-vip-selection > .section-box > .section:nth-child(1) {
  padding-bottom: 4.5rem;
}
#main > .benefit-vip-selection > .section-box > .section:nth-child(3) {
  padding-bottom: 3.25rem;
}
#main > .benefit-vip-selection > .section-box > .section > img {
  width: 28.125rem;
  position: absolute;
  top: 0;
  right: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}
#main > .benefit-vip-selection > .section-box > .section.reverse {
  justify-content: flex-end;
}
#main > .benefit-vip-selection > .section-box > .section.reverse > img {
  left: 0;
}
#main > .benefit-vip-selection > .section-box > .section.reverse > .text-box {
  text-align: right;
}
#main > .benefit-vip-selection > .section-box > .section > .text-box > .number {
  margin-bottom: 1.25rem;
  width: 4rem;
  height: 1.875rem;
  line-height: 2rem;
  border-radius: 0.9325rem;
  background-color: #888;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
#main > .benefit-vip-selection > .section-box > .section > .text-box > .title {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 57px;
  color: #3a25bd;
  font-weight: 600;
}
#main > .benefit-vip-selection > .section-box > .section > .text-box > .sText {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#main > .benefit-vip-selection > .section-box > .section > .text-box > .link-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
  margin-bottom: -8px;
}
#main > .benefit-vip-selection > .section-box > .section > .text-box > .link-box > .link {
  display: block;
  width: 225px;
  height: 54px;
  line-height: 53px;
  border-radius: 41px;
  background-color: #222;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
#main > .benefit-vip-selection > .section-box > .section > .text-box > .mText {
  padding-top: 32px;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.04em;
  color: #888;
}
#main .s_textBox {
  padding-top: 2.5rem;
}
#main .s_textBox > ul li {
  font-size: 0.82rem;
  line-height: 1.35rem;
  color: #888;
  letter-spacing: -0.04em;
}

.title3 {
  padding-top: 1.875rem;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #503396;
  line-height: 1.4375rem;
}

dl, dt, dd {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=vipLounge.css.map */
