<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="form" id="addProductForm" th:fragment="addProductForm" th:with="productRegex = ${T(com.terabox.demo.regexes.ProductRegex)}">
    <h3 class="title">스토어 상품 추가</h3>
    <div class="content">
        <label class="_obj-label" rel="nameLabel">
            <span class="__text">상품 이름</span>
            <input autofocus required class="_obj-input __field" type="text" name="name" maxlength="100" minlength="1" th:attrappend="data-regex=${productRegex.proName.expression}" placeholder="상품 이름(숫자, 영어 대소문자, 완성 한글, 공백 1자 이상 100자 이하)">
            <span class="__warning">올바른 이름을 입력해 주세요.</span>
        </label>
        <label class="_obj-label thumbnail" rel="thumbnailLabel">
            <input hidden accept="image/*" name="thumbnail" type="file">
            <span class="__text">상품 이미지</span>
            <span class="image-wrapper">
                <span class="empty">상품 이미지를 선택해 주세요.</span>
                <img alt="" class="image" src="">
            </span>
        </label>
        <label class="_obj-label" rel="priceLabel">
            <span class="__text">상품 가격</span>
            <input class="_obj-input __field" type="text" name="price">
            <span class="__warning">올바른 가격을 입력해 주세요.</span>
        </label>
        <label class="_obj-label" rel="quantityLabel">
            <span class="__text">상품 수량</span>
            <input class="_obj-input __field" type="text" name="quantity">
            <span class="__warning">올바른 수량을 입력해 주세요.</span>
        </label>
        <label class="_obj-label" rel="typeLabel">
            <span class="__text">상품 종류</span>
            <select class="_obj-input __field" name="type">
                <option disabled hidden selected value="-1">종류 선택</option>
                <option value="ticket" selected>티켓(기본)</option>
                <option value="fdg">음식</option>
                <option value="point">쿠폰</option>
            </select>
            <span class="__warning">종류를 선택해 주세요.</span>
        </label>
        <label class="_obj-label" rel="subTitleLabel">
            <span class="__text">상품 설명</span>
            <input class="_obj-input __field" type="text" name="subTitle" maxlength="30" minlength="1" placeholder="상품 설명(숫자, 영어 대소문자, 완성 한글, 공백 1자 이상 30자 이하)" th:attrappend="data-regex=${productRegex.subTitle.expression}">
            <span class="__warning">올바른 문자를 입력해 주세요.</span>
        </label>
        <div class="spring"></div>
        <button type="submit">추가하기</button>
        <button type="button" rel="hideAddProductForm">취소</button>
    </div>
</form>
</body>
</html>