<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MEET PLAY SHARE, 테라박스</title>

    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/event/proceedingEvent.css}">
    <script defer src="/assets/scripts/common.notHome.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/footer.css}">
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>

<form>
    <div id="container">
        <h2 class="tit">진행중인 이벤트</h2>
        <nav class="tab-list">
            <ul class="topMenu">
                <li class="on">
                    <a class="a" href="/movie">메가Pick</a>
                </li>
                <li class="on">
                    <a class="a" href="/movie">영화</a>
                </li>
                <li class="on">
                    <a class="a" href="/movie">극장</a>
                </li>
                <li class="on">
                    <a class="a" href="/movie">제휴/할인</a>
                </li>
                <li class="on">
                    <a class="a" href="/movie">시사회/무대인사</a>
                </li>
            </ul>
        </nav>
        <div class="AffiliateEvent">
            <div class="title-bar">
                <span>추천 이벤트 </span>
                <div class="spring"></div>
                <div class="swiper-bar-container">
                    <div class="swiper-bar-box">
                        <span class="swiper-bar"></span>
                        <span class="swiper-bar"></span>
                        <span class="swiper-bar"></span>
                        <span class="swiper-bar"></span>
                        <span class="swiper-bar"></span>
                        <span class="swiper-bar"></span>
                        <span class="swiper-bar"></span>
                    </div>
                    <img class="less" src="/assets/images/common/less.png" alt="">
                    <img class="more" th:src="@{/assets/images/common/more.png}" alt="">
                    <img class="play" th:src="@{/assets/images/common/play.png}" alt="">
                    <img class="pause" th:src="@{/assets/images/common/pause.png}"/>
                    <span class="current-page text">1 / 8</span>
                    <!--                현재 페이지 / 전체 페이지-->
                </div>
            </div>
            <div class="event-box">
                <a class="event">
                    <img src="/assets/images/event/proceedingEvent1.jpg"
                         alt="[톡학생증 x  메가박스] 톡학생증 발급받고 톡똑한 영화관람!">
                    <div class="text-box">
                        <span class="text">[메가박스X해피포인트] 7월 해피위크!</span>
                        <div class="spring"></div>
                        <span class="duration">2024.07.08 ~ 2024.07.21</span>
                    </div>
                </a>
                <a class="event">
                    <img src="/assets/images/event/proceedingEvent2.jpg"
                         alt="[신한카드] 신한 Deep Dream 이용하고 혜택받자!">
                    <div class="text-box">
                        <span class="text">[신한카드] 신한 Deep Dream 이용하고 혜택받자!</span>
                        <div class="spring"></div>
                        <span class="duration">2024.07.01 ~ 2024.07.31</span>
                    </div>
                </a>
                <a class="event">
                    <img src="/assets/images/event/proceedingEvent3.png" alt="" class="temp">
                    <div class="text-box">
                        <span class="text">[토스페이] 토스로 결제하고 혜택 받자!</span>
                        <div class="spring"></div>
                        <span class="duration">2024.07.01 ~ 2024.07.31</span>
                    </div>
                </a>
                <a class="event">
                    <img src="/assets/images/event/proceedingEvent4.jpg" alt="" class="temp">
                    <div class="text-box">
                        <span class="text">살벌하게 터지는 경품! &lt;핸섬가이즈&gt; 1PICK 이벤트</span>
                        <div class="spring"></div>
                        <span class="duration">2024.06.26 ~ 2024.07.14</span>
                    </div>
                </a>
                <a class="event">
                    <img src="/assets/images/event/proceedingEvent5.jpg" alt="" class="temp">
                    <div class="text-box">
                        <span class="text">메가박스에서 &lt;인사이드 아웃 2&gt; 보고 디즈니+ 혜택 받자!</span>
                        <div class="spring"></div>
                        <span class="duration">2024.06.12 ~ 2024.07.31</span>
                    </div>
                </a>
                <a class="event">
                    <img src="/assets/images/event/proceedingEvent6.jpg" alt="" class="temp">
                    <div class="text-box">
                        <span class="text">[LG유플러스] 멤버십 전용 메가박스 할인!</span>
                        <div class="spring"></div>
                        <span class="duration">2024.04.03 ~ 2025.12.31</span>
                    </div>
                </a>
                <a class="event">
                    <img src="/assets/images/event/proceedingEvent7.jpg" alt="" class="temp">
                    <div class="text-box">
                        <span class="text">[톡학생증 x  메가박스] 톡학생증 발급받고 톡똑한 영화관람!</span>
                        <div class="spring"></div>
                        <span class="duration">2023.09.01 ~ 2024.08.31</span>
                    </div>
                </a>
            </div>
            <button class="left swiper" type="button"></button>
            <button class="right swiper" type="button"></button>
        </div>
        <div class="tit-util mt70">
            <div class="right">
                <h3 class="tit">메가Pick</h3>
                <div class="spring"></div>
                <a  title="더보기">더보기
                    <i class="fa-solid fa-chevron-right" style="color: #c2c2c2;"></i></a>
            </div>
        </div>
        <div class="movie-list-util">
        </div>
        <div class="movie-list m15">
            <ul class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈]<극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tit-util mt70">
            <div class="right">
                <h3 class="tit">영화</h3>
                <div class="spring"></div>
                <a  title="더보기">더보기
                    <i class="fa-solid fa-chevron-right" style="color: #c2c2c2;"></i></a>
            </div>
        </div>
        <div class="movie-list-util">
        </div>
        <div class="movie-list m15">
            <ul class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈]<극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tit-util mt70">
            <div class="right">
                <h3 class="tit">극장</h3>
                <div class="spring"></div>
                <a  title="더보기">더보기
                    <i class="fa-solid fa-chevron-right" style="color: #c2c2c2;"></i></a>
            </div>
        </div>
        <div class="movie-list-util">
        </div>
        <div class="movie-list m15">
            <ul class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈]<극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tit-util mt70">
            <div class="right">
                <h3 class="tit">제휴/할인</h3>
                <div class="spring"></div>
                <a  title="더보기">더보기
                    <i class="fa-solid fa-chevron-right" style="color: #c2c2c2;"></i></a>
            </div>
        </div>
        <div class="movie-list-util">
        </div>
        <div class="movie-list m15">
            <ul class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈]<극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tit-util mt70">
            <div class="right">
                <h3 class="tit">시사회/무대인사</h3>
                <div class="spring"></div>
                <a  title="더보기">더보기
                    <i class="fa-solid fa-chevron-right" style="color: #c2c2c2;"></i></a>
            </div>
        </div>
        <div class="movie-list-util">
        </div>
        <div class="movie-list m15">
            <ul class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈]<극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank"></p>
                        <img src="https://img.megabox.co.kr/SharedImg/event/2024/05/09/x4Q2ytFOusJ8Ux3uHoMh610IBVyGdRPc.jpg"
                             alt="[프로모션][굿즈] <극장판하이큐!! 쓰레기장의 결전> 콤보 론칭">
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            [프로모션][굿즈] &lt;극장판하이큐!! 쓰레기장의 결전&gt; 콤보 론칭
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">2024.05.15~ 2024.06.30</span>
                    </div>
                </li>
            </ul>
        </div>


    </div>
</form>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>

</body>
</html>