@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "Nanum Gothic", Dotum, "돋움", sans-serif;
}

.button {
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  line-height: 34px;
  color: #503396;
  font-weight: 400;
  border-radius: 4px;
  font-family: "Nanum Gothic", Dotum, "돋움", sans-serif;
  text-decoration: none;
  border: 1px solid #503396;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
}
.button.gblue {
  color: #fff;
  line-height: 36px;
  border: 0;
  background: #037b94;
}

.input-text {
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  color: #444;
  border: 1px solid #d8d9db;
  vertical-align: middle;
  font-family: "Nanum Gothic", Dotum, "돋움", sans-serif;
}

.tit-util:after, .tit-util:before {
  content: "";
  display: block;
}

.tit-util .tit {
  float: left;
  padding: 0 !important;
  line-height: 1.1;
}

h2.tit {
  padding: 0 0 26px 0;
  font-size: 1.745rem;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #222;
}

#main {
  position: relative;
  z-index: 1;
  margin-top: 0;
  background-color: #fff;
}
#main .tit-util {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
}
#main .tit-util h2.tit {
  padding: 0 0 30px 0;
  font-size: 2em;
  color: #351f66 !important;
}
#main .tit-util .btn-more-cross {
  display: block;
  margin-top: 5px;
}
#main p {
  margin: 0;
  padding: 0;
}
#main .main-movie {
  display: block;
  position: relative;
  min-height: 880px;
  padding: 0 0 80px 0;
}
#main .main-movie .bg {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  min-width: 1100px;
  height: 100%;
  margin: 0 auto;
}
#main .main-movie .bg:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(85, 63, 5) 0%, rgba(23, 17, 1, 0) 50%, rgb(85, 63, 5) 100%);
}
#main .main-movie .bg:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(3, 1, 21, 0.7);
}
#main .main-movie .bg .bg-pattern {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
#main .main-movie .bg img {
  display: block;
  width: 100%;
  filter: blur(15px);
}
#main .main-movie .cont-area {
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 3;
  width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: 0 0 50px 0;
}
#main .main-movie .tab-sorting {
  margin: 82.5px 0 20px 0;
  text-align: center;
}
#main .main-movie .tab-sorting button {
  position: relative;
  display: inline-block;
  margin: 0 18px;
  padding: 0 0 5px 0;
  vertical-align: top;
  color: #aaa;
  border: 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  font-size: 1.0667em;
  font-weight: 400;
}
#main .main-movie .tab-sorting button.on {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
#main .main-movie .more-movie {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  transform: translateY(-250%);
  color: #aaa;
  line-height: 16px;
}
#main .main-movie .more-movie img {
  margin-left: 4px;
}
#main .main-movie .main-movie-list > ol {
  display: block;
}
#main .main-movie .main-movie-list > ol:before {
  content: "";
  display: table;
}
#main .main-movie .main-movie-list > ol:after {
  clear: both;
  content: "";
  display: table;
}
#main .main-movie .main-movie-list > ol li {
  float: left;
  width: 245px;
  margin-left: 40px;
  padding: 0;
}
#main .main-movie .main-movie-list > ol li.first {
  margin-left: 0;
}
#main .main-movie .main-movie-list > ol li .movie-list-info {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 352px;
  border-radius: 5px;
  background-color: #24202b;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade {
  overflow: hidden;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade.age-12 {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_46x46.png);
  background-size: 23px 23px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade.age-15 {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_46x46.png);
  background-size: 23px 23px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade.age-all {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_46x46.png);
  background-size: 23px 23px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade.big {
  width: 28px;
  height: 28px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade.big.age-12 {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_56x56.png);
  background-size: 28px 28px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade.big.age-15 {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_56x56.png);
  background-size: 28px 28px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .movie-grade_box .movie-grade.big.age-all {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_56x56.png);
  background-size: 28px 28px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .rank {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  padding: 10px 0 0 15px;
  line-height: 1.1;
  font-size: 2em;
  font-style: italic;
  font-family: "Roboto";
  font-weight: 300;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#main .main-movie .main-movie-list > ol li .movie-list-info img {
  display: block;
  width: 245px;
  height: 352px;
  border-radius: 5px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info img:hover + .wrap {
  color: #fff;
  text-decoration: none;
  display: block;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 25px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
#main .main-movie .main-movie-list > ol li .movie-list-info .wrap:hover {
  color: #fff;
  text-decoration: none;
  display: block;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .wrap .summary {
  overflow: hidden;
  height: 152px;
  position: relative;
  z-index: 3000;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .wrap .score {
  overflow: hidden;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 10px 0 0 0;
  text-align: center;
  border-top: 1px solid #3c3c3c;
  text-align: center;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .wrap .score .preview {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  line-height: 36px;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .wrap .score .preview .tit {
  display: block;
  float: left;
  margin: 0 19px 0 0;
  font-size: 0.8667em;
}
#main .main-movie .main-movie-list > ol li .movie-list-info .wrap .score .preview .number {
  float: left;
  font-size: 1.6em;
  color: #59bec9;
}
#main .main-movie .main-movie-list > ol li .btn-util {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  padding: 0 0 0 85px;
  text-align: left;
}
#main .main-movie .main-movie-list > ol li .btn-util .btn-like {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 36px;
  line-height: 34px;
  margin: 0;
  padding: 0 5px;
  color: #fff;
  font-size: 0.8667em;
  border-color: #555;
  background-color: rgba(0, 0, 0, 0.4);
}
#main .main-movie .main-movie-list > ol li .btn-util .btn-like i {
  margin-right: 4px;
}
#main .main-movie .main-movie-list > ol li .btn-util .case .button {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}
#main .main-movie .search-link {
  overflow: hidden;
  display: block;
  height: 75px;
  margin: 50px 0 0 0;
  padding: 23px 0 0 0;
  background-color: rgba(0, 0, 0, 0.2);
}
#main .main-movie .search-link .cell {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  border-left: 1px solid #423e3e;
}
#main .main-movie .search-link .cell:first-child {
  border-left: 0;
}
#main .main-movie .search-link .search {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 30px;
  padding: 0 30px 0 0;
  border-bottom: 1px solid #423e3e;
}
#main .main-movie .search-link .search .input-text {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 0.9375rem;
}
#main .main-movie .search-link .search .btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
#main .main-movie .search-link a {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .main-movie .search-link a img {
  margin-top: -2px;
  margin-right: 5px;
}
#main .main-movie .moving-mouse {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  background-color: transparent;
  animation: bounce 1.3s infinite;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 1rem;
  }
  100% {
    top: 0;
  }
}
#main .main-benefit {
  position: relative;
  padding: 0 0 100px 0;
}
#main .main-benefit:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  min-width: 1100px;
  top: 513px;
  bottom: 0;
  background-color: #503396;
}
#main .main-benefit .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}
#main .main-benefit .slider {
  overflow: hidden;
  position: relative;
  width: 687px;
  height: 325px;
  background-color: #fff;
}
#main .main-benefit .slider .slider-view {
  position: absolute;
  width: 2000px;
  height: 325px;
  font-size: 0;
  line-height: 0;
}
#main .main-benefit .slider .slider-view .cell {
  position: relative;
  float: left;
  width: 934px;
  height: 325px;
}
#main .main-benefit .slider .slider-view .cell .position {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
#main .main-benefit .slider .slider-view .cell .position .txt {
  position: absolute;
  left: 0;
  top: 0;
}
#main .main-benefit .slider .slider-view .cell .position .txt a {
  width: 300px;
  height: 230px;
}
#main .main-benefit .slider .slider-view .cell .position .txt a img {
  max-width: 300px;
  max-height: 230px;
}
#main .main-benefit .slider .slider-view .cell .position .bg {
  position: absolute;
  left: 300px;
  top: 0;
}
#main .main-benefit .slider > .swiper-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 2.2rem;
}
#main .main-benefit .slider > .swiper-bar-container > .swiper-bar-box {
  display: flex;
  flex-direction: row;
  width: 190px;
}
#main .main-benefit .slider > .swiper-bar-container > .swiper-bar-box > .swiper-bar {
  display: block;
  width: 1.3rem;
  height: 0.125rem;
  border-radius: 0;
  background-color: #eee;
}
#main .main-benefit .slider > .swiper-bar-container > .swiper-bar-box > .swiper-bar.point {
  background-color: #503396;
}
#main .main-benefit .slider > .swiper-bar-container > img {
  width: 0.75rem;
  height: 0.95rem;
  margin-left: 0.575rem;
  color: #503396;
  cursor: pointer;
}
#main .main-benefit .slider > .swiper-bar-container > img.play {
  width: 0.5rem;
  height: 0.8rem;
}
#main .main-benefit .slider > .swiper-bar-container > img.pause {
  width: 0.5rem;
  height: 0.8rem;
  display: none;
}
#main .main-benefit .slider > .swiper-bar-container > .text {
  font-size: 0.975rem;
  font-weight: 400;
  margin-left: 1.3rem;
}
#main .main-benefit .slider > .swiper-bar-container > .less {
  width: 0.5rem;
}
#main .main-benefit .slider > .swiper-bar-container > .more {
  width: 0.5rem;
}
#main .main-benefit .brn-ad {
  position: relative;
  min-width: 1100px;
}
#main .main-benefit .brn-ad .banner:before {
  content: "";
  display: table;
}
#main .main-benefit .brn-ad .banner .size {
  float: left;
  width: 441px;
  height: 204px;
  font-size: 0;
  line-height: 0;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
#main .main-benefit .brn-ad .banner .size img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#main .main-benefit .brn-ad .banner .size.small {
  display: block;
  float: left;
  width: 204px;
  height: 204px;
}
#main .main-benefit .brn-ad .banner .size + .size {
  margin-left: 20px;
}
#main .main-benefit .ad-img {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 415px;
  height: 530px;
  font-size: 0;
  line-height: 0;
  border-radius: 5px;
}
#main .main-benefit .ad-img iframe {
  display: inline-block;
  border: 0;
}
#main .main-benefit .menu-link {
  overflow: hidden;
  padding: 50px 0 0 0;
}
#main .main-benefit .menu-link .cell {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main .main-benefit .menu-link .cell .img-box {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main-benefit .menu-link a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}
#main .main-info {
  padding: 0 0 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .main-info .wrap {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .main-info .wrap > .information-title {
  position: relative;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 50px 0 38px 0;
}
#main .main-info .wrap > .information-title > h2 {
  display: block;
  font-size: 1.8666rem;
  color: #351f66;
  font-weight: normal;
  unicode-bidi: isolate;
}
#main .main-info .wrap .information-link-button {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1100px;
}
#main .main-info .wrap .information-link-button > .information-box1 {
  margin-right: 16px;
}
#main .main-info .wrap .information-link-button > .information-box1 > a > .gray {
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box1 > a > .color {
  display: none;
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box1 > a:hover > .gray {
  display: none;
}
#main .main-info .wrap .information-link-button > .information-box1 > a:hover > .color {
  display: block;
}
#main .main-info .wrap .information-link-button > .information-box2 {
  margin-right: 16px;
}
#main .main-info .wrap .information-link-button > .information-box2 > a > .gray {
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box2 > a > .color {
  display: none;
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box2 > a:hover > .gray {
  display: none;
}
#main .main-info .wrap .information-link-button > .information-box2 > a:hover > .color {
  display: block;
}
#main .main-info .wrap .information-link-button > .information-box3 {
  margin-right: 16px;
}
#main .main-info .wrap .information-link-button > .information-box3 > a > .gray {
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box3 > a > .color {
  display: none;
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box3 > a:hover > .gray {
  display: none;
}
#main .main-info .wrap .information-link-button > .information-box3 > a:hover > .color {
  display: block;
}
#main .main-info .wrap .information-link-button > .information-box4 {
  margin-right: 16px;
}
#main .main-info .wrap .information-link-button > .information-box4 > a > .gray {
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box4 > a > .color {
  display: none;
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box4 > a:hover > .gray {
  display: none;
}
#main .main-info .wrap .information-link-button > .information-box4 > a:hover > .color {
  display: block;
}
#main .main-info .wrap .information-link-button > .information-box5 {
  margin-right: 16px;
}
#main .main-info .wrap .information-link-button > .information-box5 > a > .gray {
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box5 > a > .color {
  display: none;
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box5 > a:hover > .gray {
  display: none;
}
#main .main-info .wrap .information-link-button > .information-box5 > a:hover > .color {
  display: block;
}
#main .main-info .wrap .information-link-button > .information-box6 {
  margin-right: 16px;
}
#main .main-info .wrap .information-link-button > .information-box6 > a > .gray {
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box6 > a > .color {
  display: none;
  width: 170px;
  border-radius: 5px;
}
#main .main-info .wrap .information-link-button > .information-box6 > a:hover > .gray {
  display: none;
}
#main .main-info .wrap .information-link-button > .information-box6 > a:hover > .color {
  display: block;
}
#main .main-info .wrap .special-control {
  width: 1100px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -550px;
  top: 183px;
}
#main .main-info .wrap .special-control img {
  display: block;
  position: relative;
  bottom: 100px;
  z-index: 2;
  width: 16px;
  height: 29px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
}
#main .main-info .wrap .special-control .special-prev {
  position: absolute;
  top: 50%;
  left: -45px;
  width: 16px;
  height: 30px;
  margin-top: -15px;
  overflow: hidden;
  text-indent: -999px;
}
#main .main-info .wrap .special-control .special-next {
  position: absolute;
  top: 50%;
  right: -45px;
  width: 16px;
  height: 30px;
  margin-top: -15px;
  overflow: hidden;
  text-indent: -999px;
}
#main .main-info .wrap .info-notice {
  margin-top: 50px;
  border: 1px solid #e2e2e2;
  border-width: 1px 0;
  width: 100vw;
  max-width: 1903px;
  min-width: 1100px;
}
#main .main-info .wrap .info-notice .wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 175px 0 95px;
}
#main .main-info .wrap .info-notice .wrap:before {
  content: "";
  display: table;
}
#main .main-info .wrap .info-notice .wrap:after {
  clear: both;
  content: "";
  display: table;
}
#main .main-info .wrap .info-notice .wrap .tit {
  position: absolute;
  left: 0;
  top: 0;
  color: #222;
  font-weight: 400;
}
#main .main-info .wrap .info-notice .wrap > p {
  height: 60px;
  line-height: 60px;
}
#main .main-info .wrap .info-notice .wrap .link {
  position: relative;
}
#main .main-info .wrap .info-notice .wrap .link:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: #e2e2e2;
}
#main .main-info .wrap .info-notice .wrap .link a {
  overflow: hidden;
  display: inline-block;
  color: #222;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main .main-info .wrap .info-notice .wrap .link a strong {
  color: #01738b;
  font-weight: 700;
}
#main .main-info .wrap .info-notice .wrap .date {
  position: absolute;
  right: 85px;
  top: 0;
  color: #666;
  font-family: "Roboto";
}
#main .main-info .wrap .info-notice .wrap .more {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  text-align: right;
  color: #222;
}
#main .main-info .wrap .info-notice .wrap .more:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: #e2e2e2;
}
#main .main-info .wrap .info-notice .wrap .more a {
  color: #666;
  text-decoration: none;
}
#main .main-info .wrap .info-notice .wrap .more a img {
  width: 7px;
  height: 12px;
  margin-top: -3px;
  margin-left: 5px;
}
#main .main-info .wrap .info-link {
  display: block;
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}
#main .main-info .wrap .info-link:before {
  content: "";
  display: table;
}
#main .main-info .wrap .info-link:after {
  content: "";
  display: table;
  clear: both;
}
#main .main-info .wrap .info-link .table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#main .main-info .wrap .info-link .table .cell {
  display: table-cell;
  width: 16.6%;
  text-align: center;
  vertical-align: middle;
}
#main .main-info .wrap .info-link .table .cell:first-child {
  width: 16.7%;
}
#main .main-info .wrap .info-link .table .cell a {
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .main-info .wrap .info-link .table .cell a img {
  width: 46px;
  height: 46px;
}
#main .main-info .wrap .info-link .table .cell a span {
  display: block;
  margin: 0 auto;
  padding: 10px 0 0 0;
  line-height: 1.3;
}
#main .main-bottom-ad {
  min-width: 1100px;
  width: 100%;
  height: 227px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=indexTwo.css.map */
