@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
body {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  font-size: 13px;
  color: #666666;
  font-family: sans-serif, NanumBarunGothic, Dotum, "돋움";
}

#header {
  letter-spacing: -0.08rem;
  background-color: #000;
  width: 100%;
  border-bottom: solid 0.5px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header > .link-box {
  position: relative;
  width: 1100px;
}
#header > .link-box > .left-link {
  position: relative;
  top: 15px;
  text-decoration: none;
  line-height: 1.5;
}
#header > .link-box > .left-link > .header-vip {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .link-box > .left-link > .header-membership {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .link-box > .left-link > .header-support {
  font-size: 13px;
  color: #888888;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .link-box > .right-link {
  position: absolute;
  right: 0;
  top: 15px;
}
#header > .link-box > .right-link > .header-admin {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-login {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-user {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-register {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-logout {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-fast-buy {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-main-page {
  height: 47px;
  display: flex;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
#header > .link-area > .header-site-map {
  color: white;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-site-map > .cancel-button {
  display: none;
}
#header > .link-area > .header-site-map > .cancel-button.on {
  display: block;
}
#header > .link-area > .header-site-map > .fa-solid {
  display: none;
}
#header > .link-area > .header-site-map > .fa-solid.on {
  display: block;
}
#header > .link-area > .header-search {
  color: white;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
#header > .link-area > .movieLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 86px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .movieLink-mini.on {
  display: block;
}
#header > .link-area > .movieLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 436px;
}
#header > .link-area > .movieLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .movieLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .reserveLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 86px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .reserveLink-mini.on {
  display: block;
}
#header > .link-area > .reserveLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 596px;
}
#header > .link-area > .reserveLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .reserveLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .theaterLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 86px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .theaterLink-mini.on {
  display: block;
}
#header > .link-area > .theaterLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 726px;
}
#header > .link-area > .theaterLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .theaterLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .eventLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 86px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .eventLink-mini.on {
  display: block;
}
#header > .link-area > .eventLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 1026px;
}
#header > .link-area > .eventLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .eventLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .membershipLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 86px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .membershipLink-mini.on {
  display: block;
}
#header > .link-area > .membershipLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 1246px;
}
#header > .link-area > .membershipLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .membershipLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .layer-sitemap {
  display: none;
  position: absolute;
  left: 0;
  top: 86px;
  z-index: 101;
  width: 100%;
  min-width: 1100px;
  height: 750px;
  overflow: auto;
  background-color: #333;
  border-top: 1px solid #000;
}
#header > .layer-sitemap.on {
  display: block;
}
#header > .layer-sitemap > .wrap {
  overflow: hidden;
  position: relative;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}
#header > .layer-sitemap > .wrap > .link-acc {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -99999px;
  top: -99999px;
}
#header > .layer-sitemap > .wrap > .tit {
  padding: 50px 0 0 0;
  font-size: 1.4666em;
  color: #fff;
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list1 {
  position: absolute;
  left: 0;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list1 > .position-1 {
  left: 0;
}
#header > .layer-sitemap > .wrap > .list1 > .tit-depth {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list2 {
  position: absolute;
  left: 189px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list2 > .position-2 {
  width: 158px;
  top: 97px;
}
#header > .layer-sitemap > .wrap > .list2 > .tit-depth2 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list3 {
  position: absolute;
  left: 377px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list3 > .position-3 {
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list3 > .tit-depth3 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list4 {
  position: absolute;
  left: 565px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list4 > .position-4 {
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list4 > .tit-depth4 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list5 {
  position: absolute;
  left: 753px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list5 > .position-5 {
  left: 0;
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list5 > .tit-depth5 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list6 {
  position: absolute;
  left: 941px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list6 > .position-6 {
  top: 97px;
}
#header > .layer-sitemap > .wrap > .list6 > .tit-depth6 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list7 {
  position: absolute;
  top: 368px;
  width: 159px;
  left: 0;
}
#header > .layer-sitemap > .wrap > .list7 > .position-7 {
  left: 0;
}
#header > .layer-sitemap > .wrap > .list7 > .tit-depth7 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list8 {
  position: absolute;
  left: 189px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list8 > .position-8 {
  left: 0;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list8 > .tit-depth8 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list9 {
  position: absolute;
  left: 377px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list9 > .position-9 {
  left: 0;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list9 > .tit-depth9 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list10 {
  position: absolute;
  left: 565px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list10 > .position-10 {
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list10 > .tit-depth10 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .ir {
  text-indent: -9999px;
  position: fixed;
  top: -9999px;
  font-size: 1px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
#header > .layer-sitemap > .wrap > .ir > a:visited {
  color: #666;
  text-decoration: none;
  outline: 1px dotted #000;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: isolate;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

#footer {
  min-width: 1100px;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #f8f8fa;
  position: relative;
  top: 36rem;
  font-family: sans-serif, NanumBarunGothic, Dotum, "돋움";
}
#footer > .footer-top {
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
}
#footer > .footer-top > .inner-wrap {
  width: 1100px;
  margin: 0 auto;
}
#footer > .footer-top > .inner-wrap > .fnb {
  float: left;
}
#footer > .footer-top > .inner-wrap > .fnb > li:first-child {
  margin-left: 0;
}
#footer > .footer-top > .inner-wrap > .fnb > li {
  float: left;
  margin-left: 14px;
}
#footer > .footer-top > .inner-wrap > .fnb > li > .foot-link {
  background-color: #f8f8fa;
  display: block;
  color: #666;
  line-height: 30px;
  font-size: 0.8667em;
}
#footer > .footer-top > .inner-wrap > .fnb > .privacy > .foot-link {
  color: #222;
  font-weight: 700;
}
#footer > .footer-top > .inner-wrap > .btn-looking-theater {
  overflow: hidden;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 106px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 28px;
  color: #666;
  font-size: 0.8667em;
  border: 1px solid #d8d9db;
  border-radius: 30px;
  text-decoration: none;
}
#footer > .footer-bottom {
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}
#footer > .footer-bottom > .inner-wrap {
  width: 1100px;
  margin: 0 auto;
}
#footer > .footer-bottom > .inner-wrap > .ci {
  overflow: hidden;
  display: block;
  float: left;
  width: 150px;
  height: 50px;
  margin: 0 20px 0 0;
  padding: 0;
}
#footer > .footer-bottom > .inner-wrap > .footer-info {
  float: left;
  font-size: 0.8667em;
  letter-spacing: 0;
}
#footer > .footer-bottom > .inner-wrap > .footer-info > div > address {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-style: normal;
}
#footer > .footer-bottom > .inner-wrap > .footer-info > div > p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#footer > .footer-bottom > .inner-wrap > .footer-info > p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#footer > .footer-bottom > .inner-wrap > .footer-info > .copy {
  display: block;
}
#footer > .footer-bottom > .inner-wrap > .footer-sns {
  float: right;
}
#footer > .footer-bottom > .inner-wrap > .footer-sns > a {
  display: block;
  float: left;
  width: 32px;
  height: 30px;
  margin-left: 5px;
  font-size: 0;
  line-height: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  font-size: 15px;
  color: #444;
  font-family: sans-serif, NanumBarunGothic, Dotum, "돋움";
  width: 100vw;
}

#main > .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  height: 100%;
  position: relative;
}
#main > .main-container > .main-boxOffice {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-color: green;
  position: relative;
  margin-top: 5rem;
}
#main > .main-container > .main-boxOffice > .button-buxo {
  border: 0;
  border-bottom: 2px solid #888888;
  color: white;
  cursor: pointer;
  padding: 0 0 5px 0;
  background-color: black;
  font-size: 1.1rem;
  position: relative;
}
#main > .main-container > .main-other-movie {
  position: relative;
  left: 31rem;
  bottom: 1rem;
}
#main > .main-container > .main-other-movie > .other-movie {
  text-decoration-line: none;
  text-align: right;
  color: #888888;
}
#main > .main-container > .main-other-movie > .other-movie:hover {
  text-decoration-line: underline;
}
#main > .main-container > .main-movie-list {
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}
#main > .main-container > .main-movie-list > .first-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#main > .main-container > .main-movie-list > .first-list > .first-list-ba {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#main > .main-container > .main-movie-list > .two-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#main > .main-container > .main-movie-list > .two-list > .two-list-ba {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#main > .main-container > .main-movie-list > .three-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#main > .main-container > .main-movie-list > .three-list > .three-list-ba {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#main > .main-container > .main-movie-list > .four-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#main > .main-container > .main-movie-list > .four-list > .four-list-ba {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#main > .main-container > .list-form {
  background-color: #151218;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 60%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#main > .main-container > .list-form > .search-label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: 7rem;
  padding-right: 4.5rem;
  border-right: 1px solid #888888;
}
#main > .main-container > .list-form > .search-label > .search-input {
  border: 0;
  background-color: #151218;
  border-bottom: 1px solid #888888;
  color: #888888;
  font-size: 1rem;
  outline: none;
}
#main > .main-container > .list-form > .search-label > .search-button {
  border: 0;
  bottom: 1.3rem;
  left: 9rem;
  background-color: #151218;
  position: absolute;
  color: #888888;
  top: 0.1rem;
  right: 5rem;
}
#main > .main-container > .list-form > .list-time {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  right: 3rem;
  width: 15%;
  font-size: 1rem;
  gap: 0.5rem;
  padding-right: 4rem;
  border-right: 1px solid #888888;
}
#main > .main-container > .list-form > .list-time > a {
  text-decoration-line: none;
  color: white;
}
#main > .main-container > .list-form > .list-time > a:hover {
  text-decoration-line: underline;
  color: white;
}
#main > .main-container > .list-form > .list-boxo {
  position: relative;
  color: white;
  left: 4rem;
  width: 15%;
  font-size: 1rem;
  gap: 0.5rem;
  padding-right: 1rem;
  border-right: 1px solid #888888;
}
#main > .main-container > .list-form > .list-boxo > a {
  text-decoration-line: none;
  color: #fff;
}
#main > .main-container > .list-form > .list-boxo > a:hover {
  text-decoration-line: underline;
  color: #fff;
}
#main > .main-container > .list-form > .list-fast-buy {
  position: relative;
  color: #fff;
  left: 10rem;
  width: 15%;
  font-size: 1rem;
  gap: 0.5rem;
}
#main > .main-container > .list-form > .list-fast-buy > a {
  text-decoration-line: none;
  color: #fff;
}
#main > .main-container > .list-form > .list-fast-buy > a:hover {
  text-decoration-line: underline;
  color: #fff;
}
#main > .main-container > .moving-mouse {
  position: absolute;
  width: 100%;
  top: 40rem;
  margin-top: 2rem;
  text-align: center;
  background-color: black;
  animation: bounce 1.3s infinite;
}
@keyframes bounce {
  0% {
    top: 40rem;
  }
  50% {
    top: 39rem;
  }
  100% {
    top: 40rem;
  }
}
#main > .main-container > .main-benefit-container {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  height: 20rem;
  top: 11rem;
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main > .main-container > .main-benefit-container > .wrap {
  position: relative;
  width: 60%;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-color {
  background-color: #fff;
  position: absolute;
  left: -24rem;
  padding-bottom: 6rem;
  top: 26rem;
  width: 1920px;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-color2 {
  background-color: #503396;
  position: absolute;
  left: -24rem;
  top: 32rem;
  width: 1920px;
  padding-bottom: 19.3rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit {
  padding-top: 2rem;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit > h2 {
  display: block;
  font-size: 2rem;
  color: #351f66;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
  unicode-bidi: isolate;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit > .event-button-link {
  position: relative;
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/btn/btn-more-cross-purple.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  bottom: 0.5rem;
  margin-right: 3rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition {
  position: relative;
  width: 100%;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .wrap-benefit-condition-link-container {
  position: relative;
  width: 100%;
  height: 325px;
  display: flex;
  margin-bottom: -0.45rem;
  flex-direction: row;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .wrap-benefit-condition-link-container > .img {
  position: absolute;
  width: 300px;
  height: 230px;
  transition-duration: 1800ms;
  transition-property: top, opacity;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .wrap-benefit-condition-link-container > .img2 {
  position: absolute;
  width: 385px;
  height: 325px;
  transition-duration: 1800ms;
  transition-property: left, opacity;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 2.2rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > .swiper-bar-box {
  display: flex;
  flex-direction: row;
  width: 190px;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > .swiper-bar-box > .swiper-bar {
  display: block;
  width: 1.3rem;
  height: 0.125rem;
  border-radius: 0;
  background-color: #eee;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > .swiper-bar-box > .swiper-bar.point {
  background-color: #503396;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > img {
  width: 0.75rem;
  height: 0.95rem;
  margin-left: 0.575rem;
  color: #503396;
  cursor: pointer;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > img.play {
  width: 0.5rem;
  height: 0.8rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > img.pause {
  width: 0.5rem;
  height: 0.8rem;
  display: none;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > .text {
  font-size: 0.975rem;
  font-weight: 400;
  margin-left: 1.3rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > .less {
  width: 0.5rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-benefit-condition > .swiper-bar-container > .more {
  width: 0.5rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-banner {
  position: relative;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-banner > .warp-banner-container {
  display: flex;
  flex-direction: row;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-banner > .warp-banner-container > .ad-first > .link > .img {
  width: 27.5rem;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-banner > .warp-banner-container > .ad-two {
  margin-left: 1.3rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-banner > .warp-banner-container > .ad-two > .link > .img {
  width: 13rem;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-banner > .warp-banner-container > .ad-three {
  margin-left: 1.3rem;
}
#main > .main-container > .main-benefit-container > .wrap > .wrap-banner > .warp-banner-container > .ad-three > .link > .img {
  position: absolute;
  width: 25.9rem;
  bottom: 0.5rem;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link {
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #503396;
  width: 1153px;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name {
  padding-bottom: 5rem;
  top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #503396;
  color: white;
  width: 1153px;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span1 {
  position: relative;
  left: 4.7rem;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span1 > .a1 {
  text-decoration-line: none;
  color: #fff;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span2 {
  position: relative;
  left: 15.4rem;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span2 > .a2 {
  text-decoration-line: none;
  color: #fff;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span3 {
  position: relative;
  left: 26rem;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span3 > .a3 {
  text-decoration-line: none;
  color: #fff;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span4 {
  position: relative;
  left: 36.8rem;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span4 > .a4 {
  text-decoration-line: none;
  color: #fff;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span5 {
  position: relative;
  left: 49rem;
}
#main > .main-container > .main-benefit-container > .wrap > .menu-link-name > .span5 > .a5 {
  text-decoration-line: none;
  color: #fff;
}
#main > .main-container > .information-container {
  width: 100%;
  background-color: #fff;
  position: relative;
  top: 36rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main > .main-container > .information-container > .information-wrap {
  position: relative;
  width: 1153px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 0 0;
}
#main > .main-container > .information-container > .information-wrap > .information-title {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}
#main > .main-container > .information-container > .information-wrap > .information-title > h2 {
  display: block;
  font-size: 1.8666rem;
  color: #351f66;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
  unicode-bidi: isolate;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button {
  position: relative;
  display: flex;
  flex-direction: row;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box1 {
  margin-right: 16px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box1 > a > .gray {
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box1 > a > .color {
  display: none;
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box1 > a:hover > .gray {
  display: none;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box1 > a:hover > .color {
  display: block;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box2 {
  margin-right: 16px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box2 > a > .gray {
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box2 > a > .color {
  display: none;
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box2 > a:hover > .gray {
  display: none;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box2 > a:hover > .color {
  display: block;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box3 {
  margin-right: 16px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box3 > a > .gray {
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box3 > a > .color {
  display: none;
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box3 > a:hover > .gray {
  display: none;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box3 > a:hover > .color {
  display: block;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box4 {
  margin-right: 16px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box4 > a > .gray {
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box4 > a > .color {
  display: none;
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box4 > a:hover > .gray {
  display: none;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box4 > a:hover > .color {
  display: block;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box5 {
  margin-right: 16px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box5 > a > .gray {
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box5 > a > .color {
  display: none;
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box5 > a:hover > .gray {
  display: none;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box5 > a:hover > .color {
  display: block;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box6 {
  margin-right: 16px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box6 > a > .gray {
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box6 > a > .color {
  display: none;
  width: 11.5rem;
  border-radius: 5px;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box6 > a:hover > .gray {
  display: none;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .information-box6 > a:hover > .color {
  display: block;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .button-left {
  position: absolute;
  left: -4rem;
  top: 4.5rem;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
#main > .main-container > .information-container > .information-wrap > .information-link-button > .button-right {
  position: absolute;
  right: -5.5rem;
  top: 4.5rem;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
#main > .main-container > .information-container > .information-wrap > .text-container {
  position: relative;
  width: 1920px;
  margin-top: 50px;
  left: -24rem;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text {
  padding-left: 24rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: solid 1px #888888;
  border-bottom: solid 1px #888888;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .span1 {
  padding-right: 4rem;
  border-right: 1px solid #888888;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .a1 {
  color: #FFA98F;
  margin-left: 1rem;
  margin-right: 0.3rem;
  font-weight: bold;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .a1:hover {
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .span3 {
  color: black;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .span3:hover {
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .span4 {
  margin-left: 26rem;
  padding-right: 1rem;
  border-right: 1px solid #888888;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .a2 {
  margin-left: 1rem;
  text-decoration-line: none;
  color: black;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .a2:hover {
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .text-container > .text > .a2 > img {
  padding-left: 2px;
  width: 0.4rem;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container {
  position: relative;
  width: 1920px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: -24rem;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help {
  width: 1100px;
  position: relative;
  display: flex;
  flex-direction: row;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .service {
  width: 16.7%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .service > a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .service > a:hover {
  color: #000;
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .service > a > i {
  font-size: 2.5rem;
  color: #0AC9FF;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .service > a > span {
  margin-top: 0.5rem;
  color: #000;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .question {
  width: 16.7%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .question > a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .question > a:hover {
  color: #000;
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .question > a > i {
  font-size: 2.5rem;
  color: #0AC9FF;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .question > a > span {
  margin-top: 0.5rem;
  color: #000;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .one-question {
  width: 16.7%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .one-question > a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .one-question > a:hover {
  color: #000;
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .one-question > a > i {
  font-size: 2.5rem;
  color: #0AC9FF;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .one-question > a > span {
  margin-top: 0.5rem;
  color: #000;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .together {
  width: 16.7%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .together > a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .together > a:hover {
  color: #000;
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .together > a > i {
  font-size: 2.5rem;
  color: #0AC9FF;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .together > a > span {
  margin-top: 0.5rem;
  color: #000;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .forget-item {
  width: 16.7%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .forget-item > a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .forget-item > a:hover {
  color: #000;
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .forget-item > a > i {
  font-size: 2.5rem;
  color: #0AC9FF;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .forget-item > a > span {
  margin-top: 0.5rem;
  color: #000;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .the-beauty {
  width: 16.7%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .the-beauty > a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .the-beauty > a:hover {
  color: #000;
  text-decoration-line: underline;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .the-beauty > a > i {
  font-size: 2.5rem;
  color: #0AC9FF;
}
#main > .main-container > .information-container > .information-wrap > .user-help-container > .user-help > .the-beauty > a > span {
  margin-top: 0.5rem;
  color: #000;
}
#main > .main-container > .information-container > .information-wrap > .foot-ad-container {
  position: relative;
  width: 1920px;
  background-color: #E1D3CE;
  left: -24rem;
}
#main > .main-container > .information-container > .information-wrap > .foot-ad-container > .foot-ad {
  position: relative;
  width: 1100px;
  left: 24rem;
}
#main > .main-container > .information-container > .information-wrap > .foot-ad-container > .foot-ad > a > img {
  width: 100%;
}

.poster {
  position: relative;
  width: 15rem;
}

.like {
  width: 5rem;
  border: solid 1px #888888;
  border-radius: 3px;
  background-color: black;
  color: white;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}

.list-button {
  width: 9.2rem;
  background-color: #288CD2;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 300;
}

/*# sourceMappingURL=index.css.map */
