<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.AdminMapper">
    <insert id="insertMovie"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.terabox.demo.entities.MovieEntity">
        INSERT INTO `terabox`.`movies` (`title`, `release_date`, `playing_time`, `grade`, `view`, `is_single`, `thumbnail`, `thumbnail_file_name`, `thumbnail_content_type`, `age_limit`, `dimension_type`)
        VALUES (#{title}, #{releaseDate}, #{playingTime}, #{grade}, #{view}, #{isSingle}, #{thumbnail}, #{thumbnailFileName}, #{thumbnailContentType}, #{ageLimit}, #{dimensionType})
    </insert>
    <insert id="insertProduct"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.terabox.demo.entities.ProductEntity">
        INSERT INTO `terabox`.`products` (`name`, `price`, `quantity`, `thumbnail`, `thumbnail_file_name`, `thumbnail_content_type`, `type`)
        VALUES (#{name}, #{price}, #{quantity}, #{thumbnail}, #{thumbnailFileName}, #{thumbnailContentType}, #{type})
    </insert>
    <insert id="insertEvent"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.terabox.demo.entities.EventEntity">
        INSERT INTO `terabox`.`events` (`title`, `start_date`, `end_date`, `discount_rate`, `thumbnail`, `thumbnail_file_name`, `thumbnail_content_type`)
        VALUES (#{title}, #{startDate}, #{endDate}, #{discountRate}, #{thumbnail}, #{thumbnailFileName}, #{thumbnailContentType})
    </insert>

    <update id="updateMovie" parameterType="com.terabox.demo.entities.MovieEntity">
        UPDATE `terabox`.`movies`
        SET `title`                  = #{title},
            `release_date`           = #{releaseDate},
            `playing_time`           = #{playingTime},
            `grade`                  = #{grade},
            `view`                   = #{view},
            `is_single`              = #{isSingle},
            `thumbnail`              = #{thumbnail},
            `thumbnail_file_name`    = #{thumbnailFileName},
            `thumbnail_content_type` = #{thumbnailContentType},
            `age_limit`              = #{ageLimit},
            `dimension_type`         = #{dimensionType}
        WHERE `index` = #{index}
    </update>
    <update id="updateProduct" parameterType="com.terabox.demo.entities.ProductEntity">
        UPDATE `terabox`.`products`
        SET `name`                   = #{name},
            `price`                  = #{price},
            `quantity`               = #{quantity},
            `thumbnail`              = #{thumbnail},
            `thumbnail_file_name`    = #{thumbnailFileName},
            `thumbnail_content_type` = #{thumbnailContentType},
            `type`                   = #{type}
        WHERE `index` = #{index}
    </update>
    <update id="updateEvent" parameterType="com.terabox.demo.entities.EventEntity">
        UPDATE `terabox`.`events`
        SET `title`                  = #{title},
            `start_date`             = #{startDate},
            `end_date`               = #{endDate},
            `discount_rate`          = #{discountRate},
            `thumbnail`              = #{thumbnail},
            `thumbnail_file_name`    = #{thumbnailFileName},
            `thumbnail_content_type` = #{thumbnailContentType}
        WHERE BINARY `index` = #{index}
    </update>

    <delete id="deleteMovieByIndex">
        DELETE
        FROM `terabox`.`movies`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
    <delete id="deleteProductByIndex">
        DELETE
        FROM `terabox`.`products`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
    <delete id="deleteEventByIndex">
        DELETE
        FROM `terabox`.`events`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
</mapper>