<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.BookingMapper">
    <!-- 모든 영화와 극장 SELECT -->
    <select id="selectAllMovies" resultType="com.terabox.demo.entities.MovieEntity">
        SELECT
            `index`,
            `title`,
            `release_date`,
            `playing_time`,
            `thumbnail`,
            `thumbnail_file_name`,
            `thumbnail_content_type`,
            `grade`,
            `view`,
            `is_single`,
            `age_limit`,
            `dimension_type`
        FROM `terabox`.`movies`
    </select>


    <!-- 지역별 극장 수 SELECT -->
    <select id="selectTheaterCountsByRegion" resultType="com.terabox.demo.dtos.RegionCountDto">
        SELECT
            CASE
                WHEN region_code IN ('Chung', 'Daej', 'Sej') THEN 'ChungDaeSej'
                WHEN region_code IN ('Bu', 'Dae', 'Gyeong') THEN 'BuDaeGyeong'
                WHEN region_code IN ('Gwang', 'Jeon') THEN 'GwangJeon'
                ELSE region_code
                END AS region,
            COUNT(*) AS count
        FROM `terabox`.`theaters`
        GROUP BY region
    </select>

    <!-- 특정 지역의 모든 극장 SELECT -->
    <select id="selectTheatersByRegion" resultType="com.terabox.demo.entities.TheaterEntity">
        SELECT
        `theater`.`index` AS `index`,
        `theater`.`region_code` AS `regionCode`,
        `theater`.`name` AS `name`
        FROM `terabox`.`theaters` AS `theater`
        WHERE `theater`.`region_code` IN
        <if test="region == 'ChungDaeSej'">
            ('Chung', 'Daej', 'Sej')
        </if>
        <if test="region == 'BuDaeGyeong'">
            ('Bu', 'Dae', 'Gyeong')
        </if>
        <if test="region == 'GwangJeon'">
            ('Gwang', 'Jeon')
        </if>
        <if test="region != 'ChungDaeSej' and region != 'BuDaeGyeong' and region != 'GwangJeon'">
            (#{region})
        </if>
    </select>

    <select id="selectScreeningInfoByDateMovieTheater" resultType="com.terabox.demo.dtos.ScreeningInfoDto">
        SELECT
            screen.screening_time AS screeningTime,
            movie.playing_time AS playingTime,
            movie.title AS movieTitle,
            movie.dimension_type AS dimensionType,
            theater.name AS theaterName,
            cinema.number AS cinemaNumber
        FROM
            terabox.screening_info AS screen
                JOIN terabox.movies AS movie ON screen.movie_index = movie.index
                JOIN terabox.cinemas AS cinema ON screen.cinema_index = cinema.index
                JOIN terabox.theaters AS theater ON cinema.theater_index = theater.index
        WHERE
            screen.screening_date = #{screeningDate}
          AND screen.movie_index = #{movieIndex}
          AND screen.cinema_index = #{cinemaIndex}
    </select>



</mapper>