<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.EventMapper">
    <select id="selectEventsByTitle" resultType="com.terabox.demo.entities.EventEntity">
        SELECT `index` AS `index`,
               `title` AS `title`,
               `start_date` AS `startDate`,
               `end_date` AS `endDate`,
               `discount_rate` AS `discountRate`,
               `thumbnail` AS `thumbnail`,
               `thumbnail_file_name` AS `thumbnailFileName`,
               `thumbnail_content_type` AS `thumbnailContentType`
        FROM `terabox`.`events`
        WHERE `title` = #{title}
    </select>

    <select id="selectEventByIndex" resultType="com.terabox.demo.entities.EventEntity">
        SELECT `index` AS `index`,
               `title` AS `title`,
               `start_date` AS `startDate`,
               `end_date` AS `endDate`,
               `discount_rate` AS `discountRate`,
               `thumbnail` AS `thumbnail`,
               `thumbnail_file_name` AS `thumbnailFileName`,
               `thumbnail_content_type` AS `thumbnailContentType`
        FROM `terabox`.`events`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectEventsCountBySearch" parameterType="com.terabox.demo.dtos.SearchDto" resultType="_int">
        SELECT COUNT(0) AS `count`
        FROM `terabox`.`events` AS `event`
        WHERE (REPLACE(`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%'))
        ORDER BY event.`index` DESC
    </select>

    <select id="selectEventsBySearch" parameterType="com.terabox.demo.dtos.SearchDto" resultType="com.terabox.demo.entities.EventEntity">
        SELECT `index` AS `index`,
        `title` AS `title`,
        `start_date` AS `startDate`,
        `end_date` AS `endDate`,
        `discount_rate` AS `discountRate`,
        `thumbnail` AS `thumbnail`,
        `thumbnail_file_name` AS `thumbnailFileName`,
        `thumbnail_content_type` AS `thumbnailContentType`
        FROM `terabox`.`events` AS `event`
        WHERE (REPLACE(`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%'))
        ORDER BY event.`index` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>


</mapper>