<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.MovieLikeMapper">

    <insert id="insertMovieLike" parameterType="com.terabox.demo.entities.MovieLikeEntity">
        INSERT INTO `terabox`.`movie_likes`
            ( `movie_index`, `user_email`, `created_at`)
        VALUES (#{movieIndex},#{userEmail},#{createdAt})
    </insert>

    <delete id="deleteMovieLikeByEmail">
        DELETE
        FROM `terabox`.`movie_likes`
        WHERE `movie_index` = #{movieIndex}
        AND BINARY `user_email` =#{userEmail}
        LIMIT 1
    </delete>


    <select id="selectMovieLikeByIndex" resultType="com.terabox.demo.entities.MovieLikeEntity">
        SELECT  `index` AS `index`,
                `movie_index` AS `movieIndex`,
                `user_email` AS `userEmail`,
                `created_at` AS `createdAt`
        FROM `terabox`.`movie_likes`
        WHERE `movie_index` = #{movieIndex}
          AND BINARY `user_email` = #{userEmail}
        LIMIT 1
    </select>

    <select id="selectMovieCountByIndex" resultType="_int">
      SELECT COUNT(0) AS `count`
      FROM `terabox`.`movie_likes`
      WHERE BINARY `movie_index` = #{movieIndex}
    </select>





</mapper>