<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.OrderMapper">

    <insert id="insertOrder" parameterType="com.terabox.demo.entities.OrderEntity">
        INSERT INTO `terabox`.`orders`
        (user_email, movie_reservation_index, product_payment_target_index, price, user_card_mapping_index, created_at,
         total_price, total_sale)
        VALUES (#{userEmail}, #{movieReservationIndex},
                #{productPaymentTargetIndex}, #{price}, #{userCardMappingIndex}, #{createdAt}, #{totalPrice},
                #{totalSale})
    </insert>

    <insert id="insertProductPayment" parameterType="com.terabox.demo.entities.ProductPaymentTargetEntity">
        INSERT INTO `terabox`.`product_payment_target` (`product_index`, `quantity`)
        VALUES (#{productIndex}, #{quantity})
    </insert>

    <insert id="insertMovieReservation" parameterType="com.terabox.demo.entities.MovieReservationEntity">
        INSERT INTO `terabox`.`movie_reservations`
            (`screening_info_index`, `seat_index`)
        VALUES (#{screeningInfoIndex}, #{seatIndex})
    </insert>

    <select id="selectEmailByList" resultType="com.terabox.demo.vos.OrderVo">
        SELECT `orders`.`index`                        AS `index`,
               `orders`.`user_email`                   AS userEmail,
               `orders`.`movie_reservation_index`      AS movieReservationIndex,
               `orders`.`product_payment_target_index` AS productPaymentTargetIndex,
               `orders`.`price`                        AS price,
               `orders`.`user_card_mapping_index`      AS userCardMappingIndex,
               `orders`.`created_at`                   AS createdAt,
               `orders`.`total_price`                  AS totalPrice,
               `orders`.`total_sale`                   AS totalSale,
               `payment_target`.`quantity`             AS productQuantity,
               `product`.`name`                        AS productName,
               `movie`.`title`                         AS `movieTitle`
        FROM `terabox`.`orders`
#     LEFT JOIN `terabox`.`products` AS `product` ON `orders`.`product_index` = `product`.`index`

                 LEFT JOIN
             `terabox`.`product_payment_target` AS `payment_target`
             ON `orders`.`product_payment_target_index` = `payment_target`.`index`
                 LEFT JOIN
             `terabox`.`products` AS `product`
             ON `payment_target`.`product_index` = `product`.`index`
                 LEFT JOIN `terabox`.`movie_reservations` AS `reservation`
                           ON `orders`.`movie_reservation_index` = `reservation`.`index`
                 LEFT JOIN `terabox`.`screening_info` AS `screeningInfo`
                           ON `reservation`.`screening_info_index` = `screeningInfo`.`index`
                 LEFT JOIN `terabox`.`movies` AS `movie`
                           ON `movie`.`index` = `screeningInfo`.`movie_index`
        WHERE BINARY `user_email` = #{userEmail}
    </select>

    <select id="selectMovieReservationBySeatScreeningInfo" resultType="com.terabox.demo.entities.MovieReservationEntity">
        SELECT `index`                AS `index`,
               `seat_index`           AS `seatIndex`,
               `screening_info_index` AS `screeningInfoIndex`
        FROM `terabox`.`movie_reservations`
        WHERE `screening_info_index` = #{screeningInfoIndex}
          AND `seat_index` = #{seatIndex}
    </select>

    <select id="selectProductPaymentByProductIndexQuantity" resultType="com.terabox.demo.entities.ProductPaymentTargetEntity">
        SELECT `index`         AS `index`,
               `product_index` AS `product_index`,
               `quantity`      AS `quantity`
        FROM `terabox`.`product_payment_target`
        WHERE `product_index` = #{productIndex}
          AND `quantity` = #{quantity}
        LIMIT 1
    </select>



</mapper>