<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.OrderMapper">

    <insert id="insertOrder" parameterType="com.terabox.demo.entities.OrderEntity">
        INSERT INTO `terabox`.`orders`
        (user_email, movie_reservation_index, product_index, price, user_card_mapping_index, quantity, created_at,
         total_price, total_sale)
        VALUES (#{userEmail}, #{movieReservationIndex},
                #{productIndex}, #{price}, #{userCardMappingIndex}, #{quantity}, #{createdAt}, #{totalPrice},
                #{totalSale})
    </insert>

    <insert id="insertMovieReservation" parameterType="com.terabox.demo.entities.MovieReservationEntity">
        INSERT INTO `terabox`.`movie_reservations`
            (`screening_info_index`, `seat_index`)
        VALUES (#{screeningInfoIndex}, #{seatIndex})
    </insert>

    <select id="selectEmailByList" resultType="com.terabox.demo.vos.OrderVo">
    SELECT  `orders`.`index` AS `index`,
            `orders`.`user_email` AS userEmail,
            `orders`.`movie_reservation_index` AS movieReservationIndex,
            `orders`.`product_index` AS productIndex,
            `orders`.`price` AS price,
            `orders`.`user_card_mapping_index` AS userCardMappingIndex,
            `orders`. `quantity` AS quantity,
            `orders`. `created_at` AS createdAt,
            `orders`.`total_price` AS totalPrice,
            `orders`.`total_sale` AS totalSale,
            `product`.`name` AS  productName,
            `product`.`quantity` AS  productQuantity
    FROM `terabox`.`orders`
    LEFT JOIN `terabox`.`products` AS `product` ON `orders`.`product_index` = `product`.`index`
    WHERE BINARY `user_email` = #{userEmail}
    </select>

    <select id="selectMovieReservationBySeatScreeningInfo" resultType="com.terabox.demo.entities.MovieReservationEntity">
        SELECT `index`                AS `index`,
               `seat_index`           AS `seatIndex`,
               `screening_info_index` AS `screeningInfoIndex`
        FROM `terabox`.`movie_reservations`
        WHERE `screening_info_index` = #{screeningInfoIndex}
          AND `seat_index` = #{seatIndex}
    </select>



</mapper>