<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.SeatPriceMapper">
    <select id="selectSeatPrices" resultType="com.terabox.demo.entities.SeatPriceEntity">
        SELECT `type`  AS 'type',
               `price` AS 'price'
        FROM `terabox`.`seat_prices`
    </select>

</mapper>