<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabox.demo.mappers.SeatPriceMapper">
    <select id="selectSeatPrices" resultType="com.terabox.demo.entities.SeatPriceEntity">
        SELECT `type`  AS 'type',
               `price` AS 'price'
        FROM `terabox`.`seat_prices`
    </select>

    <select id="selectSeatsByIndex">
        SELECT `index`            AS `index`,
               `row`              AS `row`,
               `column`           AS `column`,
               `cinema_index`     AS `cinemaIndex`,
               `seat_status_type` AS `seatStatusType`
        FROM `terabox`.`seats`
        WHERE `index` = #{index}
    </select>

    <update id="updateSeat" parameterType="com.terabox.demo.entities.SeatEntity">
        UPDATE `terabox`.`seats`
        SET `row` = #{row},
            `column` = #{column},
            `cinema_index` = #{cinemaIndex},
            `seat_status_type` = #{seatStatusType}
        WHERE `index` = #{index}

    </update>

</mapper>