<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="form" id="modifyEventFormTwo" th:fragment="modifyEventFormTwo"
      th:with="eventRegex = ${T(com.terabox.demo.regexes.EventRegex)}" th:if="${session.user != null && session.user.isAdmin() == true}">
    <h3 class="title">이벤트 수정</h3>
</form>
</body>
</html>