<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEET PLAY SHARE, 테라박스</title>
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/theater/detail.css}">
    <script defer th:src="@{/assets/scripts/theater/detail.js}"></script>
    <script defer src="/assets/scripts/common.notHome.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/footer.css}">
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<main id="main">
    <div class="top">
        <div class="img"></div>
        <div class="gradation"></div>
        <div class="theater-all">
            <!-- theater-area-list -->
            <div class="theater-area-list">
                <ul class="area-depth1">
                    <li th:each="regionVo : ${regionVos}">
                        <a class="depth1" th:text="${regionVo.getTextTwo()}" ></a>
                        <div class="area-depth2">
                            <ul>
                                <li th:each="theaterVo : ${theaterVos}" th:if="${theaterVo.getRegionCodeTwo().equals(regionVo.getCodeTwo())}">
                                    <a th:href="@{/theater/detail (index=${theaterVo.getIndex()})}" th:text="${theaterVo.getName()}" >
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!--// theater-area-list -->
            <p class="name" th:text="${theater.getName()}"></p>
            <div class="btn-util right">
                <div class="block">
                    <button type="button" class="btn btn-like tooltip click login" th:if="${session.user != null}">
                        <img src="/assets/images/common/favicon.ico" alt="" class="preferred-theater">
                        <span>선호극장</span>
                    </button>
                    <button type="button" class="btn btn-like tooltip click" th:if="${session.user == null}">
                        <img src="/assets/images/common/favicon.ico" alt="" class="preferred-theater">
                        <span>선호극장</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <h2 class="tit small">시설안내</h2>
        <h3 class="tit small">보유시설</h3>
        <div class="theater-facility">
            <p><img src="/assets/images/theater/normalCinema.png" alt="">일반상영관</p>
            <p><img src="/assets/images/theater/disabledSeat.png" alt="">장애인석</p>
        </div>
        <h3 class="tit small mt30">층별안내</h3>
        <ul class="dot-list">
            <li><span class="font-gblue">8층 : </span> 매표소, 매점, 에스컬레이터, 엘리베이터 , 남자 · 여자 화장실, 비상계단 3</li>
            <li><span class="font-gblue">9층 : </span> 1관, 2관, 남자 · 여자 화장실, 엘리베이터, 비상계단3</li>
            <li><span class="font-gblue">10층 : </span> 3관, 4관, 엘리베이터2, 남자 · 여자 화장실, 비상계단 3</li>
            <li><span class="font-gblue">11층 : </span> 5관, 6관, 7관, 엘리베이터2, 남자 · 여자 화장실, 비상계단 3</li>
        </ul>
        <h2 class="tit small mt70">교통안내</h2>
        <h3 class="tit small">약도</h3>
        <ul class="dot-list">
            <li><span class="font-gblue">도로명주소 : </span> xx시 xx구 xxx로 xx길 xx (xx동)</li>
        </ul>
        <div class="location-map-btn mt15">
            <div class="btn-group left">
                <a href="/assets/images/theater/location.png"
                   class="button purple" target="_blank" title="새창열림">지도에서 보기</a>
            </div>
        </div>
        <h3 class="tit small mt30">주차</h3>
        <div class="parking-info">
            <div class="parking-section">
                <div class="icon-box">
                    <img src="/assets/images/theater/parking.png" alt="">
                </div>
                <div class="info">
                    <p class="tit">주차안내</p>
                    <ul class="dot-list">
                        <li>주차 위치는 ~~ 입니다.</li>
                    </ul>
                </div>
            </div>


            <div class="parking-section">
                <div class="icon-box">
                    <img src="/assets/images/theater/car.png" alt="">
                </div>
                <div class="info">
                    <p class="tit">주차확인</p>

                    <ul class="dot-list">

                        <li>8층 주차정산기에서 티켓 하단 바코드 인증 후 할인 등록</li>

                        <li>영화 관람 시 3시간 30분 : 3천원 (이후 10분당 1천원 / 카드결제만 가능)</li>

                    </ul>
                </div>
            </div>


            <div class="parking-section">
                <div class="icon-box">
                    <img src="/assets/images/theater/timeMoney.png" alt="">
                </div>
                <div class="info">
                    <p class="tit">주차요금</p>
                    <ul class="dot-list">
                        <li>주차는 입차시간 기준으로, 입차 후 20분 이후부터 정산 가능</li>
                        <li>건물 내 타 매장과 주차 할인 중복 적용 불가</li>
                        <li>주차 공간이 협소하므로 가급적이면 대중교통을 이용 바랍니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="tit small mt30">대중교통</h3>
        <!-- location-info -->
        <div class="public-transportation">
            <!-- 버스 정보 -->
            <div class="transportation-section">
                <div class="icon-box">
                    <img src="/assets/images/theater/bus.png" alt="">
                </div>
                <div class="info">
                    <p class="tit">버스</p>
                    <ul class="dot-list">
                        <li>xxx번, yyy번 zzzz번</li>
                    </ul>
                </div>
            </div>
            <!-- 지하철 정보 -->
            <div class="transportation-section">
                <div class="icon-box">
                    <img src="/assets/images/theater/subway.png" alt="">
                </div>
                <div class="info">
                    <p class="tit">지하철</p>
                    <ul class="dot-list">
                        <li>지하철 x호선, xx선 'xx역 - > 지하철 x번 출구</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>

</body>
</html>