<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEET PLAY SHARE, 테라박스</title>
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/theater/list.css}">
    <script defer th:src="@{/assets/scripts/theater/list.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>

<main id="main">
    <h2 class="title2">전체극장</h2>
    <div class="theater-box">
        <div class="theater-place">
            <ul>
                <li th:each="regionVo : ${regionVos}">
                    <button type="button" class="sel-city" th:text="${regionVo.getTextTwo()}">
                    </button>
                    <div class="theater-list">
                        <ul>
                            <li th:if="${theaterVo.getRegionCodeTwo().equals(regionVo.getCodeTwo())}" th:each="theaterVo : ${theaterVos}" >
                                <a th:href="@{/theater/detail (index = ${theaterVo.getIndex()})}" th:text="${theaterVo.getName()}"></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-theater">
            <!-- 로그인 전 -->
            <div th:if="${session.user == null}">
                <img class="icon" th:src="@{/assets/images/common/favicon.ico}" alt="">
                나의 선호영화관 정보
                <a class="button link ml10" title="로그인하기" rel="showLogin">로그인하기</a>
            </div>
<!--            로그인 후-->
            <div th:if="${session.user != null}">
                <img class="icon" th:src="@{/assets/images/common/favicon.ico}" alt="">
                <span style="color: #01738b; padding-left: 5px;" th:text="${session.user.getNickname()}"> 하성동</span>님의 선호영화관
                <div class="spring" style="flex-grow: 1"></div>
                <a class="button link ml10" title="로그인하기">선호영화관 관리</a>
            </div>
        </div>
    </div>
    <div class="event-container">
        <div class="title-bar">
            <h3 class="title3">극장 이벤트</h3>
            <div class="spring"></div>
            <a class="link">
                더보기
                <img class="icon" th:src="@{/assets/images/common/moreGray.png}" alt="">
            </a>
        </div>
        <div class="event-box">
            <img class="icon" alt="" th:each="event : ${eventTwo}" th:src="@{/event/image (index=${event.getIndex()})}">
        </div>
    </div>
    <div class="notice-container">
        <div class="title-bar">
            <h3 class="title3">극장 공지사항</h3>
            <div class="spring"></div>
            <a class="link">
                더보기
                <img class="icon" th:src="@{/assets/images/common/moreGray.png}" alt="">
            </a>
        </div>
        <table class="board-list">
            <caption>극장, 제목, 지역, 등록일이 들어간 극장 공지사항 목록</caption>
            <colgroup>
                <col style="width:150px;">
                <col>
                <col style="width:150px;">
                <col style="width:120px;">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">극장</th>
                <th scope="col">제목</th>
                <th scope="col">지역</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>성수</td>
                <th scope="row">
                    <a class="link"
                       title="[성수지점] 5/15(수)~5/19(일) 7층 부티크 스위트 미운영 안내 상세보기">
                        [성수지점] 5/15(수)~5/19(일) 7층 부티크 스위트 미운영 안내
                    </a>
                </th>
                <td>서울</td>
                <td>2024.05.14</td>
            </tr>
            <tr>
                <td>김포한강신도시</td>
                <th scope="row">
                    <a class="link"
                       title="[김포한강신도시] 지하주차장 공사 안내 (5월 13일 ~ 30일, 11일간) 상세보기">
                        [김포한강신도시] 지하주차장 공사 안내 (5월 13일 ~ 30일, 11일간)
                    </a>
                </th>
                <td>경기</td>
                <td>2024.05.10</td>
            </tr>
            <tr>
                <td>광명AK플라자</td>
                <th scope="row">
                    <a class="link"
                       title="[광명AK플라자]5월 12일(일요일) 극장 영업시간 조정 안내 상세보기">
                        [광명AK플라자]5월 12일(일요일) 극장 영업시간 조정 안내
                    </a>
                </th>
                <td>경기</td>
                <td>2024.05.07</td>
            </tr>
            <tr>
                <td>마산</td>
                <th scope="row">
                    <a class="link"
                       title="[마산]영업재개 및 후속 조치 안내 상세보기">
                        [마산]영업재개 및 후속 조치 안내
                    </a>
                </th>
                <td>부산/대구/경상</td>
                <td>2024.05.07</td>
            </tr>
            <tr>
                <td>상암월드컵경기장</td>
                <th scope="row">
                    <a class="link"
                       title="[상암월드컵경기장지점] 24년 5월 상암월드컵주경기장 행사로 인한 주차 안내 상세보기">
                        [상암월드컵경기장지점] 24년 5월 상암월드컵주경기장 행사로 인한 주차 안내
                    </a>
                </th>
                <td>서울</td>
                <td>2024.04.30</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>