<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="form" id="addEventForm" th:fragment="addEventForm"
      th:with="movieRegex = ${T(org.example.demo.regexes.MovieRegex)}">
    <h3 class="title">이벤트 추가</h3>
    <div class="content">
        <label class="_obj-label title" rel="titleLabel">
            <span class="__text">이벤트 제목</span>
            <!--            <input autofocus required class="_obj-input __field" type="text" name="name" maxlength="100" minlength="1" placeholder="이벤트 제목(숫자, 영어 대소문자, 완성 한글, 공백 1자 이상 100자 이하)" spellcheck="false" th:attrappend="data-regex=${movieRegex.name.expression}">-->
            <input autofocus required class="_obj-input __field" type="text" name="title" maxlength="100" minlength="1"
                   placeholder="숫자, 영어 대소문자, 완성 한글, 공백, 1자 이상 100자 이하" spellcheck="false">
            <span class="__warning">올바른 제목을 입력해 주세요.</span>
        </label>
        <label class="_obj-label thumbnail" rel="thumbnailLabel">
            <input hidden accept="image/*" name="thumbnail" type="file">
            <span class="__text">대표 이미지</span>
            <span class="image-wrapper">
                <span class="empty">대표 이미지를 선택해 주세요.</span>
                <img alt="" class="image" src="">
            </span>
        </label>
        <label class="_obj-label" rel="releaseDateLabel">
            <span class="__text">이벤트 시작일</span>
            <input class="_obj-input __field" type="date" name="startDate">
            <span class="__warning">올바른 날짜를 입력해 주세요.</span>
        </label>
        <label class="_obj-label" rel="playingTimeLabel">
            <span class="__text">이벤트 종료일</span>
            <input class="_obj-input __field" type="date" name="endDate">
            <span class="__warning">올바른 날짜를 입력해 주세요.</span>
        </label>
        <label class="_obj-label" rel="isSingleLabel">
            <span class="__text">가격 할인율</span>
            <input class="_obj-input __field" type="number" name="discountRate" placeholder="(%)">
            <span class="__warning">올바른 값을 입력해 주세요.</span>
        </label>
        <div class="spring"></div>
        <button type="submit">추가하기</button>
        <button type="button" rel="hideAddEventForm">취소</button>
    </div>
</form>
</body>
</html>