<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="form" id="addMovieForm" th:fragment="addMovieForm" th:with="movieRegex = ${T(com.terabox.demo.regexes.MovieRegex)}">
    <h3 class="title">영화 추가</h3>
    <div class="content">
        <label class="_obj-label title" rel="titleLabel">
            <span class="__text">영화 제목</span>
<!--            <input autofocus required class="_obj-input __field" type="text" name="name" maxlength="100" minlength="1" placeholder="영화 제목(숫자, 영어 대소문자, 완성 한글, 공백 1자 이상 100자 이하)" spellcheck="false" th:attrappend="data-regex=${movieRegex.name.expression}">-->
            <input autofocus required class="_obj-input __field" type="text" name="title" maxlength="100" minlength="1" placeholder="숫자, 영어 대소문자, 완성 한글, 공백, 1자 이상 100자 이하" spellcheck="false">
            <span class="__warning">올바른 제목을 입력해 주세요.</span>
        </label>
        <label class="_obj-label thumbnail" rel="thumbnailLabel">
            <input hidden accept="image/*" name="thumbnail" type="file">
            <span class="__text">대표 이미지</span>
            <span class="image-wrapper">
                <span class="empty">대표 이미지를 선택해 주세요.</span>
                <img alt="" class="image" src="">
            </span>
        </label>
        <label class="_obj-label" rel="releaseDateLabel">
            <span class="__text">영화 개봉일</span>
            <input class="_obj-input __field" type="date" name="releaseDate" spellcheck="false">
            <span class="__warning">올바른 날짜를 입력해 주세요.</span>
        </label>
        <label class="_obj-label" rel="playingTimeLabel">
            <span class="__text">영화 러닝타임</span>
            <span>
                <input class="_obj-input __field" type="number" name="hour" placeholder="시간" spellcheck="false">
                <input class="_obj-input __field" type="number" name="minute" placeholder="분" spellcheck="false">
                <input class="_obj-input __field" type="number" name="second" placeholder="초" spellcheck="false">
                <span class="text">영화 길이는 1 ~ 2시간 사이입니다.</span>
            </span>

            <span class="__warning">올바른 시간을 입력해 주세요.</span>
        </label>
        <label class="_obj-label" rel="isSingleLabel">
            <span class="__text">영화 단독 개봉 여부</span>
            <input class="_obj-input __field" type="checkbox" name="isSingle">
            <span class="__warning">올바른 값을 입력해 주세요.</span>
        </label>
        <div class="spring"></div>
        <button type="submit">추가하기</button>
        <button type="button" rel="hideAddMovieForm">취소</button>
    </div>
</form>
</body>
</html>