<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<aside id="adminAside" class="" th:fragment="adminAside">
    <h2 class="title">관리자 모드 기능</h2>
    <ul>
        <li>
            <button type="button" rel="showAddMovieForm">영화 추가</button>
        </li>
        <li>
            <button type="button" rel="showAddMovieForm">영화 수정</button>
        </li>
        <li>
            <button type="button" rel="showDeleteMovieForm">영화 삭제</button>
        </li>
        <li>
            <button type="button" rel="showAddProductForm">스토어 상품 추가</button>
        </li>
        <li>
            <button type="button" rel="showModifyProductForm">스토어 상품 수정</button>
        </li>
        <li>
            <button type="button" rel="showDeleteProductForm">스토어 상품 삭제</button>
        </li>
        <li>
            <button type="button" rel="showDeleteProductForm">이벤트 추가</button>
        </li>
        <li>
            <button type="button" rel="showDeleteProductForm">이벤트 수정</button>
        </li>
        <li>
            <button type="button" rel="showDeleteProductForm">이벤트 삭제</button>
        </li>
<!--        극장은 보류-->
<!--        <li>-->
<!--            <button type="button" rel="showDeleteProductForm">극장 추가</button>-->
<!--        </li>-->
<!--        <li>-->
<!--            <button type="button" rel="showDeleteProductForm">극장 수정</button>-->
<!--        </li>-->
<!--        <li>-->
<!--            <button type="button" rel="showDeleteProductForm">극장 삭제</button>-->
<!--        </li>-->
    </ul>
    <button type="button">
        <img class="more on" th:src="@{/assets/images/common/lessAside.png}" alt="">
        <img class="less" th:src="@{/assets/images/common/lessAside.png}" alt="">
    </button>
</aside>
</body>
</html>