<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>제목 미정</title>
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/benefit/discount/creditcard.css}">
    <script defer th:src="@{/assets/scripts/benefit/discount.js}"></script>
    <script>
        window.onload = () => {
            window.scroll({
                // 현재 화면의 위치를 해당 값으로 이동한다.
                top: document.querySelector('nav#nav').offsetTop,
                left: 0,
                // 스크롤로 움직이는 것처럼 부드럽게 이동, 이거 안하면 순간이동함
                behavior: "smooth"
            });

            const cardSearchButtons = document.querySelectorAll('.search-card-button-bar > [type="button"]');
            cardSearchButtons.forEach(cardSearchButton => cardSearchButton.onclick = () => {
                cardSearchButtons.forEach(cardSearchButton => cardSearchButton.classList.remove('on'));

                const cardLists = document.querySelectorAll('.card-list-block > ul > li');
                // foreach는 탈출이 안된대서 forof 사용
                for (let cardList of cardLists) {
                    cardLists.forEach(cardList => cardList.classList.remove('on'))
                    if (cardSearchButton.innerText === cardList.querySelector(':scope > .tit > span').innerText){
                        cardList.classList.add('on');
                        cardSearchButton.classList.add('on');
                        return;
                    } else if (cardSearchButton.innerText === '전체') {
                        cardSearchButton.classList.add('on');
                        cardLists.forEach(cardList => cardList.classList.add('on'));
                        return;
                    }
                }
            })
        };
    </script>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<main id="main">
    <h2 class="title2">제휴할인</h2>
    <div class="AffiliateEvent">
        <th:block th:replace="~{fragments/discount/discount.html :: discount('제휴 이벤트')}"></th:block>
    </div>
    <nav id="nav">
        <ul class="tab">
            <li class="item">
                <a class="link" th:href="@{./guide}">할인안내</a>
            </li>
            <li class="item on">
                <a class="link" th:href="@{./creditcard}" th:text="${'신용카드(' + (cardsCount - 1) + ')'}">신용카드(4)</a>
            </li>
            <li class="item">
                <a class="link" th:href="@{./telecomcard}">통신사(3)</a>
            </li>
            <li class="item">
                <a class="link" th:href="@{./pointcard}">포인트/기타제휴(14)</a>
            </li>
            <li class="item">
                <a class="link" th:href="@{./giftcard}">상품권/관람권(4)</a>
            </li>
        </ul>
    </nav>
    <div class="all-card-container" id="all-card-container">
        <div class="search-card">
            <div class="text-box">
                <span class="title">더욱 알뜰하게 메가박스를 즐기는 방법!</span>
                <span class="text">소지하고 계신 카드를 검색해 보세요. 할인 및 혜택정보를 빠르게 확인할 수 있어요.</span>
            </div>
        </div>
        <div class="search-card-button-bar">
            <button type="button" class="on">전체</button>
            <button type="button" th:each="card : ${cards}" th:text="${card.getName()}"
                    th:if="${!card.getName().equals('카카오페이')}"></button>
        </div>
        <div class="card-list-block">
            <ul>
                <li class="on">
                    <h3 class="tit">
                        <span>국민카드</span>
                    </h3>
                    <div class="list">
                        <ul>
                            <li>
                                <div class="img">
                                    <img src="/assets/images/discount/kookminCard.png" alt="null">
                                </div>
                                <div class="cont">
                                    <div class="top">
                                        <div class="name">KB국민카드</div>
                                        <div class="spring"></div>
                                        <div class="sale">
                                            <span class="online">인터넷할인</span>
                                        </div>
                                        <div class="sale">
                                            <span class="offline">현장할인</span>
                                        </div>
                                    </div>
                                    <ul class="dot-list">할인방식 : 선할인<br>
                                        제공혜택 : 10% 즉시할인<br>
                                        사용조건 : 온라인 결제<br>
                                        서비스 제공조건<br>
                                        - 건당 이용금액 10,000원 이상 시 월 1회 10% 즉시할인 제공<br>
                                        &nbsp; &nbsp;* 선할인 미선택 시 할인혜택 제공 불가<br>
                                        - 전월 국내가맹점 이용금액 40만원 이상 시 제공
                                    </ul>
                                    <div class="btn">
                                        <a title="카드사 홈페이지 이동" class="button purple">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="on">
                    <h3 class="tit">
                        <span>비씨카드</span>
                    </h3>
                    <div class="list">
                        <ul>
                            <li>
                                <div class="img">
                                    <img src="/assets/images/discount/BCCard.png" alt="null">
                                </div>
                                <div class="cont">
                                    <div class="top">
                                        <div class="name">비씨카드</div>
                                        <div class="spring"></div>
                                        <div class="sale">
                                            <span class="online">인터넷할인</span>
                                        </div>
                                        <div class="sale">
                                            <span class="offline">현장할인</span>
                                        </div>
                                    </div>
                                    <ul class="dot-list">할인방식 : 선할인<br>
                                        제공혜택 : 5% 즉시할인<br>
                                        사용조건 : 온라인 결제<br>
                                        서비스 제공조건<br>
                                        - 건당 이용금액 10,000원 이상 시 월 1회 5% 즉시할인 제공<br>
                                        &nbsp; &nbsp;* 선할인 미선택 시 할인혜택 제공 불가<br>
                                        - 전월 국내가맹점 이용금액 40만원 이상 시 제공
                                    </ul>
                                    <div class="btn">
                                        <a title="카드사 홈페이지 이동" class="button purple">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="on">
                    <h3 class="tit">
                        <span>삼성카드</span>
                    </h3>
                    <div class="list">
                        <ul>
                            <li>
                                <div class="img">
                                    <img src="/assets/images/discount/samsungCard.png" alt="null">
                                </div>
                                <div class="cont">
                                    <div class="top">
                                        <div class="name">삼성카드</div>
                                        <div class="spring"></div>
                                        <div class="sale">
                                            <span class="online">인터넷할인</span>
                                        </div>
                                        <div class="sale">
                                            <span class="offline">현장할인</span>
                                        </div>
                                    </div>
                                    <ul class="dot-list">할인방식 : 선할인<br>
                                        제공혜택 : 15% 즉시할인<br>
                                        사용조건 : 온라인 결제<br>
                                        서비스 제공조건<br>
                                        - 건당 이용금액 10,000원 이상 시 월 1회 15% 즉시할인 제공<br>
                                        &nbsp; &nbsp;* 선할인 미선택 시 할인혜택 제공 불가<br>
                                        - 전월 국내가맹점 이용금액 40만원 이상 시 제공
                                    </ul>
                                    <div class="btn">
                                        <a title="카드사 홈페이지 이동" class="button purple">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="on">
                    <h3 class="tit">
                        <span>신한카드</span>
                    </h3>
                    <div class="list">
                        <ul>
                            <li>
                                <div class="img">
                                    <img src="/assets/images/discount/shinhanCard.png" alt="null">
                                </div>
                                <div class="cont">
                                    <div class="top">
                                        <div class="name">신한카드</div>
                                        <div class="spring"></div>
                                        <div class="sale">
                                            <span class="online">인터넷할인</span>
                                        </div>
                                        <div class="sale">
                                            <span class="offline">현장할인</span>
                                        </div>
                                    </div>
                                    <ul class="dot-list">할인방식 : 선할인<br>
                                        제공혜택 : 7% 즉시할인<br>
                                        사용조건 : 온라인 결제<br>
                                        서비스 제공조건<br>
                                        - 건당 이용금액 10,000원 이상 시 월 1회 7% 즉시할인 제공<br>
                                        &nbsp; &nbsp;* 선할인 미선택 시 할인혜택 제공 불가<br>
                                        - 전월 국내가맹점 이용금액 40만원 이상 시 제공
                                    </ul>
                                    <div class="btn">
                                        <a title="카드사 홈페이지 이동" class="button purple">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <script>

        </script>
    </div>
</main>