<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEET PLAY SHARE, 테라박스</title>
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/benefit/discount/pointcard.css}">
    <script defer th:src="@{/assets/scripts/benefit/discount.js}"></script>
    <script defer src="/assets/scripts/common.notHome.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/footer.css}">
    <script defer>
        window.onload = () => {
            window.scroll({
                top: document.querySelector('nav#nav').offsetTop,
                left: 0,
                behavior: "smooth"
            });
        };
    </script>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<main id="main">
    <h2 class="title2">제휴할인</h2>
    <div class="AffiliateEvent">
        <th:block th:replace="~{fragments/discount/discount.html :: discount('제휴 이벤트')}"></th:block>
    </div>
    <nav id="nav">
        <ul class="tab">
            <li class="item">
                <a class="link" th:href="@{./guide}">할인안내</a>
            </li>
            <li class="item">
                <a class="link" th:href="@{./creditcard}" th:text="${'신용카드(' + (cardsCount) + ')'}">신용카드(4)</a>
            </li>
            <li class="item">
                <a class="link" th:href="@{./telecomcard}">통신사(3)</a>
            </li>
            <li class="item on">
                <a class="link" th:href="@{./pointcard}">포인트/기타제휴(14)</a>
            </li>
            <li class="item">
                <a class="link" th:href="@{./giftcard}">상품권/관람권(4)</a>
            </li>
        </ul>
    </nav>
    <div class="all-point-container" id="all-point-container">
        <div class="search-card">
            <div class="text-box">
                <span class="title">더욱 알뜰하게 메가박스를 즐기는 방법!</span>
                <span class="text">소지하고 계신 카드를 검색해 보세요. 할인 및 혜택정보를 빠르게 확인할 수 있어요.</span>
            </div>
        </div>
        <div class="card-list-block">
            <h3 class="tit">
                <span id="CPCT99">기타</span>
            </h3>
            <div class="list">
                <ul>
                    <li>
                        <div class="img">
                            <img src="/assets/images/discount/point1.png"
                                 alt="블루멤버스 포인트"></div>
                        <div class="cont">
                            <div class="top">
                                <div class="name">블루멤버스 포인트</div>
                                <div class="spring"></div>
                                <div class="sale">
                                    <span class="online">인터넷할인</span>
                                </div>
                                <div class="sale">
                                    <span class="offline">현장할인</span>
                                </div>
                            </div>
                            <ul class="dot-list">
                                <p>할인 유형 : 포인트 차감</p>
                                <p>제공 혜택 : 티켓 1매당 4천원 할인(1일 최대 8매)</p>
                                <p>사&nbsp; 용&nbsp; 처 : 온/오프라인</p>
                                <p>유의 사항 : 우대/문화의날 이용불가<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;돌비시네마 할인 불가<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;타사 제휴포인트 중복할인(최대 2개까지)
                                    적용가능<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span
                                            style="color:#c0392b;">(단, 현대M포인트, 문화누리카드 중복적용 불가)</span></p>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/assets/images/discount/point2.png"
                                 alt="null"></div>
                        <div class="cont">
                            <div class="top">
                                <div class="name">기아멤버스</div>
                                <div class="spring"></div>
                                <div class="sale">
                                    <span class="online">인터넷할인</span>
                                </div>
                                <div class="sale">
                                    <span class="offline">현장할인</span>
                                </div>
                            </div>
                            <ul class="dot-list"><p>할인 유형 : 포인트 차감</p>
                                <p>제공 혜택 : 결제금액의 일부 혹은 전체 포인트 차감사용 가능</p>
                                <p>사&nbsp; 용&nbsp; 처 : 온/오프라인</p>
                                <p>유의 사항 : 잔여 1,000 포인트 이상 보유 시, 1,000 포인트 단위로 사용 가능<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;* 포인트 차감금액 메가박스 멤버십 적립 불가
                                </p>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/assets/images/discount/point3.png"
                                 alt="null"></div>
                        <div class="cont">
                            <div class="top">
                                <div class="name">OK캐쉬백(사용)</div>
                                <div class="spring"></div>
                                <div class="sale">
                                    <span class="online">인터넷할인</span>
                                </div>
                                <div class="sale">
                                    <span class="offline">현장할인</span>
                                </div>
                            </div>
                            <ul class="dot-list">
                                <p>할인 유형 : 포인트 차감</p>
                                <p>제공 혜택 : 결제금액의 일부 혹은 전체 포인트 차감사용 가능</p>
                                <p>사&nbsp; 용&nbsp; 처 : 온/오프라인</p>
                                <p>유의 사항 : 잔여 1천 포인트 이상 보유 시, 현장 500점/ 온라인 100점 단위로 사용 가능<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;사용 시 현장과 온라인 비밀번호 상이함으로
                                    오케이캐쉬백 홈페이지 참조<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;* 포인트 차감금액 메가박스 멤버십 적립 불가<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/assets/images/discount/point4.png"
                                 alt="GS&amp;amp;Point 카드"></div>
                        <div class="cont">
                            <div class="top">
                                <div class="name">GS&amp;Point 카드</div>
                                <div class="spring"></div>
                                <div class="sale">
                                    <span class="online">인터넷할인</span>
                                </div>
                                <div class="sale">
                                    <span class="offline">현장할인</span>
                                </div>
                            </div>
                            <ul class="dot-list">
                                <p>할인 유형 : 포인트 차감</p>
                                <p>제공 혜택 : 티켓 1매당 2천원 할인(1일 최대 10매)</p>
                                <p>사&nbsp; 용&nbsp; 처 : 온/오프라인</p>
                                <p>유의 사항 : 우대/문화의날 이용불가<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;돌비시네마 할인 불가<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 타사 제휴포인트 중복할인(최대 2개까지)
                                    적용가능<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <span style="color:#c0392b;">(단, 현대M포인트, 문화누리카드 중복적용 불가)</span>
                                </p>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/assets/images/discount/point5.jpg"
                                 alt="해피포인트 카드"></div>
                        <div class="cont">
                            <div class="top">
                                <div class="name">해피포인트 카드</div>
                                <div class="spring"></div>
                                <div class="sale">
                                    <span class="online">인터넷할인</span>
                                </div>
                                <div class="sale">
                                    <span class="offline">현장할인</span>
                                </div>
                            </div>
                            <ul class="dot-list">
                                <p>할인 유형 : 포인트 차감</p>
                                <p>제공 혜택 : 티켓 1매당 2천p, 5천p 중 선택하여 할인</p>
                                <p>사&nbsp; 용&nbsp; 처 : 온/오프라인</p>
                                <p>유의 사항 : 우대/문화의날 이용불가<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;돌비시네마 할인 불가<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;타사 제휴포인트 중복할인(최대 2개까지)
                                    적용가능<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <span style="color:#c0392b">(단, 현대M포인트, 문화누리카드 중복적용 불가)</span></p>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/assets/images/discount/point6.png"
                                 alt="하나포인트"></div>
                        <div class="cont">
                            <div class="top">
                                <div class="name">하나포인트</div>
                                <div class="spring"></div>
                                <div class="sale">
                                    <span class="online">인터넷할인</span>
                                </div>
                                <div class="sale">
                                    <span class="offline">현장할인</span>
                                </div>
                            </div>
                            <ul class="dot-list">
                                <p>할인 유형 : 포인트 차감</p>
                                <p>제공 혜택 : 결제금액의 일부 혹은 전체 포인트 차감사용 가능</p>
                                <p>사&nbsp; 용&nbsp; 처 : 온/오프라인</p>
                                <p>유의 사항 : 하나포인트 사용 대상카드에 한하여 사용 가능(BC 제외)<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;보유 포인트 1P 이상 시 사용 가능</p>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>