<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEET PLAY SHARE, 테라박스</title>

    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <script defer type="text/javascript" th:src="@{/assets/scripts/store.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/styles/store/payment.css}">
    <link rel="stylesheet" th:href="@{/assets/styles/store/order.css}">
    <script defer src="/assets/scripts/common.notHome.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/footer.css}">
</head>
<body>
<th:block th:replace="~{/store/payment.html::payment}"></th:block>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>

<div class="container">
    <div class="page-util">
        <div class="inner">
            <div class="location">
                <span>home</span>
                <a class="icon"></a>
                <a th:href="@{/store/store}" class="event">스토어</a>
                <a class="icon"></a>
                <a th:href="@{/store/order}" class="last-event">결제</a>
            </div>
        </div>
    </div>
    <div class="content">
        <input class="index" type="hidden" name="index" th:value="${order.getIndex()}">
        <div class="inner">
            <h2 class="title">결제</h2>
            <div class="sub-info">
                <h3 class="bundle">주문상품정보</h3>
            </div>
            <div class="event-list">
                <div class="inner">
                    <div class="table-wrap">
                        <table class="board-list">
                            <caption>주문상품정보 목록 표</caption>
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:150px;">
                                <col style="width:90px;">
                                <col style="width:200px;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="colgroup" colspan="2">주문상품</th>
                                <th scope="col">사용가능처</th>
                                <th scope="col">구매수량</th>
                                <th scope="col">총 상품금액</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="a-c">
                                    <div class="goods-info">
                                        <p class="img">
                                            <img th:src="@{/product/image(index=${order.getIndex()})}" alt="Image" >
                                        </p>
                                    </div>
                                </td>
                                <th scope="row">
                                    <div class="goods-info">
                                        <p class="name">
                                            <span title="Dolby Cinema 전용관람권" th:text="${order.getName()}"></span>
                                        </p>
                                        <p class="bundle subTitle" th:text="${order.getSubTitle()}"></p>
                                    </div>
                                    <div class="mt10">
                                        <span id="acptBrchView" class="font-gblue"></span>
                                        <em id="acptBrchChoiValView"></em>
                                    </div>
                                </th>
                                <td>
                                    <a class="a-link" title="사용가능극장 확인">사용가능극장 확인</a>
                                </td>
                                <td>
                                    <em id="orderQuantity" th:text="${inputText}">1</em>
                                </td>
                                <td>
                                    <div class="goods-info">
                                        <em id="orderPrice" class="price" th:text="${price}">18,000</em>원
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 최종결제 -->
                    <h3 class="tit mt40">최종결제</h3>
                    <div class="payment-final">
                        <div class="calc">
                            <div class="cell all">
                                <p class="txt">총 상품금액</p>
                                <p class="price">
                                    <em id="orderTotalPrice" th:text="${price}">15,000</em>
                                    <span>원</span>
                                </p>
                            </div>
                            <i class="iconset ico-circle-minus"></i>
                            <div class="cell sale">
                                <p class="txt" >할인금액</p>
                                <p class="price">
                                    <em id="totalSale">0</em>
                                    <span>원</span>
                                </p>
                            </div>
                            <i class="iconset ico-circle-equal"></i>
                            <div class="cell real">
                                <p class="txt">최종 결제금액</p>
                                <p class="price">
                                    <em class="N" id="totalPrice"></em>
                                    <span>원</span>
                                </p>
                            </div>
                        </div>
                        <div class="choice">
                            <div class="inbox">
                                <p class="txt">결제수단 선택</p>
                                <div class="cell">
                                    <input type="radio" id="radio_choice01" name="radio_choice" value="credit">
                                    <label for="radio_choice01">신용/체크카드</label> <!--label for 은 어디 input 태그를 참조하고 있는지 확인-->
                                </div>
                                <div class="cell">
                                    <input type="radio" id="radio_choice03" name="radio_choice" value="카카오페이카드">
                                    <label for="radio_choice03">카카오페이</label>
                                </div>
                            </div>
                        </div>
                        <div class="choice select-card">
                            <div class="inbox">
                                <p class="txt">카드사 선택</p>
                                <div class="cell">
                                    <select id="card_select" title="카드사 선택" class="x-small selpicker">
                                        <option value="00" selected="">카드선택</option><!-- 전체카드   -->
                                        <option value="비씨카드">비씨카드</option>
                                        <!-- 비씨카드   -->
                                        <option value="국민카드">국민카드</option>
                                        <!-- 국민카드   -->
                                        <option value="신한카드">신한카드</option>
                                        <!-- 신한카드   -->
                                        <option value="삼성카드">삼성카드</option>
                                        <!-- 삼성카드   -->
                                    </select>
                                </div>
                                <div class="cell pl0">
                                    <input type="radio" name="rdo_card_select" id="app_card" value="01">
                                    <label for="app_card" id="lab_app_card">앱카드</label>
                                </div>
                                <div class="cell">
                                    <input type="radio" name="rdo_card_select" id="general_card"  value="00">
                                    <label for="general_card" id="lab_general_card">일반결제</label>
                                </div>

                            </div>
                        </div>

                        <!-- 결제수단 별 알림문구 -->
                        <div class="select-mobile-info" style="display:none;padding-top:20px;width:640px;margin:auto;">
                            <ul class="dash-list">
                                <li>결제하신 금액은 익월 휴대폰 요금에 합산되어 청구되며, 휴대폰 결제한도는 통산사별 월 누적 이용 제한에 따라 적용됩니다.</li>
                                <li>매월 말일 23시30분 ~ 익월 00시 10분까지(40분간)는 시스템 점검시간으로 이용이 어려울 수 있습니다.</li>
                                <li>휴대폰 결제와 관련된 추가 안내는 FAQ를 참조해주세요.</li>
                            </ul>
                        </div>

                        <div class="select-toss-info" style="display:none;padding-top:20px;width:640px;margin:auto;">
                            <ul class="dash-list">
                                <li>토스에 등록된 계좌와 신용/체크카드로 쉽고 편리하게 결제하세요.</li>
                                <li>토스페이 결제 시 토스에서 제공하는 카드사 별 무이자, 청구할인, 결제 이벤트만 제공됩니다.</li>
                            </ul>
                        </div>

                        <div class="select-kakao-info" style="padding-top: 0; width: 640px; margin: auto;">
                            <ul class="dash-list">
                                <li>즉시할인 신용카드 적용이 불가합니다.</li>
                            </ul>
                        </div>

                        <div class="select-payco-info" style="display:none;padding-top:20px;width:640px;margin:auto;">
                            <ul class="dash-list">
                                <li>즉시할인 신용카드 적용이 불가합니다.</li>
                                <li>페이코 포인트 결제 시 결제금액의 1% 추가적립 됩니다.</li>
                            </ul>
                        </div>

                        <div class="select-chai-info" style="display:none;padding-top:20px;width:640px;margin:auto;">
                            <ul class="dash-list">
                                <li>CHAI는 은행 계좌만 등록하면 차이 비밀번호로 안전하게 결제할 수 있는 간편결제 서비스입니다.<br>(은행 점검시간인 23:30 ~ 00:30에는 이용이 어려울 수 있습니다.)</li>
                                <li>결제 취소 또는 부분 취소 시 차이머니로 환불됩니다.</li>
                                <li>결제 이용 한도는 1회 200만원입니다.</li>
                                <li>이벤트를 통해 혜택을 적용 받은 주문의 경우, 즉시 할인 기준 금액에 따라 부분환불이 불가능할 수도 있습니다.</li>
                            </ul>
                        </div>

                        <div class="select-settlebank-info" style="display:none;padding-top:20px;width:640px;margin:auto;">
                            <ul class="dash-list">
                                <li>내통장결제는 본인명의의 계좌를 최초 1회 등록 후 비밀번호 입력만으로 간편하게 이용할 수 있는 현금결제 서비스 입니다.</li>
                                <li>은행 점검시간의 경우 내통장결제서비스 이용이 불가합니다.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="board-move more">
                        <dt>
                            <span class="bg-chk small more">
                              <input type="checkbox" id="agree">
                              <label for="agree">결제대행 서비스 약관 필수 동의</label>
                            </span>
                        </dt>
                    </div>
                    <div class="board-move more" >
                        <button class="btn">전자금융거래 이용약관
                            <a target="_blank" th:href="@{/store/terms}">내용보기</a>
                        </button>
                    </div>
                    <div class="board-move more">
                        <button class="btn">개인정보 수집 및 이용 안내
                            <a target="_blank" th:href="@{/store/terms}">내용보기</a>
                        </button>
                    </div>
                    <div class="board-move more">
                        <button class="btn">개인정보 제공 및 위탁 안내내용보기
                            <a target="_blank"  th:href="@{/store/terms}">내용보기</a>
                        </button>
                    </div>
                    <div class="btn-group">
                        <a href="/store/storeDetail" id="btnGift" class="button large" title="취소">취소</a>
                        <a  id="btnPurc" class="orderBuyButton button purple large" title="구매">결제</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>

</body>
</html>