<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>진행중인 이벤트</title>
  <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
  <link rel="stylesheet" th:href="@{/assets/styles/store/store.css}">
  <script defer type="text/javascript" th:src="@{/assets/scripts/store.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<form>
  <div id="container">
    <div class="page-util">
      <div class="inner">
        <div class="location">
          <span>home</span>
          <a class="icon"></a>
          <a th:href="@{/store/store}" class="event">스토어</a>
        </div>
      </div>
    </div>
    <h2 class="tit">스토어</h2>
    <div class="tab-list">
      <ul class="topMenu">
        <li class="on">
          <a class="a" href="/movie">새로운 상품</a>
        </li>
        <li class="on">
          <a class="a" href="/movie">메가티켓</a>
        </li>
        <li class="on">
          <a  class="a" href="/movie">팝콘/음료/굿즈</a>
        </li>
        <li class="on">
          <a class="a" href="/movie">포인트몰</a>
        </li>
      </ul>
    </div>
    <div class="AffiliateEvent">
      <div class="store-main">
        <!-- best-goods -->
        <div class="best-goods">
          <a th:href="@{/store/storeDetail}" title="러브콤보패키지 상세보기">
            <div class="slogun">
              <p class="font-gblue">소중한 분들과 함께</p>
              <p class="font-purple">즐거운 관람되세요~</p>
            </div>
            <div class="goods">
              <p class="name">러브콤보패키지</p>
              <p class="txt">2인관람권 + 러브콤보 [팝콘(L)1 + 탄산음료(R)2]</p>
            </div>
            <div class="price">
              <p class="sale">
                <em>32,000</em>
                <span>원</span>
              </p>
              <p class="original">
                <em>36,000</em>
                <span>원</span>
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="event-box">
        <a th:href="@{/store/storeDetail}" class="event">
          <img src="https://img.megabox.co.kr/SharedImg/store/2020/12/29/ZVX4FRDP8NLYto5HL0gAtxr6u4ZCmwOP_280.png" alt="">
        </a>
      </div>
    </div>
    <div class="tit-util mt70">
      <div class="right">
        <h3 class="tit">메가티켓</h3>
        <div class="spring"></div>
      </div>
    </div>
    <div class="movie-list-util">
    </div>
    <div class="movie-list m15">
      <ul class="list">
        <li class="img" th:each="product : ${productsTicket}">
          <a th:href="@{/store/storeDetail(index=${product.getIndex()})}">
            <div class="movie-list-info">
              <img th:src="@{/product/image(index=${product.getIndex()}) }" alt="Image"><!--/store/image 는 컨트롤러에 맵핑 주소 적어준것 . 그래서 prductController 에 getImage 에있는 주소에 맵핑되서 메서드를 쓰는것-->
              <div class="sold" th:if="${product.getQuantity() < 1}">
              <div class="soldout">SOLD OUT</div>
              </div>

            </div>
          <div class="tit-area">
            <p class="title" th:text="${product.getName()}">
              [프로모션]
            </p>
          </div>
          <div class="rate-date">
            <span class="rate" th:text="${product.getSubTitle()}"></span>
          </div>
          <div class="price">
            <p class="sale">
              <em class="storePrice" th:text="${product.getPrice()}"></em>
              <span>원</span>
            </p>
            <p class="ea">
            </p>
          </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="tit-util mt70">
      <div class="right">
        <h3 class="tit">팝콘/음료/굿즈</h3>
        <div class="spring"></div>
      </div>
    </div>
    <div class="movie-list-util">
    </div>
    <div class="movie-list m15">
      <ul class="list">
        <li class="img" th:each="productsDfgs : ${productsDfg}">
          <a th:href="@{/store/storeDetail (index=${productsDfgs.getIndex()})}">
            <div class="movie-list-info" >
              <img th:src="@{/product/image(index=${productsDfgs.getIndex()}) }" alt="Image"><!--/store/image 는 컨트롤러에 맵핑 주소 적어준것 . 그래서 prductController 에 getImage 에있는 주소에 맵핑되서 메서드를 쓰는것-->
              <div class="sold" th:if="${productsDfgs.getQuantity() < 1}">
                <div class="soldout">SOLD OUT</div>
              </div>
            </div>
            <div class="tit-area">
              <p class="title" th:text="${productsDfgs.getName()}">
                [프로모션]
              </p>
            </div>
            <div class="rate-date">
              <span class="rate" th:text="${productsDfgs.getSubTitle()}"></span>
            </div>
            <div class="price">
              <p class="sale">
                <em class="storePrice" th:text="${productsDfgs.getPrice()}">
                </em>
                <span>원</span>
              </p>
              <p class="ea">
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="tit-util mt70">
      <div class="right">
        <h3 class="tit">포인트몰</h3>
        <div class="spring"></div>
      </div>
    </div>
    <div class="movie-list-util">
    </div>
    <div class="movie-list m15">
      <ul class="list">
        <li class="img" th:each="products: ${productsPointer}">
          <a th:href="@{/store/storeDetail (index=${products.getIndex()})}">
            <div class="movie-list-info">
              <img th:src="@{/product/image(index=${products.getIndex()})}" alt="Image"><!--/store/image 는 컨트롤러에 맵핑 주소 적어준것 . 그래서 prductController 에 getImage 에있는 주소에 맵핑되서 메서드를 쓰는것-->
              <div class="sold" th:if="${products.getQuantity() < 1}">
                <div class="soldout">SOLD OUT</div>
              </div>
            </div>
            <div class="tit-area">
              <p class="title" th:text="${products.getName()}">
                [프로모션]
              </p>
            </div>
            <div class="rate-date">
              <span class="rate" th:text="${products.getSubTitle()}"></span>
            </div>
            <div class="price">
              <p class="sale">
                <em class="storePrice" th:text="${products.getPrice()}"></em>
                <span>Point</span>
              </p>
              <p class="ea">
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</form>
</body>
</html>