<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
  <script defer type="text/javascript" th:src="@{/assets/scripts/store.js}"></script>
  <link rel="stylesheet" th:href="@{/assets/styles/store/storeDetail.css}">
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<div class="container">
  <div class="page-util">
    <div class="inner">
      <div class="location">
        <span>home</span>
        <a class="icon"></a>
        <a th:href="@{/store/store}" class="event">스토어</a>
        <a class="icon"></a>
        <a th:href="@{/store/storeDetail}" class="last-event">스토어 상세</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="inner">
      <h2 class="title" th:text="${storeDetail.getName()}"></h2>
      <input type="hidden" name="index" th:value="${storeDetail.getIndex()}"> <!--order 페이지에 storeDetail index 값을 주기 위해서 input hidden 을 사용해준다. -->
      <div class="sub-info">
        <p class="bundle" th:text="${storeDetail.getSubTitle()}">Dolby Cinema 전용관람권</p>
      </div>
      <div class="event-list">
        <div class="inner">
          <div class="box-store-view">
            <div class="left">
              <div class="img">
                <p>
                  <img th:src="@{/store/image(index=${storeDetail.getIndex()})}" alt="Image">
                </p>
<!--                <img src="https://img.megabox.co.kr/SharedImg/store/2021/02/04/XxKX38rQAArz5GGaFCs7KwvYyUz5oQFC_280.png" alt="Dolby Cinema 관람권">-->
              </div>
            </div>
            <div class="right">
              <!-- goods-info -->
              <div class="goods-info">
                <div class="line">
                  <p class="tit">
                    <span class="line32">사용극장</span>
                  </p>

                  <div class="cont">
                    <a href="#" class="a-link" name="brchList">사용가능극장</a>
                    <p class="store_alert"> ※ 남양주 현대아울렛 스페이스원, 대구신세계, 대전신세계 아트앤사이언스, 송도, 수원AK플라자,&nbsp;안성스타필드, 코엑스 지점</p>
                  </div>

                </div>
                <div class="line">
                  <p class="tit">유효기간</p>
                  <div class="cont">
                    <p class="txt">구매일로부터 24개월 이내 사용 가능</p>
                    <p class="txt min">예매 가능 유효기간은 구매일로부터 2년입니다.</p>
                    <p>
                    </p>
                  </div>
                </div>
                <div class="line">
                  <p class="tit">판매수량</p>
                  <div class="cont">
                    <div class="sale-count">
                      <span> 1회 8개 구매가능</span>
                    </div>
                  </div>
                </div>
                <div class="line">
                  <p class="tit">구매 후 취소</p>
                  <div class="cont">
                    <p class="txt">
                      구매일로부터 10일 이내 취소 가능하며, 부분취소는 불가능합니다.
                    </p>
                    <p class="txt min">구매일로부터 10일 이내 취소 가능하며, 부분취소는 불가능합니다. </p>
                  </div>
                </div>
              </div>
              <!--// goods-info -->
              <!--
                  판매종료일때는 각 select, button 에 disabled 처리
              -->
              <!-- type -->
              <div class="type">
                <div class="receipt">
                  <div class="line">
                    <p class="tit">
                      <span class="line32">수량/금액</span>
                    </p>

                    <div class="cont">
                      <button type="button" class="btn minus" title="수량감소">
                        <i class="fa-solid ico-minus" style="color: #3d3d3d;">
                        </i>
                      </button>
                      <input type="hidden" th:value="${storeDetail.getQuantity()}" class="DetailQuantity">
                      <input type="text" title="수량 입력" class="input-text" readonly="readonly" value="1">
                      <button type="button" class="btn plus" title="수량증가">
                        <i class="fa-solid fa-plus" style="color: #3d3d3d;"></i>
                      </button>
                      <div class="spring"></div>
                      <div class="money">
                        <em id="price"  th:text="|${#numbers.formatInteger(storeDetail.getPrice(), 0, 'COMMA')}|"></em>
                        <span>원</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--// type -->
              <div class="btn-group">
                <a class="button purple large DetailBuyButton" title="구매" rel="showLoginAlert">구매</a>

                <button type="button" class="button gray large" disabled="disabled">판매종료</button>
              </div>
              <p class="origin"></p>
            </div>
          </div>
          <div class="board-move">
            <button class="btn1" rel="btn1">구매 후 취소
              <i class="move-btn"></i>
            </button>

          </div>
          <div class="dotList02 bottomBar1">
            <ul>
              <li>본 상품은 구매일로부터 10일 이내에 취소 가능합니다.</li>
              <li>유효기간은 본 상품의 유효기간 내에서 연장 신청이 가능하며, 1회 연장 시 3개월(92일) 단위로 연장됩니다.</li>
              <li>구매일로부터 5년까지 유효기간 연장이 가능합니다.</li>
              <li>최초 유효기간 만료 후에는 결제금액의 90%에 대해 환불 요청 가능하며, 환불 처리에 7일 이상의 시간이 소요될 수 있습니다. (접수처 : 1544-0070)</li>
              <li>구매 취소 및 환불 요청은 미사용 상품에 한해 가능하며, 사용한 상품에 대해서는 불가합니다.</li>
              <li>구매한 관람권은 일괄 환불만 가능하며, 부분 환불 불가합니다.<br>
                (예 : 2매 이상 한번에 구매 시 모든 관람권을 일괄 취소해야 하며, 낱장의 취소는 불가합니다.)</li>
              <li>본 상품은 현금으로 환불이 불가합니다.<br>
                <br>
                ※ 2020년 2월 4일 이후 구매 상품에 한하여 유효기간 연장 신청이 가능합니다.</li>
            </ul>
          </div>
          <div class="board-move">
            <button class="btn2" rel="btn2">상품 이용 안내
              <i class="move-btn"></i>
            </button>
          </div>
          <div class="dotList02 bottomBar2">
            <ul>
              <li>본 권은 구매 시 계정으로 자동 등록되며, 등록된 계정에서만 사용 가능합니다.<br>
                (단! 선물 받은 PIN번호는 계정 내 스토어 교환권 등록 후 사용 가능합니다.)</li>
              <li>본 권의 예매 가능한 유효기간은 구매일로부터 2년입니다.</li>
              <li>가격 정책에 따라 티켓금액이 변동 될 수 있으며 이에 대한 차액 환불이 불가합니다. (조조/심야/청소년/우대 등)</li>
              <li>본 권은 카카오 알림톡을 통해 전송 됩니다. (카카오톡 미설치 또는 미수신 고객은 MMS로 발송)</li>
              <li>본 권은 메가박스 홈페이지, 어플에서만&nbsp;예매 가능합니다. (현장 매표소,&nbsp;무인발권기 예매 불가)</li>
              <li>어플 및 홈페이지 예매방법 : 지점 &gt; 영화명 &gt; 시간 &gt; 인원 &gt; 관람권/모바일상품권&nbsp;&gt; 스토어 관람권으로 전송 받은 PIN번호 16자리 입력 &gt;&nbsp;결제</li>
              <li>메가박스 홈페이지 스토어 구매내역에서 PIN 번호 확인이 가능합니다.</li>
              <li>일부 극장 [삼천포점, 아트나인점, 제주서귀포점], 특별관 [더 부티크 스위트, Dolby Cinema 등], 특별석 [로얄석, 커플석, 발코니 등]&nbsp;및 특별콘텐트 예매가 불가합니다.<br>
                (차액 지불 여부 상관없이 예매 불가)</li>
              <li>본 권으로 영화 관람 시 메가박스 규정에 의해 일정의 포인트가 적립됩니다.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>