<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전체영화</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" th:href="@{/assets/styles/movie/allMovie.css}">
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>

<form>
    <div id="container">
        <h2 class="tit">전체영화</h2>
        <div class="tab-list">
            <ul class="topMenu">
                <li class="on">
                    <a class="a" href="/movie">박스 오피스</a>
                </li>
                <li class="on">
                    <a class="a" href="/movie">상영 예정작</a>
                </li>
                <li class="on">
                    <a  class="a" href="/movie">단독</a>
                </li>
                <li class="on">
                    <a class="a" href="/movie">필름소사이어티</a>
                </li>
                <li class="on">
                    <a class="a" href="/movie">클래식소사이어티</a>
                </li>
            </ul>
        </div>
        <div class="movie-list-util">
            <div class="onairBtnContainer">
                <button type="button" title="개봉작만 보기" class="onairBtn">개봉작만</button>
            </div>
            <div class="movie-search">
                <input type="text" title="영화명을 입력하세요" placeholder="영화명 검색" class="input-text">
                <button type="button" class="btn-search-input">검색</button>
            </div>
        </div>
        <div class="movie-list">
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
<!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                            1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                            공식 경기에서 처음으로 대결하는 두 고등학교,
                            통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                            약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
<!--                                <div class="my-score big">-->
<!--                                <div class="preview">-->
<!--                                    <p class="tit">관람평</p>-->
<!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
<!--                                </div>-->
<!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="list">
                <li class="img">
                    <div class="movie-list-info">
                        <p class="rank" style="">1
                            <span class="ir"></span>
                        </p>
                        <img class="poster" src="https://img.megabox.co.kr/SharedImg/2024/04/19/YnEMLm0u5cpeQchnehHVsmuTxYGpiO2g_420.jpg" alt="하이큐 쓰레기장 전투">
                        <!--                        마우스 갖다댔을때 나오는 텍스트-->
                        <div class="movie-score">
                            <a href="#" class="wrap movieBtn"
                               title="극장판 하이큐!! 쓰레기장의 결전 상세보기">
                                <div class="summary">봄철 고교 배구대회 미야기현 대표 결정전.
                                    1회전과 2회전에서 우승 후보를 차례로 꺾은 카라스노 고등학교는 마침내 3회전에서 인연의 라이벌 네코마 고등학교와 맞붙게 된다.
                                    공식 경기에서 처음으로 대결하는 두 고등학교,
                                    통칭 까마귀 VS 고양이 ‘쓰레기장의 결전’.
                                    약속의 땅에서 ‘한 번 더’가 없는 싸움이 드디어 시작된다!</div>
                                <!--                                <div class="my-score big">-->
                                <!--                                <div class="preview">-->
                                <!--                                    <p class="tit">관람평</p>-->
                                <!--                                    <p class="number">9.9<span class="ir">점</span></p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </a>
                        </div>
                    </div>
                    <!--제목 -->
                    <div class="tit-area">
                        <p class="movie-grad-all"></p>
                        <p title="극장판 하이큐!! 쓰레기장의 결전" class="title">
                            극장판 하이큐!! 쓰레기장의 결전
                        </p>
                    </div>
                    <div class="rate-date">
                        <span class="rate">예매율 28.1%</span>
                        <span class="date">개봉일 2024.05.15</span>
                    </div>

                    <!--맨 밑에 버튼들-->
                    <div class="btn-util">
                        <button type="button" class="button btn-like" data-no="24024700">
                            <i class="fa-regular fa-heart" style="color: #b1afaf;"></i>   <!--하트모양 아이콘-->
                            <span>2.3k</span>
                        </button>
                        <div class="Ticketing-container">
                            <a href="#" class="button purple ticketing" data-no="24024700" title="영화 예매하기">
                                예매
                            </a>
                            <a href="#" class="button purple img" data-no="24024700">
                                <img src="https://www.megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png" alt="dolby 버튼" class="img">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
            <div class="board-move">
                <button class="btn">더보기
                    <i class="move-btn"></i>
                </button>
            </div>
        </div>

    </div>
</form>

</body>
</html>