<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전체영화</title>
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <th:block th:replace="~{fragments/common/common.html :: adminCommonHead}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/movie/allMovieAdmin.css}">
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: adminCommonBody}" th:if="${session.user != null && session.user.isAdmin() == true}"></th:block>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>


</body>
</html>