<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="form -visible" id="addMovieForm" th:fragment="addMovieForm">
    <h3 class="title">영화 추가</h3>
    <div class="content">
        <label class="_obj-label">
            <span class="__text">영화 제목</span>
            <input autofocus required class="_obj-input __field" type="text" name="name" maxlength="100" minlength="1">
        </label>
        <label class="_obj-label thumbnail" rel="thumbnailLabel">
            <input hidden accept="image/*" name="thumbnail" type="file">
            <span class="__text">대표 이미지</span>
            <span class="image-wrapper">
                <span class="empty">대표 이미지를 선택해 주세요.</span>
                <img alt="" class="image" src="">
            </span>
        </label>
        <label class="_obj-label">
            <span class="__text">영화 개봉일</span>
            <input class="_obj-input __field" type="datetime-local" name="releaseDate">
        </label>
        <label class="_obj-label">
            <span class="__text">영화 러닝타임</span>
            <input class="_obj-input __field" type="time" name="playingTime">
        </label>
        <label class="_obj-label">
            <span class="__text">영화 단독 개봉 여부</span>
            <input class="_obj-input __field" type="checkbox" name="isSingle">
            <input class="_obj-input __field" type="hidden" name="_isSingle" value="on">
<!--            스프링은 on을 받으면 true로 변경한다.
근데 이건 _ 있어서 false로 변경됨-->
        </label>
        <div class="spring"></div>
        <button type="submit">추가하기</button>
        <button type="button" rel="addMovieFormCancel">취소</button>
    </div>
</form>
</body>
</html>