<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/register/register.css}">
    <title>MEET PLAY SHARE, 메가박스</title>
    <th:block th:replace="~{fragments/common/common.html :: commonHeadNoHeader}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: commonRegister}"></th:block>
<div class="body-wrap">
    <div class="member-wrap">
        <h1 class="h1">
            <a href="/home">
                <img th:src="@{/assets/images/register/main-logo.png}" alt="메인 페이지로 이동">
            </a>
        </h1>
        <div class="col-wrap">
            <div class="col">
                <div class="step-member">
                    <ol>
                        <li>
                            <p class="step on">
                                <em>STEP1.</em>
                                <span>본인인증</span>
                            </p>
                        </li>
                        <li>
                            <p class="step">
                                <em>STEP2.</em>
                                <span>약관동의</span>
                            </p>
                        </li>
                        <li>
                            <p class="step">
                                <em>STEP3.</em>
                                <span>정보입력</span>
                            </p>
                        </li>
                        <li>
                            <p class="step">
                                <em>STEP4.</em>
                                <span>가입완료</span>
                            </p>
                        </li>
                    </ol>
                </div>
                <p class="page-info-txt">
                    <strong>
                        회원가입을 위한 본인인증 단계입니다.
                    </strong>
                    <span>
                        원하시는 인증방법을 선택해주세요.
                    </span>
                </p>
                <div class="join1">
                    <a class="kakao-Button" >
                        <div class="img">
                            <img th:src="@{/assets/images/register/kakao-button.png}" alt="카카오인증">
                        </div>
                    </a>
                </div>
                <div class="join2">
                    <a class="phone" >
                        <img th:src="@{/assets/images/register/phone.png}" alt="">
                        <span>휴대폰 인증</span>
                    </a>

                    <a class="i-pin" >
                        <img th:src="@{/assets/images/register/i-pin.png}" alt="">
                        <span>아이핀 인증</span>
                    </a>
                </div>
                <div class="join3">
                    <a class="terabox-register" target="_self" href="/register/registerTwo">
                        <div class="register-text">
                            <h2>TeraBox 회원가입</h2>
                        </div>
                    </a>
                </div>
                <div class="foot-txt-container">
                    <ul class="foot-txt">
                        <li>14세 미만 어린이는 보호자 인증을 추가로 완료한 후 가입이 가능합니다.</li>
                        <li>본인인증 시 제공되는 정보는 해당 인증기관에서 직접 수집하며, 인증 이외의 용도로 이용 또는 저장되지 않습니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>