<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <th:block th:fragment="adminCommonHead">
        <link rel="stylesheet" th:href="@{/assets/styles/common/admin/adminCommon.css}">
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/adminAside.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/addMovie.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/addProduct.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/addEvent.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/deleteMovie.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/deleteProduct.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/deleteEvent.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/modifyMovie.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/modifyProduct.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/modifyEvent.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/admin/screeningInfo.js}"></script>
    </th:block>
    <th:block th:fragment="commonHead">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/header.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/common.css}">
        <link rel="icon" th:href="@{/assets/images/common/favicon.ico}">
<!--        <link rel="icon" th:href="@{/assets/images/16.png}">-->

        <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>
        <script defer type="text/javascript" th:src="@{/assets/scripts/header.js}"></script>
        <script src="https://kit.fontawesome.com/d88fee1042.js" crossorigin="anonymous"></script>
    </th:block>
    <th:block th:fragment="commonHeadNoHeader">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/common.css}">
        <link rel="icon" th:href="@{/assets/images/common/favicon.ico}">
        <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>
        <script src="https://kit.fontawesome.com/d88fee1042.js" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<th:block th:fragment="adminCommonBody">
    <div th:replace="~{fragments/admin/aside/adminAside.html :: adminAside}"></div>
    <div th:replace="~{fragments/admin/movie/addMovieForm.html :: addMovieForm}"></div>
    <div th:replace="~{fragments/admin/product/addProductForm.html :: addProductForm}"></div>
    <div th:replace="~{fragments/admin/event/addEventForm.html :: addEventForm}"></div>
    <div th:replace="~{fragments/admin/movie/deleteMovieForm.html :: deleteMovieForm}"></div>
    <div th:replace="~{fragments/admin/product/deleteProductForm.html :: deleteProductForm}"></div>
    <div th:replace="~{fragments/admin/event/deleteEventForm.html :: deleteEventForm}"></div>
    <div th:replace="~{fragments/admin/movie/modifyMovieForm.html :: modifyMovieForm}"></div>
    <div th:replace="~{fragments/admin/movie/modifyMovieFormTwo.html :: modifyMovieFormTwo}"></div>
    <div th:replace="~{fragments/admin/product/modifyProductForm.html :: modifyProductForm}"></div>
    <div th:replace="~{fragments/admin/product/modifyProductFormTwo.html :: modifyProductFormTwo}"></div>
    <div th:replace="~{fragments/admin/event/modifyEventForm.html :: modifyEventForm}"></div>
    <div th:replace="~{fragments/admin/event/modifyEventFormTwo.html :: modifyEventFormTwo}"></div>
    <div th:replace="~{fragments/admin/aside/adminAsideButton.html :: adminAsideButton}"></div>
    <div th:replace="~{fragments/admin/screeningInfo/modifyScreeningInfo.html :: modifyScreeningInfoForm}"></div>
    <div th:replace="~{fragments/admin/screeningInfo/searchMovie.html :: searchMovie}"></div>
</th:block>
<th:block th:fragment="common">
    <div th:replace="~{fragments/loading.html :: loading}"></div>
    <div th:replace="~{fragments/loginForm.html :: loginForm}"></div>
    <div th:replace="~{fragments/recoverDialog.html :: recoverDialog}"></div>
    <div th:replace="~{fragments/cover.html :: cover}"></div>
    <div th:replace="~{fragments/alertCover.html :: alertCover}"></div>
    <div th:replace="~{fragments/header.html :: header}"></div>
</th:block>
<th:block th:fragment="commonRegister">
    <div th:replace="~{fragments/cover.html :: cover}"></div>
    <div th:replace="~{fragments/alertCover.html :: alertCover}"></div>
    <div th:replace="~{fragments/loading.html :: loading}"></div>
</th:block>
</body>
</html>