@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import "../common/common.notHome";

* {
  box-sizing: border-box;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  color: #444444;
  line-height: 1.5;
  font-size: 0.9375rem;

  .order-three-container {
    display: flex;
    flex-direction: row;
    width: 1100px;

    p {
      margin: 0;
      padding: 0;
    }

    > .seat-section {
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 556px;
      border-top: 1px solid #000;
      background-color: #fff;
      width: 770px;
    }
  }
}

.dash-list > li{
  position: relative;
  padding: 0 0 0 11px;
  font-size: 0.87rem;

  &::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 4px;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
}