.time-choice {
  width: calc(100% - 620px);
  height: 530px;
  padding: 0;
}
.time-choice .title-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 20px;
}
.time-choice .title-area .right-item {
  margin-right: 20px;
  font-size: 12px;
}
.time-choice .title-area .right-item img {
  margin-bottom: -2px;
  margin-right: -3px;
}
.time-choice .hour-schedule {
  height: 30px;
  border-top: 1px solid #d8d9db;
  border-bottom: 1px solid #d8d9db;
}
.time-choice .hour-schedule .btn-gr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
}
.time-choice .hour-schedule .btn-gr .btn-pre {
  width: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  height: inherit;
  color: #444;
}
.time-choice .hour-schedule .btn-gr .date-list {
  overflow: hidden;
  height: inherit;
}
.time-choice .hour-schedule .btn-gr .date-list .date-area {
  height: inherit;
}
.time-choice .hour-schedule .btn-gr .date-list .date-area button {
  padding: 0 5px 0 5px;
  border: 0;
  background-color: transparent;
  height: inherit;
  font-size: 1.1333em;
  font-weight: 400;
  cursor: pointer;
  color: #444;
}
.time-choice .hour-schedule .btn-gr .date-list .date-area button:focus {
  background-color: #555;
  color: #fff;
}
.time-choice .hour-schedule .btn-gr .date-list .date-area .date {
  display: inline-block;
  font-size: 17px;
  font-weight: 100;
}
.time-choice .movie-schedule-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 68px);
}
.time-choice .movie-schedule-area .no-r:first-child {
  margin-top: 30px;
}
.time-choice .movie-schedule-area .no-result {
  display: flex;
  flex-direction: column;
}
.time-choice .movie-schedule-area .result {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.time-choice .movie-schedule-area .result .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.time-choice .movie-schedule-area .result .btn:hover {
  background-color: #ebebeb;
}
.time-choice .movie-schedule-area .result .btn:focus {
  background-color: #ebebeb;
}
.time-choice .movie-schedule-area .result .btn > .time-icon {
  width: 40px;
  margin-top: 20px;
  margin-bottom: auto;
}
.time-choice .movie-schedule-area .result .btn > .time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.time-choice .movie-schedule-area .result .btn > .time > strong {
  font-size: 20px;
  margin-bottom: 3px;
}
.time-choice .movie-schedule-area .result .btn > .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin-right: auto;
  margin-left: 20px;
}
.time-choice .movie-schedule-area .result .btn > .title > strong {
  font-weight: 400;
  font-size: 15px;
}
.time-choice .movie-schedule-area .result .btn > .title > em {
  margin-top: 10px;
}
.time-choice .movie-schedule-area .result .btn > .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  height: 100%;
  padding: 0 5px 0 5px;
}
.time-choice .movie-schedule-area .result .btn > .info > .seat {
  border: 1px solid #ebebeb;
  padding: 3px;
  margin-top: 2px;
  width: 100%;
  text-align: center;
}
.time-choice .movie-schedule-area .result .btn > .info > .seat > .now {
  color: #01738b;
}
.time-choice .movie-schedule-area .result .btn > .info > .seat > .all {
  color: #666;
}

/*# sourceMappingURL=timeChoice.css.map */
