<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<th:block th:fragment="discount">
    <h2 class="title2">제휴할인</h2>
    <div class="AffiliateEvent">
        <div class="title-bar">
            <span>VIP 회원님을 위한 특별한 이벤트!!</span>
            <div class="spring"></div>
            <div class="swiper-bar-container">
                <div class="swiper-bar-box">
                    <span class="swiper-bar" th:each="event : ${events}"></span>
                </div>
                <img class="less" th:src="@{/assets/images/common/less.png}" alt="">
                <img class="more" th:src="@{/assets/images/common/more.png}" alt="">
                <img class="play" th:src="@{/assets/images/common/play.png}" alt="">
                <img class="pause" th:src="@{/assets/images/common/pause.png}" alt="">
                <span class="text current-page" th:text="${'1 / ' + eventsCount}"></span>
                <!--                현재 페이지 / 전체 페이지-->
            </div>
        </div>
        <div class="event-box">
            <a href="#" class="event" th:each="event : ${events}">
                <img th:src="@{/event/image (index=${event.getIndex()})}" alt="" class="temp">
                <div class="text-box">
                    <span class="text" th:text="${event.getTitle()}"></span>
                    <div class="spring"></div>
                    <span class="duration" th:text="${event.getStartDate() + '~' + event.getEndDate()}"></span>
                </div>
            </a>
        </div>
        <button class="left swiper" type="button"></button>
        <button class="right swiper" type="button"></button>
        <!--//benefit-vip-selection2 end -->
    </div>
</th:block>

</body>
</html>