<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MEET PLAY SHARE, 테라박스</title>

  <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/booking/main.css}">
  <script defer type="text/javascript" th:src="@{/assets/scripts/booking/date.js}"></script>
  <script defer type="text/javascript" th:src="@{/assets/scripts/booking/movie.js}"></script>
  <script defer type="text/javascript" th:src="@{/assets/scripts/booking/screening.js}"></script>
  <script defer type="text/javascript" th:src="@{/assets/scripts/booking/theater.js}"></script>
  <script defer src="/assets/scripts/common.notHome.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common/footer.css}">
<!--  localhost로 실행할 땐 주석처리해야 예매 가능-->
<!--  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<div class="inner-wrap">
  <div class="quick-reserve">
    <div class="title-reserve">
      <h2 class="tit">빠른예매</h2>
    </div>
    <!-- calendar : 날짜, 캘린더 선택 -->
    <th:block th:replace="~{booking/date.html :: date}"></th:block>
    <div class="quick-reserve-area">
      <!-- movie list : 영화 선택 -->
      <th:block th:replace="~{booking/movie.html :: movie}"></th:block>
      <!-- theater list : 극장 선택 -->
      <th:block th:replace="~{booking/theater.html :: theater}"></th:block>
      <!-- time list : 시간 선택 -->
      <th:block th:replace="~{booking/screening.html :: time}"></th:block>
    </div>
  </div>
</div>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>