<form id="movieForm" th:fragment="movie">
  <div class="movie-choice">
    <p class="title">영화</p>
    <div class="list-area">
      <div class="btn-area movie-btn">
        <button type="button" class="btn-tap">전체</button>
        <button type="button" class="btn-tap">큐레이션</button>
      </div>
      <div class="all-list">
        <ul>
          <!--          <li>
                      <button type="button" class="btn" data-group="btn1">
                        <img th:src="@{/assets/images/booking/KMRB_12.jpeg}" alt="" height="20"
                             width="20"/>
                        <span class="txt">혹성탈출:새로운시대</span>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="btn" data-group="btn1">
                        <img th:src="@{/assets/images/booking/KMRB_15.jpeg}" alt="" height="20"
                             width="20"/>
                        <span class="txt">범죄도시</span>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="btn" data-group="btn1">
                        <img th:src="@{/assets/images/booking/KMRB_19.jpeg}" alt="" height="20"
                             width="20"/>
                        <span class="txt">가여운것들</span>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="btn" data-group="btn1">
                        <img th:src="@{/assets/images/booking/KMRB_ALL.jpeg}" alt="" height="20"
                             width="20"/>
                        <span class="txt">극장판 하이큐!! 쓰레기장의 결전</span>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </li>-->
        </ul>
      </div>
      <div class="curation" style="display:none">
        <ul>
          <li>

          </li>
        </ul>
      </div>
    </div>
    <div class="choice-all" >
      <span>모든영화</span>
      <span>목록에서 영화를 선택하세요</span>
    </div>
    <div class="choice-list" style="display:none">
      <div class="bg">
        <div class="wrap">
          <div class="img">
            <img src="https://www.megabox.co.kr/SharedImg/2024/05/08/Y9pfa6qiCqBkXvibMbCJNUulgKIlibcL_150.jpg" alt="">
          </div>
          <button class="del">
            <i class="fa-solid fa-x"></i>
          </button>
        </div>
      </div>
      <div class="bg">

      </div>
      <div class="bg">

      </div>
    </div>
  </div>
</form>