<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/booking/order_three.css}">
    <script defer th:src="@{/assets/scripts/booking/orderThree.js}"></script>
    <title>Document</title>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<!--temp는 임시로 만들어놨습니다. 이게 빠른 예매 글씨 적힌 부분은 1페이지랑 똑같아가지고 제가 직접 뭐 안해도 될 것 같아서-->
<div class="temp">
    <div class="order-three-container">
        <div class="seat-section h-auto">
            <div class="tit-util">
                <h3 class="tit small">관람권 및 할인적용<!-- 관람권 및 할인적용--></h3>
                <div class="spring" style="flex-grow: 1"></div>
                <button type="button" class="button gray-line small" id="btn_booking_init">
                    <img src="/assets/images/common/reload14.png" alt="">
                    <span>초기화</span>
                </button>
            </div>
            <!-- discout-setting -->
            <div class="discout-setting">
                <div class="discout-list">
                    <ul>
                        <li id="movieWonLi" class="">
                            <a class="tit" title="메가박스 포인트/쿠폰">
                                <span>메가박스 포인트/쿠폰</span><!-- 메가박스 포인트/관람권 -->
                                <!-- <span class="text">멤버십 포인트는 월~금(주말 및 공휴일 제외) 평일에만 사용 가능합니다. </span> -->
                                <div class="spring" style="flex-grow: 1"></div>
                                <img src="/assets/images/common/bottom.png" alt="">
                            </a>
                            <div class="cont-down">
                                <div class="coupon-box">
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_memp" title="메가박스 멤버십 포인트">
                                            <span class="txt">메가박스 멤버십 포인트 </span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" title="메가박스 할인쿠폰">
                                            <span class="txt">메가박스 할인쿠폰 </span>
                                            <em class="tooltip01 hidden"></em>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" title="메가박스 VIP영화쿠폰">
                                            <span class="txt">메가박스 VIP영화쿠폰</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="praddbox">
                            <a class="tit" title="관람권/모바일상품권">
                                <span>관람권/모바일상품권</span>
                                <div class="spring" style="flex-grow: 1"></div>
                                <img src="/assets/images/common/bottom.png" alt="">
                            </a>
                            <div id="mobile_coupon" class="cont-down">
                                <div class="coupon-box">
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_mcoupon"
                                           title="메가박스 관람권">
                                            <span class="txt">메가박스 관람권</span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_paysgift" title="페이즈 금액권">
                                            <span class="txt">
                                                페이즈 금액권
                                            </span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_scoupon" title="스토어교환권">
                                            <span class="txt">스토어교환권</span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" title="모바일 관람권">
                                            <span class="txt">모바일 관람권</span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_friends" title="플래티넘/스타카드/프렌즈">
                                            <span class="txt">플래티넘/스타카드/프렌즈</span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_annusgift" title="메가박스 아너스카드">
                                            <span class="txt">메가박스 아너스카드 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pointtxt">기프티콘, 기프티쇼, 아이넘버, 도넛북, 스마트콘, 스마일콘, G마켓 예매권은 [모바일 관람권]에서 사용하실 수 있습니다.
                            </div>
                        </li>
                        <li class="">
                            <a class="tit" id="grp_point_coupon" title="제휴포인트">
                                <span>제휴포인트</span>
                                <div class="spring" style="flex-grow: 1"></div>
                                <img src="/assets/images/common/bottom.png" alt="">
                            </a>
                            <div id="point_coupon" class="cont-down">
                                <div class="coupon-box">
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_uplus" title="U+ 멤버십">
                                            <span class="txt">
                                                U+ 멤버십
                                            </span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_okcb" title="OK 캐쉬백">
                                            <span class="txt">OK 캐쉬백 <!-- OK 캐쉬백 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" title="OK 캐쉬백">
                                            <span class="txt">
                                                L.POINT
                                            </span><!-- L.포인트 -->
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_gsnp" title="GS&amp;POINT">
                                            <span class="txt">GS&amp;POINT <!-- GS&amp;POINT --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_hyoil" title="HD현대오일뱅크">
                                            <span class="txt">HD현대오일뱅크 <!-- 현대오일뱅크 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_happ" title="해피포인트">
                                            <span class="txt">해피포인트 <!-- 해피포인트 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_hbluep" title="블루멤버스 포인트">
                                            <span class="txt">블루멤버스 포인트 <!-- 블루멤버스 포인트 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_kiamembers" title="기아멤버스 포인트">
                                            <span class="txt">기아멤버스 포인트 <!-- 기아멤버스 포인트 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1" style="display: none;">
                                        <a class="btn-modal-open disabled" id="btn_pay_hydm"
                                           title="현대 M 포인트 카드">
                                            <span class="txt">현대 M 포인트 카드 <!-- 현대 M 포인트 카드 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1" style="display:none;">
                                        <a class="btn-modal-open disabled" id="btn_pay_hydm5p"
                                           title="현대 M 포인트 카드">
                                            <span class="txt">현대 M 포인트 카드 <!-- 현대 M 포인트 카드 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open"
                                           title="현대 M 포인트 카드">
                                            <span class="txt">현대 M 포인트 카드 <!-- 현대 M 포인트 카드 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_happcash" title="해피머니상품권 해피캐시">
                                            <span class="txt">
                                                해피머니상품권 해피캐시
                                            </span><!-- 해피머니 - 해피캐시 -->
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open" id="btn_pay_bookcash" title="도서상품권 북앤라이프캐시">
                                            <span class="txt">
                                                도서상품권 북앤라이프캐시
                                            </span><!-- 북앤라이프 - 북앤라이프캐시 -->
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open"
                                           title="컬쳐캐쉬">
                                            <span class="txt">
                                                컬쳐캐쉬
                                            </span><!-- 컬쳐랜드 - 컬쳐캐쉬  -->
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open"
                                           title="문화누리카드">
                                            <span class="txt">문화누리카드 <!-- 문화누리카드 --></span>
                                        </a>
                                    </div>
                                    <div class="item col-1">
                                        <a class="btn-modal-open"
                                           title="중앙멤버십">
                                            <span class="txt">중앙멤버십 <!-- 중앙멤버십 --></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--// discout-setting -->
            <div class="tit-util mt40">
                <h3 class="tit small">결제수단선택 <!-- 결제수단선택 --></h3>
                <div class="spring" style="flex-grow: 1"></div>
                <div class="right">
                    <input type="checkbox" id="same_use_payment">
                    <label for="same_use_payment" id="label_use_payment">다음에도 이 결제수단 사용 <!-- 다음에도 이 결제수단 사용 --></label>
                </div>
            </div>
            <!-- seat-section -->
            <div class="rollbanner">
                <div class="inrolb swiper-container swiper-container-initialized swiper-container-vertical">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                             style="height: 40px;">
                            <a title="" classname="eventBtn">
                                <div class="text"
                                     style="background:url('https://img.megabox.co.kr/SharedImg/flagBanner/2024/02/01/7bE3wim0rvWsDDqRd6lDSDSTzYvaC2az.png') 0 50% no-repeat; background-size:80px 30px;">
                                    토스페이 결제 시 1천원 즉시할인
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-active"
                             style="height: 40px;">
                            <a title="" classname="eventBtn">
                                <div class="text"
                                     style="background:url('https://img.megabox.co.kr/SharedImg/flagBanner/2023/12/04/o400EOPsMusXENVEsH0y41dDaOIO7BDJ.png') 0 50% no-repeat; background-size:80px 30px;">
                                    1천원 페이백에 영화&amp;매점 할인까지!
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                             style="height: 40px;">
                            <a title="" classname="eventBtn">
                                <div class="text"
                                     style="background:url('https://img.megabox.co.kr/SharedImg/flagBanner/2024/02/01/7bE3wim0rvWsDDqRd6lDSDSTzYvaC2az.png') 0 50% no-repeat; background-size:80px 30px;">
                                    토스페이 결제 시 1천원 즉시할인
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-active"
                             style="height: 40px;">
                            <a title="" classname="eventBtn">
                                <div class="text"
                                     style="background:url('https://img.megabox.co.kr/SharedImg/flagBanner/2023/12/04/o400EOPsMusXENVEsH0y41dDaOIO7BDJ.png') 0 50% no-repeat; background-size:80px 30px;">
                                    1천원 페이백에 영화&amp;매점 할인까지!
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="pgbx swiper-pagination-fraction">
                        <span class="swiper-pagination-current">1</span> /
                        <span class="swiper-pagination-total">2</span>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <!--// seat-section -->
            <!--
                체크 표시 on 클래스 추가
                <button type="button">
                <button type="button" class="on">
            -->
            <div class="select-payment ty2">
                <div class="radio-group">
                    <span class="bg-chk small">
                        <input type="radio" name="radio_payment" id="rdo_pay_credit" value="credit" checked>
                        <label class="credit" for="rdo_pay_credit">신용/체크카드</label>
                    </span>
                    <span class="bg-chk small">
                        <input type="radio" name="radio_payment" id="rdo_pay_mobile" value="mobile">
                        <label class="mobile" for="rdo_pay_mobile">휴대폰 결제</label>
                    </span>
                    <span class="bg-chk small">
                        <input type="radio" name="radio_payment" id="rdo_pay_easypay" value="easypay">
                        <label class="easypay" for="rdo_pay_easypay">간편결제</label>
                    </span>
                    <span class="bg-chk small">
                        <input type="radio" name="radio_payment" id="rdo_pay_settlebank" value="settlebank">
                        <label class="settlebank" for="rdo_pay_settlebank">내통장결제</label>
                    </span>
                </div>
                <div class="select-payment-card" style="display:flex;">
                    <label for="card_select">카드사 선택 <!-- 카드사 선택 --></label>
                    <div class="dropdown bootstrap-select v1 small bs3">
                        <select id="card_select" title="카드사 선택" class="selectpicker v1 small" tabindex="-98">
                            <option class="bs-title-option" value=""></option>
                            <option value="00" selected="">카드선택</option><!-- 전체카드   -->
                            <option value="01">비씨카드</option><!-- 비씨카드   -->
                            <option value="07">국민카드</option><!-- 국민카드   -->
                            <option value="02">신한카드</option><!-- 신한카드   -->
                            <option value="03">삼성카드</option><!-- 삼성카드   -->
                            <option value="05">롯데카드</option><!-- 롯데카드   -->
                            <option value="12">농협카드</option><!-- 농협카드   -->
                            <option value="27">하나카드</option><!-- 하나카드   -->
                            <option value="04">현대카드</option><!-- 현대카드   -->
                            <option value="13">씨티카드</option><!-- 씨티카드   -->
                            <option value="22">제주카드</option><!-- 제주카드   -->
                            <option value="14">우리카드</option><!-- 우리카드   -->
                            <option value="11">수협카드</option><!-- 수협카드   -->
                            <option value="24">전북카드</option><!-- 전북카드   -->
                            <option value="23">광주카드</option><!-- 광주카드   -->
                            <option value="17">신협카드</option><!-- 신협카드   -->
                            <option value="90">카카오뱅크</option><!-- 카카오뱅크 -->
                            <option value="91">케이뱅크</option><!-- 케이뱅크   -->

                            <option value="B0">우체국카드</option><!-- 우체국 카드   -->
                            <option value="B1">토스 카드</option><!-- 토스  카드  -->
                            <option value="B2">SC제일은행 비씨카드</option><!-- SC제일은행 비씨카드   -->
                            <option value="S0">SC제일은행 삼성카드</option><!-- SC제일은행 삼성카드   -->
                            <option value="B3">IBK기업은행 카드</option><!-- IBK기업은행 카드  -->
                        </select>
                        <button type="button" class="btn dropdown-toggle btn-default" role="button" title="카드선택">
                            <div class="filter-option-inner-inner">카드선택</div>
                            <span class="bs-caret">
                                <span class="caret"></span>
                            </span>
                            <div class="spring" style="flex-grow: 1"></div>
                            <img src="/assets/images/common/bottom.png" alt="">
                        </button>
                        <div class="dropdown-menu" role="combobox">
                            <div class="inner open" role="listbox">
                                <ul class="dropdown-menu inner">
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" class=""
                                           aria-selected="false">
                                            <span class="text">카드선택</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"
                                           class="">
                                            <span class="text">비씨카드</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"
                                           class="">
                                            <span class="text">국민카드</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"
                                           class=""><span class="text">신한카드</span></a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"
                                           class=""><span class="text">삼성카드</span></a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">롯데카드</span></a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"
                                           class=""><span class="text">농협카드</span></a>
                                    </li>
                                    <li class="selected active">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="true"
                                           class="selected active">
                                            <span class="text">하나카드</span></a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"
                                           class="">
                                            <span class="text">현대카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false">
                                            <span class="text">씨티카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">제주카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">우리카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">수협카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">전북카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">광주카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false">
                                            <span class="text">신협카드</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"
                                           class="">
                                            <span class="text">카카오뱅크</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">케이뱅크</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">우체국카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">토스  카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">SC제일은행 비씨카드</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a role="option" aria-disabled="false" tabindex="0"
                                           aria-selected="false" class=""><span class="text">SC제일은행 삼성카드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="option" aria-disabled="false" tabindex="0" aria-selected="false"><span
                                                class="text">IBK기업은행 카드</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <input type="radio" name="rdo_card_select" id="app_card" class="ml20" checked="" value="01">
                    <label for="app_card" id="lab_app_card">앱카드 <!-- ISP, APP --></label>
                    <input type="radio" name="rdo_card_select" id="general_card" class="ml20" value="00">
                    <label for="general_card" id="lab_general_card">일반결제 <!-- 일반결제 --></label>
                    <input type="radio" name="rdo_card_select" id="sepecial_card" value="02">
                    <label for="sepecial_card" id="lab_sepecial_card">포인트사용
                        <!-- 삼성카드 포인트 사용 --></label>
                </div>
                <div class="select-payment-easypay" style="display:none;">
                    <input class="toss" type="radio" name="radio_paymentTwo" id="rdo_pay_tosspay" value="tosspay">
                    <label for="rdo_pay_tosspay">토스페이</label>
                    <input class="naver" type="radio" name="radio_paymentTwo" id="rdo_pay_naverpay" value="naverpay">
                    <label for="rdo_pay_naverpay">네이버페이</label>
                    <input class="kakao" type="radio" name="radio_paymentTwo" id="rdo_pay_kakaopay" value="kakaopay">
                    <label for="rdo_pay_kakaopay">카카오페이</label>
                    <input class="payco" type="radio" name="radio_paymentTwo" id="rdo_pay_payco" value="payco">
                    <label for="rdo_pay_payco">페이코</label>
                    <input class="KB" type="radio" name="radio_paymentTwo" id="rdo_pay_kbpay" value="kbpay">
                    <label for="rdo_pay_kbpay">KB PAY</label>
                </div>
                <!-- 2020.02.07 수단별 알림 문구 추가 -->
                <div class="select-mobile-info">
                    <ul class="dash-list">
                        <li>결제하신 금액은 익월 휴대폰 요금에 합산되어 청구되며, 휴대폰 결제한도는 통산사별 월 누적 이용 제한에 따라 적용됩니다.</li>
                        <li>매월 말일 23시30분 ~ 익월 00시 10분까지(40분간)는 시스템 점검시간으로 이용이 어려울 수 있습니다.</li>
                        <li>휴대폰 결제와 관련된 추가 안내는 FAQ를 참조해주세요.</li>
                    </ul>
                </div>
                <div class="select-toss-info" style="display:none">
                    <ul class="dash-list">
                        <li>토스에 등록된 계좌와 신용/체크카드로 쉽고 편리하게 결제하세요.</li>
                        <li>토스페이 결제 시 토스에서 제공하는 카드사 별 무이자, 청구할인, 결제 이벤트만 제공됩니다.</li>
                    </ul>
                </div>
                <div class="select-kakao-info" style="display:none">
                    <ul class="dash-list">
                        <li>즉시할인 신용카드 적용이 불가합니다.</li>
                    </ul>
                </div>
                <div class="select-payco-info" style="display:none">
                    <ul class="dash-list">
                        <li>즉시할인 신용카드 적용이 불가합니다.</li>
                        <li>페이코 포인트 결제 시 결제금액의 1% 추가적립 됩니다.</li>
                    </ul>
                </div>
                <div class="select-naverpay-info" style="display:none">
                    <ul class="dash-list">
                        <li>네이버페이 결제 시, 카드사 할인 및 포인트 사용이 불가할 수 있습니다.</li>
                        <li>네이버페이 결제 시 결제금액의 1%가 적립 됩니다.
                            <br>(네이버 유입1% / 기타경로 0.2%)
                            <br>상기 적립율은 2023년 6월 1일 결제 건부터 적용됩니다.
                        </li>
                    </ul>
                </div>
                <div class="select-chai-info" style="display:none">
                    <ul class="dash-list">
                        <li>CHAI는 은행 계좌만 등록하면 차이 비밀번호로 안전하게 결제할 수 있는 간편결제 서비스입니다.<br>(은행 점검시간인 23:30 ~ 00:30에는 이용이 어려울 수
                            있습니다.)
                        </li>
                        <li>결제 취소 또는 부분 취소 시 차이머니로 환불됩니다.</li>
                        <li>결제 이용 한도는 1회 200만원입니다.</li>
                        <li>이벤트를 통해 혜택을 적용 받은 주문의 경우, 즉시 할인 기준 금액에 따라 부분환불이 불가능할 수도 있습니다.</li>
                    </ul>
                </div>
                <div class="select-settlebank-info" style="display:none">
                    <ul class="dash-list">
                        <li>내통장결제는 본인명의의 계좌를 최초 1회 등록 후 비밀번호 입력만으로 간편하게 이용할 수 있는 현금결제 서비스 입니다.</li>
                        <li>은행 점검시간의 경우 내통장결제서비스 이용이 불가합니다.</li>
                    </ul>
                </div>
            </div>

            <dl class="term-list" id="terms" style="display: none;">
                <dt>
                    <span class="bg-chk small">
                        <input type="checkbox" id="agree">
                        <label for="agree">결제대행 서비스 약관 필수 동의</label>
                    </span>
                </dt>
                <dd class="tit">
                    전자금융거래 이용약관<!-- 전자금융거래 이용약관 -->
                    <a>내용보기</a>
                </dd>
                <dd class="tit">
                    개인정보 수집 및 이용 안내<!-- 개인정보 수집 및 이용 안내 -->
                    <a>내용보기</a>
                </dd>
                <dd class="tit">
                    개인정보 제공 및 위탁 안내<!-- 개인정보 제공 및 위탁 안내 -->
                    <a>내용보기</a>
                </dd>
            </dl>
        </div>
        <div class="spring" style="flex-grow: 1"></div>
        <div class="right">
            <div class="seat-result">
                <div class="wrap">
                    <div class="tit-area type2">
                        <!--
                            관람 등급 표시
                            <span class="movie-grade small age-all">전체 관람가</span>
                            <span class="movie-grade small age-12">12세 이상 관람가</span>
                            <span class="movie-grade small age-15">15세 이상 관람가</span>
                            <span class="movie-grade small age-19">청소년 관람 불가</span>
                            <span class="movie-grade small age-no">미정</span>
                        -->
                        <span class="movie-grade small age-all" id="admisClassNm">전체관람가</span>

                        <p class="tit" id="movieNm">인사이드 아웃 2</p>
                        <p class="cate" id="playKindNm">2D(자막)</p>
                        <p class="theater" id="brchNm">검단/리클라이너 4관</p>
                        <p class="date">
                            <span id="playDe">2024.06.14</span>
                            <em id="dowNm">(금)</em>
                            <span class="time" id="playTime">
                                <i class="iconset ico-clock-white"></i>
                                11:35~13:21
                            </span>
                        </p>
                    </div>
                    <div class="price-process">
                        <div class="box">
                            <div class="data">
                                <span class="tit">성인 <em>1</em></span>
                                <span class="price">15,000</span>
                            </div>
                            <!--
                            <div class="data">
                                <span class="tit">일반 <em>1</em></span>
                                <span class="price">20,000</span>
                            </div>

                            <div class="data">
                                <span class="tit">어린이 <em>2</em></span>
                                <span class="price">6,000</span>
                            </div>
                            -->
                            <div class="all">
                                <span class="tit">금액 <!-- 금액 --></span>
                                <span class="price"><em>15,000</em> <span>원 <!-- 원 --></span></span>
                            </div>
                        </div>
                        <div class="box discout-box">
                            <div class="all">
                                <span class="tit">할인적용 <!-- 할인적용 --></span>
                                <span class="price"><em>0</em> 원 <!-- 원 --></span>
                            </div>
                        </div>
                    </div>
                    <div class="pay-area">
                        <div class="add-thing">
                            <p class="tit">추가차액 <!-- 추가금액 --></p>
                            <div class="money">0</div>
                        </div>
                        <div class="pay">
                            <p class="tit">최종결제금액 <!-- 최종결제금액 --></p>
                            <div class="money">
                                <em>15,000</em>
                                <span>원 <!-- 원 --></span>
                            </div>
                        </div>
                        <div class="payment-thing">
                            <span class="tit">결제수단 <!-- 결제수단 --></span>
                            <span class="thing">신용/체크카드</span>
                        </div>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="button" id="btn_booking_back" title="이전">이전 <!-- 이전 --></a>
                        <a class="button active btn-modal-open" id="btn_booking_pay" title="결제" rel="checkAgreeTerms">결제</a>
                    </div>
                </div>
            </div>
            <div class="adbox">
                <div class="swiper-container payBannerSwiper swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper">
<!--                        슬라이드 3갠데 3개론 스와이퍼가 불가능해서 3개를 한번 더 복붙해서 6개로 만듦 -->
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                             data-swiper-slide-index="2" style="width: 310px;">
                            <a title="할인쿠폰 받기" classname="eventBtn">
                                <img style="width:310px;"
                                     src="https://img.megabox.co.kr/SharedImg/cpBanner/2024/05/28/LhTGE905muZ2ZTCHUHgG7Xkn4KhODcEa.png"
                                     alt=" ">
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0"
                             style="width: 310px;">
                            <a href="https://megabox.co.kr/event/detail?eventNo=15520" target="_blank" title=""
                               classname="eventBtn">
                                <img style="width:310px;"
                                     src="https://img.megabox.co.kr/SharedImg/cpBanner/2024/05/30/YlTKrFfw1vKGQuMzLmCskmNqf6jzBsAY.jpg"
                                     alt=" ">
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 310px;">
                            <a href="https://megabox.co.kr/event/detail?eventNo=15571" target="_blank" title=""
                               classname="eventBtn">
                                <img style="width:310px;"
                                     src="https://img.megabox.co.kr/SharedImg/cpBanner/2024/06/10/J5PMH4Eze5swdGkt9HT2AYvdsp5JMB2X.jpg"
                                     alt=" ">
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                             data-swiper-slide-index="2" style="width: 310px;">
                            <a title="할인쿠폰 받기" classname="eventBtn">
                                <img style="width:310px;"
                                     src="https://img.megabox.co.kr/SharedImg/cpBanner/2024/05/28/LhTGE905muZ2ZTCHUHgG7Xkn4KhODcEa.png"
                                     alt=" ">
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0"
                             style="width: 310px;">
                            <a href="https://megabox.co.kr/event/detail?eventNo=15520" target="_blank" title=""
                               classname="eventBtn">
                                <img style="width:310px;"
                                     src="https://img.megabox.co.kr/SharedImg/cpBanner/2024/05/30/YlTKrFfw1vKGQuMzLmCskmNqf6jzBsAY.jpg"
                                     alt=" ">
                            </a>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 310px;">
                            <a href="https://megabox.co.kr/event/detail?eventNo=15571" target="_blank" title=""
                               classname="eventBtn">
                                <img style="width:310px;"
                                     src="https://img.megabox.co.kr/SharedImg/cpBanner/2024/06/10/J5PMH4Eze5swdGkt9HT2AYvdsp5JMB2X.jpg"
                                     alt=" ">
                            </a>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                    <span class="swiper-pagination-bullet on" role="button" aria-label="Go to slide 1"></span>
                    <span class="swiper-pagination-bullet" role="button" aria-label="Go to slide 2"></span>
                    <span class="swiper-pagination-bullet" role="button" aria-label="Go to slide 3"></span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>