<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MEET PLAY SHARE, 메가박스</title>
  <link rel="stylesheet" th:href="@{/assets/styles/booking/main.css}">
  <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>

<div class="page-util">
  예매 > 빠른예매
</div>
<form>
  <div class="inner-wrap">
    <div class="quick-reserve">
      <div class="title-reserve">
        <h2 class="tit">빠른예매</h2>
      </div>
      <!-- calendar : 날짜, 캘린더 선택 -->
      <div class="time-schedule">
        <div class="btn-gr">
          <button title="이전 날짜 보기" type="button" class="btn-pre">
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <div class="date-list">
            <div class="year-area">
              <div class="year">2024.05</div>
            </div>
            <div class="date-area">
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">1</span>
                </em>
                <span class="week">수</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">2</span>
                </em>
                <span class="week">목</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">3</span>
                </em>
                <span class="week">금</span>
              </button>
              <button class="sat" type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">4</span>
                </em>
                <span class="week">토</span>
              </button>
              <button class="holi" type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">5</span>
                </em>
                <span class="week">일</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">6</span>
                </em>
                <span class="week">월</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">7</span>
                </em>
                <span class="week">화</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">8</span>
                </em>
                <span class="week">수</span>
              </button>
              <button class="sat" type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">9</span>
                </em>
                <span class="week">목</span>
              </button>
              <button class="holi" type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">10</span>
                </em>
                <span class="week">금</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">11</span>
                </em>
                <span class="week">토</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">12</span>
                </em>
                <span class="week">일</span>
              </button>
              <button type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">13</span>
                </em>
                <span class="week">월</span>
              </button>
              <button class="sat" type="button" th:data="date" th:month="5">
                <em>
                  <span class="date">14</span>
                </em>
                <span class="week">화</span>
              </button>
            </div>
          </div>
          <button title="다음 날짜 보기" type="button" class="btn-pre">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
        <div class="cal-line">
          <button type="button" id="calendar" class="btn-calendar-large">
            <img src="https://img.megabox.co.kr/static/pc/images/common/ico/ico-calendar-w20.png" alt="">
          </button>
        </div>
      </div>

      <div class="quick-reserve-area">
        <!-- movie list : 영화 선택 -->
        <div class="movie-choice">
          <p class="title">영화</p>
          <div class="list-area">
            <div class="btn-area">
              <button type="button" class="btn-tap">전체</button>
              <button type="button" class="btn-tap">큐레이션</button>
            </div>
            <div class="all-list">
              <ul>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_12.jpeg}" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_15.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_19.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_All.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">극장판 하이큐!! 쓰레기장의 결전</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_12.jpeg}" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_15.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_19.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_All.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_12.jpeg}" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_15.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img th:src="@{/assets/images/booking/KMRB_19.jpeg}" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
              </ul>
              <ul>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
              </ul>
              <ul>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
              </ul>
              <ul>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_15.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">범죄도시</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_19.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가여운것들</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_All.jpeg" alt="" height="20"
                         width="20"/>
                    <span class="txt">가필드 더 무비</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
              </ul>
            </div>
            <div class="curation" style="display:none">
              <ul>
                <li>
                  <button type="button" class="btn">
                    <img src="../../static/sources/images/KMRB_12.jpeg" height="20"
                         width="20"/>
                    <span class="txt">혹성탈출:새로운시대</span>
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="choice-all">
            <span>모든영화</span>
            <span>목록에서 영화를 선택하세요</span>
          </div>
          <div class="choice-list" style="display:none">
            <div class="bg">
              <div class="img">
                <img src="" alt="">
              </div>
              <button class="del">
                <i class="fa-solid fa-x"></i>
              </button>
            </div>
            <div class="bg">

            </div>
            <div class="bg">

            </div>
          </div>
        </div>

        <!-- theater list : 극장 선택 -->
        <div class="theater-choice">
          <p class="title">극장</p>
          <div class="list-area">
            <div class="btn-area">
              <button type="button" class="btn-tap">전체</button>
              <button type="button" class="btn-tap">특별관</button>
            </div>
            <div class="all-list">
              <div class="region-list">
                <ul>
                  <li>
                    <button type="button" class="btn">서울(20)</button>
                  </li>
                  <li>
                    <button type="button" class="btn">인천(5)</button>
                  </li>
                  <li>
                    <button type="button" class="btn">대전/충청/세종(17)</button>
                  </li>
                  <li>
                    <button type="button" class="btn">부산/대구/경산(26)</button>
                  </li>
                  <li>
                    <button type="button" class="btn">광주/전라(9)</button>
                  </li>
                  <li>
                    <button type="button" class="btn">강원(4)</button>
                  </li>
                  <li>
                    <button type="button" class="btn">제주(3)</button>
                  </li>
                </ul>
              </div>
              <div class="detail-list">
                <div class="region seoul">
                  <ul>
                    <li>
                      <button type="button" class="btn">강남</button>
                    </li>
                    <li>
                      <button type="button" class="btn">강동</button>
                    </li>
                    <li>
                      <button type="button" class="btn">군자</button>
                    </li>
                  </ul>
                </div>
                <div class="region gyeonggi" style="display: none">
                  <ul>
                    <li>
                      <button type="button" class="btn">고양스타필드</button>
                    </li>
                    <li>
                      <button type="button" class="btn">광명AK플라자</button>
                    </li>
                    <li>
                      <button type="button" class="btn">광명소하</button>
                    </li>
                  </ul>
                </div>
                <div class="region incheon" style="display: none">
                  <ul>
                    <li>
                      <button type="button" class="btn">검단</button>
                    </li>
                    <li>
                      <button type="button" class="btn">송도</button>
                    </li>
                    <li>
                      <button type="button" class="btn">영종</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="special">

            </div>
          </div>
          <div class="choice-all">
            <span>모든영화</span>
            <span>목록에서 영화를 선택하세요</span>
          </div>
          <div class="choice-list" style="display:none">
            <div class="bg">
              <div class="img">
                <img src="" alt="">
              </div>
              <button class="del">
                <i class="fa-solid fa-x"></i>
              </button>
            </div>
            <div class="bg">

            </div>
            <div class="bg">

            </div>
          </div>
        </div>

        <!-- time list : 시간 선택 -->
        <div class="time-choice">
          <div class="title-area">
            <p class="time">시간</p>
            <div class="right-item">
              <img src="https://img.megabox.co.kr/static/pc/images/common/ico/ico-greeting-option-sun.png"
                   alt="">
              <span>조조</span>
              <img src="https://img.megabox.co.kr/static/pc/images/common/ico/ico-time-brunch.png" alt="">
              <span>브런치</span>
              <img src="https://img.megabox.co.kr/static/pc/images/common/ico/ico-greeting-option-moon.png"
                   alt="">
              <span>심야</span>
            </div>
          </div>
          <div class="hour-schedule">
            <div class="btn-gr">
              <button title="이전 날짜 보기" type="button" class="btn-pre">
                <i class="fa-solid fa-angle-left"></i>
              </button>
              <div class="date-list">
                <div class="date-area">
                  <button type="button" th:data="hour">
                    <span class="hour">00</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">01</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">02</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">03</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">04</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">05</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">06</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">07</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">08</span>
                  </button>
                  <button type="button" th:data="hour">
                    <span class="hour">09</span>
                  </button>
                </div>
              </div>
              <button title="다음 날짜 보기" type="button" class="btn-pre">
                <i class="fa-solid fa-angle-right"></i>
              </button>
            </div>
          </div>
          <div class="movie-schedule-area" >
            <div class="no-result" style="display: none">
              <img src="https://img.megabox.co.kr/static/pc/images/common/ico/ico-movie-time.png" alt="">
              <span>영화와 극장을 선택하시면</span>
              <span>상영시간표를 비교하여 볼 수 있습니다.</span>
            </div>
            <div class="result">
              <ul>
                <li>
                  <button class="btn" type="button">
                    <i class="time-icon">
                      <img src="https://img.megabox.co.kr/static/pc/images/common/ico/ico-greeting-option-sun.png" alt="">
                    </i>
                    <span class="time">
                      <strong title="상영 시작">08:50</strong>
                      <em title="상영 종료">~10:49</em>
                    </span>
                    <span class="title">
                      <strong>범죄도시4</strong>
                      <em>2D</em>
                    </span>
                    <span class="info">
                      <i class="theater">
                        고양스타필드<br>
                        4관[Laser]
                      </i>
                      <i class="seat">
                        <strong class="now" title="잔여 좌석">
                          188
                        </strong>
                        <span>/</span>
                        <em class="all" title="전체좌석">
                          190
                        </em>
                      </i>
                    </span>
                  </button>
                </li>
                <li>
                  <button class="btn" type="button">
                    <i class="time-icon">
                    </i>
                    <span class="time">
                      <strong title="상영 시작">08:50</strong>
                      <em title="상영 종료">~10:49</em>
                    </span>
                    <span class="title">
                      <strong>범죄도시4</strong>
                      <em>2D</em>
                    </span>
                    <span class="info">
                      <i class="theater">
                        고양스타필드<br>
                        4관[Laser]
                      </i>
                      <i class="seat">
                        <strong class="now" title="잔여 좌석">
                          188
                        </strong>
                        <span>/</span>
                        <em class="all" title="전체좌석">
                          190
                        </em>
                      </i>
                    </span>
                  </button>
                </li>
                <li>
                  <button class="btn" type="button">
                    <i class="time-icon">
                    </i>
                    <span class="time">
                      <strong title="상영 시작">08:50</strong>
                      <em title="상영 종료">~10:49</em>
                    </span>
                    <span class="title">
                      <strong>범죄도시4</strong>
                      <em>2D</em>
                    </span>
                    <span class="info">
                      <i class="theater">
                        고양스타필드<br>
                        4관[Laser]
                      </i>
                      <i class="seat">
                        <strong class="now" title="잔여 좌석">
                          188
                        </strong>
                        <span>/</span>
                        <em class="all" title="전체좌석">
                          190
                        </em>
                      </i>
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<footer>
  푸터
</footer>
</body>
</html>