<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEET PLAY SHARE, 테라박스</title>
    <th:block th:replace="~{fragments/common/common.html :: commonHead}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/benefit/vipLounge.css}">
</head>
<body>
<th:block th:replace="~{fragments/common/common.html :: common}"></th:block>
<main id="main">
    <h2 class="title2">메가박스 멤버십</h2>
    <nav>
        <ul class="tab">
            <li class="item">
                <a class="link" th:href="@{./membership}">멤버십 안내</a>
            </li>
            <!--            on인게 보이는거임-->
            <li class="item on">
                <a class="link" th:href="@{./vipLounge}">VIP LOUNGE</a>
            </li>
        </ul>
    </nav>
    <div class="checkLevel" th:if="${session.user == null}">
        <span class="title">MEGABOX <span class="bold">VIP</span></span>
        <span class="text">메가박스의 더 많은 혜택을 누릴 수 있는 방법! 로그인 후 메가박스 등급을 확인하세요.</span>
        <a class="link" rel="showLogin">로그인</a>
    </div>
    <div class="benefit-vip-lounge2 normal" th:if="${session.user != null}">
        <div class="lt">
            <div class="mbimg"><img src="/assets/images/benefit/welcome.png" alt="WELCOME"></div>
            <div class="mb_name">안녕하세요!<br><p><span>하성동</span>님</p></div>
            <div class="period">
            </div>
        </div>
        <div class="rt">
            <div class="sect n1">
                <div class="tit">VIP선정포인트</div>
                <div class="point nowPoint">0 P</div>
            </div>

            <div class="sect n3 activityInfo"><ul>		<li>서로다른 영화관람<span>0편</span></li>		<li>티켓<span>0 P</span></li>		<li>매점<span>0 P</span></li>		<li>이벤트<span>0 P</span></li></ul></div>
        </div>
        <div class="graphBox mbClassInx0">
            <div class="inner">
                <div class="bar">
                    <div class="inBar"></div>
                </div>
            </div>
            <ul class="list" id="pointFlag-list">
                <li class="on act">Welcome
                    <div class="pointFlag"><span>다음 Friends 등급까지 6,000 P 남았어요!</span></div>
                </li>
                <li class="">Friends
                    <div class="pointFlag"><span>다음 Friends 등급까지 6,000 P 남았어요!</span></div>
                </li>
                <li class="">VIP
                    <div class="pointFlag"><span>다음 Friends 등급까지 6,000 P 남았어요!</span></div>
                </li>
                <li class="">VVIP
                    <div class="pointFlag"><span>다음 Friends 등급까지 6,000 P 남았어요!</span></div>
                </li>
                <li class="">MVIP
                    <div class="pointFlag"><span>다음 Friends 등급까지 6,000 P 남았어요!</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="lounge-benefit-box">
        <th:block th:replace="~{fragments/discount/discount.html :: discount('VIP 회원님을 위한 특별한 이벤트!!')}"></th:block>
    </div>
    <div class="vip-standard">
        <h3 class="title3">VIP 선정 및 유지 기준</h3>
        <!-- benefit-vip-selection2 -->
        <div class="table">
            <div class="scope-row-box">
                <div class="scope-row">선정기준</div>
                <div class="scope-row">유지기준</div>
                <div class="scope-row">쿠폰북 혜택</div>
            </div>
            <div class="box">
                <div class="td-container">
                    <!-- row -->
                    <div class="td-box mvip">
                        <img src="/assets/images/benefit/mvip.png" alt="mvip"
                             class="icons">
                        <div class="td select-standard">
                            <div class="text">VVIP 3년 연속 유지 회원 중 자격기간 내<br>18,000 포인트 이상 적립 시 <br>4년차에 승급
                            </div>
                        </div>
                        <div class="td maintain-standard">
                            <div class="text">MVIP 회원 중 자격기간 내<br>24,000 포인트 이상 적립</div>
                        </div>
                        <div class="td couponBook">
                            <!-- giftArea -->
                            <div class="coupon-box">
                                <ul class="coupon mvip">
                                    <li>
                                        <span>14</span>매
                                    </li>
                                    <li>영화관람권</li>
                                </ul>
                                <ul class="coupon mvip">
                                    <li>
                                        <span>100</span>머니
                                    </li>
                                    <li>DIY 쿠폰</li>
                                </ul>
                                <ul class="coupon mvip">
                                    <li>
                                        <span>13</span>매
                                    </li>
                                    <li>매점할인권</li>
                                </ul>
                            </div>
                            <!--//giftArea end -->
                        </div>
                    </div>

                    <!--//row end -->
                    <!-- row -->
                    <div class="td-box vvip">
                        <img src="/assets/images/benefit/vvip.png"
                             alt="vvip" class="icons">
                        <div class="td select-standard">
                            <div class="text">VIP 회원 중, 자격기간 내 <br>18,000 포인트 이상 적립 시<br>익월 승급</div>
                        </div>
                        <div class="td maintain-standard">
                            <div class="text">VVIP 1, 2년차 회원 중 자격기간 내<br>18,000 포인트 이상 적립</div>
                        </div>
                        <div class="td couponBook">
                            <!-- giftArea -->
                            <div class="coupon-box">
                                <ul class="coupon vvip">
                                    <li><span>10</span>매</li>
                                    <li>영화관람권</li>
                                </ul>
                                <ul class="coupon vvip">
                                    <li><span>70</span>머니</li>
                                    <li>DIY 쿠폰</li>
                                </ul>
                                <ul class="coupon vvip">
                                    <li><span>7</span>매</li>
                                    <li>매점할인권</li>
                                </ul>
                            </div>
                            <!--//giftArea end -->
                        </div>
                    </div>
                    <!--//row end -->
                    <!-- row -->
                    <div class="td-box vip">
                        <img src="/assets/images/benefit/vip.png" alt="vip"
                             class="icons">
                        <div class="td select-standard">
                            <div class="text">Friends 회원 중, 자격기간 내<br>12,000 포인트 이상 적립 시 <br>익월 승급</div>
                        </div>
                        <div class="td maintain-standard">
                            <div class="text"> -</div>
                        </div>
                        <div class="td couponBook">
                            <!-- giftArea -->
                            <div class="coupon-box">
                                <ul class="coupon vip">
                                    <li><span>6</span>매</li>
                                    <li>영화관람권</li>
                                </ul>
                                <ul class="coupon vip">
                                    <li><span>45</span>머니</li>
                                    <li>DIY 쿠폰</li>
                                </ul>
                                <ul class="coupon vip">
                                    <li><span>5</span>매</li>
                                    <li>매점할인권</li>
                                </ul>
                            </div>
                            <!--//giftArea end -->
                        </div>
                    </div>
                    <!--//row end -->
                </div>
                <dl>
                    <dt>승급월로 부터 12개월 실적기준 (상영일) | 승급 포인트 적립 내역 기준</dt>
                    <dd>회원의 VIP 선정 시점에 따라 쿠폰북 구성이 상이할 수 있습니다. 실제 발급 가능한 쿠폰북 내용은 로그인 후, 쿠폰북 발급 페이지에서 확인 부탁드립니다.
                    </dd>
                    <dd>VIP 등급 유지 기간 중, 직접 쿠폰을 선택 및 발급 받은 후 쿠폰을 사용할 수 있습니다.</dd>
                    <dd>VIP 쿠폰북은 영화와 매점 쿠폰으로 구성되어 있으며, 영화 쿠폰은 &lt;일반형(일반 영화 관람권)&gt; 또는 &lt;DIY형 (선택형 머니)&gt; 중
                        선택 가능합니다.
                    </dd>
                    <dd>VIP 선정 시점에 따라 쿠폰별 유효기간이 상이합니다. 발급일에 따라 사용 가능한 쿠폰 수량에 차이가 있을 수 있으니 확인 후 발급 바랍니다.</dd>
                    <dd>자세한 내용은 쿠폰북 발급 페이지 내 유의 사항을 확인 바랍니다.</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="benefit-vip-selection">
        <div class="section-box">
            <div class="section">
                <img src="/assets/images/benefit/benefit1.png" alt="5년 VIP 쿠폰">
                <div class="text-box">
                    <div class="number">혜택 01</div>
                    <div class="title">5년 VIP 쿠폰</div>
                    <div class="sText">5년 연속 VIP 혜택 영화 관람 쿠폰 2매 증정!</div>
                    <div class="mText">
                        지난 VIP 등급 이력은 로그인 후 ‘ 나의 메가박스 &gt; 지난 등급 조회 ’에서 확인 가능합니다.<br>
                        5년 VIP 쿠폰은 2023년 3월말 순차적으로 지급됩니다.<br>
                        5년 VIP 쿠폰의 세부 사항은 쿠폰 발급 후, 쿠폰 내 유의 사항을 참고해 주세요.
                    </div>
                </div>
            </div>
        </div>
        <div class="section-box">
            <!--            reverse 붙은건 css에서 방향을 바꿨음-->
            <div class="section reverse">
                <img src="/assets/images/benefit/benefit2.png"
                     alt="VIP 미션 이벤트">
                <div class="text-box">
                    <div class="number">혜택 02</div>
                    <div class="title">VIP 미션 이벤트</div>
                    <div class="sText">매월 서로 다른 영화 5회 이상 관람 시<br>영화 &amp; 콤보 할인, 무료관람권 증정!</div>
                    <!-- 로그인 전 -->
                    <div class="link-box">
                        <a class="link">VIP 스탬프 미션 보러가기
                        </a>
                    </div>
                    <!-- //로그인전 -->
                    <!-- 로그인 후 -->
                    <div class="mText">
                        영화 유료 관람 후, 포인트 적립된 티켓 기준으로 서로 다른 영화 관람 편수가 책정됩니다.<br>
                        미션 달성 시 제공되는 쿠폰은 매월 2주차 내에 제공됩니다.<br>
                        지급되는 쿠폰은 일부 제한 사항이 있을 수 있습니다. 쿠폰 내 유의 사항을 참고 바랍니다.<br>
                        이벤트 진행 사항 및 경품 지급 내용은 사정에 따라 변경될 수 있습니다.
                    </div>
                </div>
            </div>
        </div>

        <div class="section-box">
            <div class="section">
                <img src="/assets/images/benefit/benefit3.png"
                     alt="VIP DAY">
                <div class="text-box">
                    <div class="number">혜택 03</div>
                    <div class="title">VIP DAY</div>
                    <div class="sText">기본 포인트에 VIP &amp; VIP DAY 포인트 까지!</div>
                    <div class="mText">
                        VIP 회원은 영화 관람 시, “기본 적립 포인트”만큼 추가 적립을 받을 수 있습니다.<br>
                        수요일 영화 관람 시, “기본 적립 + VIP 추가 적립 포인트” 만큼 VIP DAY 포인트가 적립됩니다.<br>
                        VIP 추가 적립, VIP DAY 적립 포인트는 VIP 선정 포인트에서 제외됩니다.<br>
                        VIP 추가 적립, VIP DAY 적립 포인트 관련 사항은 변경될 수 있습니다.
                    </div>
                </div>
            </div>
        </div>

        <div class="section-box">
            <div class="section reverse">
                <img src="/assets/images/benefit/benefit4.png"
                     alt="중앙멤버십 혜택">
                <div class="text-box">
                    <div class="number">혜택 04</div>
                    <div class="title">중앙멤버십 혜택</div>
                    <div class="sText">리조트 할인, CU 모바일 상품권 등 다양한 혜택!</div>
                    <!-- 로그인 전 -->
                    <div class="link-box">
                        <a class="link" id="btnBeforLoginJoinMbShip">중앙멤버십 카드 신청하기
                        </a>
                    </div>
                    <!-- 로그인 후 -->
                    <div class="mText">
                        본 혜택은 아래 카드 신청하기에서 중앙멤버십을 별도 신청하신 고객에 한해 적용 됩니다.<br>
                        중앙멤버십 카드는 VIP 기신청자의 경우 자동 연장되며 휴대폰 번호당 1개만 발급 가능합니다.<br>
                        제휴 혜택은 사정에 따라 변경되거나 종료될 수 있습니다.
                    </div>
                </div>
            </div>
        </div>
        <div class="section-box">
            <div class="section">
                <img src="/assets/images/benefit/benefit5.png"
                     alt="VIP CULTURE EVENT">
                <div class="text-box">
                    <div class="number">혜택 05</div>
                    <div class="title">VIP CULTURE EVENT</div>
                    <div class="sText">교보문고 &amp; 핫트랙스 10% 할인쿠폰 증정!</div>
                    <div class="mText">
                        VIP 회원 대상 교보문고 &amp; 핫트랙스 10% 할인 쿠폰을 드립니다. (오프라인 / 1만원 이상 결제 시 사용 가능)<br>
                        VIP 회원 중 마케팅 정보 수신 동의 회원 대상에 한하여 제공됩니다.<br>
                        할인 쿠폰은 매월 초 메가박스APP으로 자동 발급됩니다. (나의 메가박스&gt; 제휴쿠폰)<br>
                        할인 쿠폰 사용 전 쿠폰 내 유의 사항을 반드시 확인 바랍니다.<br>
                        제휴 혜택은 사정에 따라 내용이 변경되거나 종료될 수 있습니다.
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="s_textBox">
        <ul>
            <li>모든 회원의 누적 승급 포인트는 ’23년 3월 1일 부로 초기화 되며, 3월 1일 이후 관람실적부터 새로운 승급제도 적용을 받습니다.</li>
            <li>·Friends 및 VIP 이상 회원은 승급 후 12개월의 등급 자격 유지기간이 부여되며, 부여된 자격유지 기간 내 승급포인트 실적기준으로 매월 회원등급 조정이 진행됩니다.
            </li>
            <li>·Welcome 회원은 최근12개월 실적기준으로 Friends 등급으로 승급할 수 있습니다.(Welcome 등급은 자격유지기간 부 존재하여, 최근12개월 기준으로 산정합니다.)
            </li>
            <li>·등급 자격 유지기간 내 승급조건을 충족한 경우, 익월에 다음등급으로 승급되며 (MVIP 제외) 새로운 등급으로 선정되는 경우 선정월로 부터 12개월의 새로운 자격 유지기간이
                부여됩니다.
            </li>
            <li>·VIP 등급선정 기준 및 혜택은 매년 상이 할 수 있습니다.</li>
            <li>·VIP 회원 혜택은 내부사정에 의하여 변경 또는 종료될 수 있습니다.</li>
            <li>·VIP 회원 추가적립 포인트, 선물받은 포인트, 이벤트 적립포인트, 제휴처 적립포인트 등은 VIP 산정에서 제외됩니다.</li>
            <li>·“서로 다른 영화”는 선정기간 내 멤버십 포인트 적립된 영화 중 서로 다른 영화를 의미합니다. (동일 영화는1편으로 산정)</li>
        </ul>
    </div>
</main>
</body>
</html>