@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
#header {
  background-color: #ffffff;
  color: #666666;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-site-map {
  color: black;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-search {
  color: black;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
  filter: none;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}

* {
  box-sizing: border-box;
}

em {
  font-style: normal;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

div {
  display: block;
  unicode-bidi: isolate;
  justify-content: center;
}

caption {
  display: table-caption;
  text-align: -webkit-center;
  unicode-bidi: isolate;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  opacity: 0;
}

colgroup {
  display: table-column-group;
  unicode-bidi: isolate;
}

p.price {
  margin-top: 0.1rem;
}

select {
  height: 36px;
  padding-right: 60px;
  border-color: #ccc;
  border-radius: 4px;
  font-family: "Nanum Gothic", Dotum, "돋움", sans-serif;
  text-transform: none;
  margin: 0;
  line-height: 1.15;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  unicode-bidi: isolate;
}

col {
  display: table-column;
  unicode-bidi: isolate;
}

table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
  border-top: 1px solid #555;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

strong {
  font-weight: 700;
}

a:link {
  color: #444;
  text-decoration: none;
}

iconset {
  overflow: hidden;
  display: inline-block;
  margin: -1px 0 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  letter-spacing: -0.5px;
  font-weight: 400;
  text-transform: none;
  font-size: 1em;
  line-height: 1.15;
}

a {
  color: #444;
  background-color: transparent;
}

body {
  overflow: auto;
  overflow-y: scroll;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  font-family: "Nanum Gothic", Dotum, "돋움", sans-serif;
}
body > .container {
  width: 100%;
  min-width: 1100px;
  min-height: 100%;
  margin: -92px 0 -200px 0;
  padding: 92px 0 300px 0;
}
body > .container > .page-util {
  display: block;
  position: static;
  width: 100%;
  height: 42px;
  background-color: #f8f8fa;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}
.inner h3 {
  margin: 0;
  padding: 30px 0 15px 0;
  font-size: 1.6em;
  font-weight: 480;
  color: #503396;
  line-height: 1.1;
}
.inner > .btn-group {
  overflow: hidden;
  margin: 20px 0 0 25rem;
  padding: 20px 0 0 0;
  width: 360px;
  text-align: center;
}
.inner > .btn-group > .button.large {
  height: 46px;
  width: 11rem;
  padding: 5px 0 0 0;
}
.inner > .btn-group > .button.large:hover {
  background: #f6f6ff;
}
.inner > .btn-group > .button {
  float: left;
  width: calc(50% - 5px);
  margin: 0;
  display: inline-block;
  height: 36px;
  line-height: 34px;
  color: #503396;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #503396;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
}
.inner > .btn-group > .button.purple {
  float: right;
  background: #503396;
  color: white;
}
.inner > .btn-group > .button.purple:hover {
  background: #3c2a6c;
}

body > .container > .page-util > .inner > .location {
  float: left;
  height: 42px;
}
body > .container > .page-util > .inner > .location > span {
  background: url("../../images/store/bg-location-home.png") no-repeat 0 center;
  overflow: hidden;
  display: block;
  float: left;
  width: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
}
body > .container > .page-util > .inner > .location > a {
  display: block;
  position: relative;
  float: left;
  height: 42px;
  margin: 0 0 0 15px;
  padding: 0;
  line-height: 46px;
  color: #666;
  text-decoration: none;
}
body > .container > .page-util > .inner > .location > .icon {
  top: 0;
  width: 5px;
  height: 42px;
  background: url("../../images/store/bg-location-arr.png") no-repeat left center;
}
body > .container > .content {
  padding: 40px 0 0 0;
}
body > .container > .content > .inner > .title {
  font-size: 1.8666em;
  font-weight: 470;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #222;
  margin: 0 0 0.3rem 0;
}
body > .container > .content > .inner > ul > li {
  position: relative;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final {
  overflow: hidden;
  margin: 0;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  background-color: #333;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-kakao-info {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-kakao-info > .dash-list {
  list-style: none;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-kakao-info.-visible {
  display: block;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc {
  gap: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell.sale > .txt {
  padding: 0 2rem 0 2rem;
  margin-bottom: 0.3rem;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell.real > .price > .N {
  color: #339eb2;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .ico-circle-minus {
  width: 24px;
  height: 24px;
  background: url("../../images/store/order-ico-circle-minus.png") no-repeat 0 center;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .ico-circle-equal {
  width: 24px;
  height: 24px;
  background: url("../../images/store/order-ico-circle-equal.png") no-repeat 0 center;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell.all {
  display: inline-block;
  min-width: 180px;
  vertical-align: middle;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell > .txt { /*총 상품금액*/
  color: #c4c4c4;
  margin-bottom: 0.2rem;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell > .price {
  overflow: hidden;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell > .price > em {
  display: inline-block;
  font-size: 1.6em;
  font-family: "Roboto";
  line-height: 24px;
  vertical-align: top;
  font-weight: 700;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice {
  text-align: center;
  border-top: 1px solid #434343;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice > .inbox {
  padding-top: 0.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice > .inbox > .txt { /*총 상품금액*/
  color: #c4c4c4;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice > .inbox > .cell > .x-small {
  height: 30px;
  font-size: 14px;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-card {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-card.-visible {
  display: block;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap { /* 주문 상품 정보 */
  position: relative;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th {
  text-align: left;
  font-weight: 400;
  height: 45px;
  padding: 10px;
  border: solid #eaeaea;
  border-width: 0 0 1px 0;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th > .goods-info {
  padding: 10px;
  border-width: 0 0 1px 0;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th > .goods-info > .bundle {
  margin-top: 5px;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th > .goods-info > .name {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1.2em;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td {
  height: 45px;
  padding: 10px;
  border: solid #eaeaea;
  border-width: 0 0 1px 0;
  text-align: center;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .a-link {
  color: #01738b;
  text-decoration: underline;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .goods-info > .price {
  margin: 0 4px 0 0;
  color: #503396;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.4666em;
  vertical-align: middle;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .goods-info > .img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .goods-info > .img > img {
  width: 100px;
  object-fit: cover;
  height: 100px;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > thead > tr > th {
  height: 45px;
  padding: 3px 10px;
  color: #222;
  border: solid #eaeaea;
  border-width: 0 0 1px 0;
  background-color: #f2f4f5;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > thead > tr > th > .mt10 {
  margin-top: 10px !important;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > thead > tr > th > .mt10 > .font-gblue {
  color: #01738b !important;
}
body > .container > .content > .inner > .event-list > .inner .board-move { /* 밑에 구매 후 취소 버튼 */
  position: relative;
  padding: 25px 0 0 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt {
  padding-bottom: 10px;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk {
  display: inline-block;
  position: relative;
  /*체크버튼 누르는 부분 */
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk [type=checkbox] {
  position: absolute;
  left: -99999px;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk > label {
  font-size: 18px;
  color: #222;
  font-weight: 900;
  position: relative;
  padding: 0 0 0 34px;
  line-height: 28px;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 0;
  cursor: pointer;
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-checkbox.png) no-repeat 0 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox]:hover + label:before {
  background-position: -56px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox]:checked + label:before {
  background-position: -28px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox]:checked:hover + label:before {
  background-position: -28px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox][disabled] + label:before {
  background-position: -84px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox][disabled]:hover + label:before {
  background-position: -84px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox][disabled]:checked + label:before {
  background-position: right 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > .btn {
  display: block;
  width: 100%;
  padding-left: 1rem;
  text-align: left;
  border-radius: 0.3rem;
  height: 40px;
  border: 1.3px solid #d5d5d5;
  background-color: transparent;
}
body > .container > .content > .inner > .event-list > .inner .board-move > .btn > a {
  position: absolute;
  display: block;
  top: 38px;
  right: 19px;
  line-height: 15px;
  font-size: 14px;
  color: #444;
  text-decoration: underline;
}
body > .container > .content > .inner > .event-list > .inner > .board-move.more {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .board-move.more.-visible {
  display: block;
}

/*# sourceMappingURL=order.css.map */
