@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
body {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  font-size: 13px;
  color: #666666;
  font-family: NanumBarunGothic, Dotum, "돋움", sans-serif;
}

#header {
  letter-spacing: -0.08rem;
  background-color: #000;
  width: 100%;
  border-bottom: solid 0.5px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header > .link-box {
  position: relative;
  width: 1100px;
}
#header > .link-box > .left-link {
  position: relative;
  top: 15px;
  text-decoration: none;
  line-height: 1.5;
}
#header > .link-box > .left-link > .header-vip {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .link-box > .left-link > .header-membership {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .link-box > .left-link > .header-support {
  font-size: 13px;
  color: #888888;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .link-box > .right-link {
  position: absolute;
  right: 0;
  top: 15px;
}
#header > .link-box > .right-link > .header-admin {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-login {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-register {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-fast-buy {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-main-page {
  height: 47px;
  display: flex;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
#header > .link-area > .header-site-map {
  color: white;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-site-map > .cancel-button {
  display: none;
}
#header > .link-area > .header-site-map > .cancel-button.on {
  display: block;
}
#header > .link-area > .header-site-map > .fa-solid {
  display: none;
}
#header > .link-area > .header-site-map > .fa-solid.on {
  display: block;
}
#header > .link-area > .header-search {
  color: white;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
#header > .link-area > .movieLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .movieLink-mini.on {
  display: block;
}
#header > .link-area > .movieLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 436px;
}
#header > .link-area > .movieLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .movieLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .reserveLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .reserveLink-mini.on {
  display: block;
}
#header > .link-area > .reserveLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 596px;
}
#header > .link-area > .reserveLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .reserveLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .theaterLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .theaterLink-mini.on {
  display: block;
}
#header > .link-area > .theaterLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 726px;
}
#header > .link-area > .theaterLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .theaterLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .eventLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .eventLink-mini.on {
  display: block;
}
#header > .link-area > .eventLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 1026px;
}
#header > .link-area > .eventLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .eventLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .membershipLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .membershipLink-mini.on {
  display: block;
}
#header > .link-area > .membershipLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 1246px;
}
#header > .link-area > .membershipLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .membershipLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .layer-sitemap {
  display: none;
  position: absolute;
  left: 0;
  top: 75px;
  z-index: 101;
  width: 100%;
  min-width: 1100px;
  height: 750px;
  overflow: auto;
  background-color: #333;
  border-top: 1px solid #000;
}
#header > .layer-sitemap.on {
  display: block;
}
#header > .layer-sitemap > .wrap {
  overflow: hidden;
  position: relative;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}
#header > .layer-sitemap > .wrap > .link-acc {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -99999px;
  top: -99999px;
}
#header > .layer-sitemap > .wrap > .tit {
  padding: 50px 0 0 0;
  font-size: 1.4666em;
  color: #fff;
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list1 {
  position: absolute;
  left: 0;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list1 > .position-1 {
  left: 0;
}
#header > .layer-sitemap > .wrap > .list1 > .tit-depth {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list2 {
  position: absolute;
  left: 189px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list2 > .position-2 {
  width: 158px;
  top: 97px;
}
#header > .layer-sitemap > .wrap > .list2 > .tit-depth2 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list3 {
  position: absolute;
  left: 377px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list3 > .position-3 {
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list3 > .tit-depth3 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list4 {
  position: absolute;
  left: 565px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list4 > .position-4 {
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list4 > .tit-depth4 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list5 {
  position: absolute;
  left: 753px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list5 > .position-5 {
  left: 0;
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list5 > .tit-depth5 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list6 {
  position: absolute;
  left: 941px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list6 > .position-6 {
  top: 97px;
}
#header > .layer-sitemap > .wrap > .list6 > .tit-depth6 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list7 {
  position: absolute;
  top: 368px;
  width: 159px;
  left: 0;
}
#header > .layer-sitemap > .wrap > .list7 > .position-7 {
  left: 0;
}
#header > .layer-sitemap > .wrap > .list7 > .tit-depth7 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list8 {
  position: absolute;
  left: 189px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list8 > .position-8 {
  left: 0;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list8 > .tit-depth8 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list9 {
  position: absolute;
  left: 377px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list9 > .position-9 {
  left: 0;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list9 > .tit-depth9 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list10 {
  position: absolute;
  left: 565px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list10 > .position-10 {
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list10 > .tit-depth10 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .ir {
  text-indent: -9999px;
  position: fixed;
  top: -9999px;
  font-size: 1px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
#header > .layer-sitemap > .wrap > .ir > a:visited {
  color: #666;
  text-decoration: none;
  outline: 1px dotted #000;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: isolate;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

#header {
  background-color: #ffffff;
  color: #666666;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-site-map {
  color: black;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-search {
  color: black;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}

* {
  box-sizing: border-box;
}

em {
  font-style: normal;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

div {
  display: block;
  unicode-bidi: isolate;
  justify-content: center;
}

caption {
  display: table-caption;
  text-align: -webkit-center;
  unicode-bidi: isolate;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  opacity: 0;
}

colgroup {
  display: table-column-group;
  unicode-bidi: isolate;
}

p.price {
  margin-top: 0.1rem;
}

select {
  height: 36px;
  padding-right: 60px;
  border-color: #ccc;
  border-radius: 4px;
  font-family: NanumBarunGothic, Dotum, "돋움", sans-serif;
  text-transform: none;
  margin: 0;
  line-height: 1.15;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  unicode-bidi: isolate;
}

col {
  display: table-column;
  unicode-bidi: isolate;
}

table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
  border-top: 1px solid #555;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

strong {
  font-weight: 700;
}

a:link {
  color: #444;
  text-decoration: none;
}

iconset {
  overflow: hidden;
  display: inline-block;
  margin: -1px 0 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  letter-spacing: -0.5px;
  font-weight: 400;
  text-transform: none;
  font-size: 1em;
  line-height: 1.15;
}

a {
  color: #444;
  background-color: transparent;
}

body {
  overflow: auto;
  overflow-y: scroll;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  font-family: NanumBarunGothic, Dotum, "돋움", sans-serif;
}
body > .container {
  width: 100%;
  min-width: 1100px;
  min-height: 100%;
  margin: -92px 0 -200px 0;
  padding: 92px 0 300px 0;
}
body > .container > .page-util {
  display: block;
  position: static;
  width: 100%;
  height: 42px;
  background-color: #f8f8fa;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}
.inner h3 {
  margin: 0;
  padding: 30px 0 15px 0;
  font-size: 1.6em;
  font-weight: 480;
  color: #503396;
  line-height: 1.1;
}
.inner > .btn-group {
  overflow: hidden;
  margin: 20px 0 0 25rem;
  padding: 20px 0 0 0;
  width: 360px;
  text-align: center;
}
.inner > .btn-group > .button.large {
  height: 46px;
  width: 11rem;
  padding: 5px 0 0 0;
}
.inner > .btn-group > .button.large:hover {
  background: #f6f6ff;
}
.inner > .btn-group > .button {
  float: left;
  width: calc(50% - 5px);
  margin: 0;
  display: inline-block;
  height: 36px;
  line-height: 34px;
  color: #503396;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #503396;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
}
.inner > .btn-group > .button.purple {
  float: right;
  background: #503396;
  color: white;
}
.inner > .btn-group > .button.purple:hover {
  background: #3c2a6c;
}

body > .container > .page-util > .inner > .location {
  float: left;
  height: 42px;
}
body > .container > .page-util > .inner > .location > span {
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
  overflow: hidden;
  display: block;
  float: left;
  width: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
}
body > .container > .page-util > .inner > .location > a {
  display: block;
  position: relative;
  float: left;
  height: 42px;
  margin: 0 0 0 15px;
  padding: 0;
  line-height: 46px;
  color: #666;
  text-decoration: none;
}
body > .container > .page-util > .inner > .location > .icon {
  top: 0;
  width: 5px;
  height: 42px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}
body > .container > .content {
  padding: 40px 0 0 0;
}
body > .container > .content > .inner > .title {
  font-size: 1.8666em;
  font-weight: 470;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #222;
  margin: 0 0 0.3rem 0;
}
body > .container > .content > .inner > ul > li {
  position: relative;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final {
  overflow: hidden;
  margin: 0;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  background-color: #333;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-kakao-info {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-kakao-info > .dash-list {
  list-style: none;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-kakao-info.-visible {
  display: block;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc {
  gap: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell.sale > .txt {
  padding: 0 2rem 0 2rem;
  margin-bottom: 0.3rem;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell.real > .price > .N {
  color: #339eb2;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .ico-circle-minus {
  width: 24px;
  height: 24px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-circle-minus.png);
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .ico-circle-equal {
  width: 24px;
  height: 24px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-circle-equal.png);
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell.all {
  display: inline-block;
  min-width: 180px;
  vertical-align: middle;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell > .txt { /*총 상품금액*/
  color: #c4c4c4;
  margin-bottom: 0.2rem;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell > .price {
  overflow: hidden;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .calc > .cell > .price > em {
  display: inline-block;
  font-size: 1.6em;
  font-family: Roboto;
  line-height: 24px;
  vertical-align: top;
  font-weight: 700;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice {
  text-align: center;
  border-top: 1px solid #434343;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice > .inbox {
  padding-top: 0.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice > .inbox > .txt { /*총 상품금액*/
  color: #c4c4c4;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .choice > .inbox > .cell > .x-small {
  height: 30px;
  font-size: 14px;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-card {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .payment-final > .select-card.-visible {
  display: block;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap { /* 주문 상품 정보 */
  position: relative;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th {
  text-align: left;
  font-weight: 400;
  height: 45px;
  padding: 10px;
  border: solid #eaeaea;
  border-width: 0 0 1px 0;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th > .goods-info {
  padding: 10px;
  border-width: 0 0 1px 0;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th > .goods-info > .bundle {
  margin-top: 5px;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > th > .goods-info > .name {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1.2em;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td {
  height: 45px;
  padding: 10px;
  border: solid #eaeaea;
  border-width: 0 0 1px 0;
  text-align: center;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .a-link {
  color: #01738b;
  text-decoration: underline;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .goods-info > .price {
  margin: 0 4px 0 0;
  color: #503396;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.4666em;
  vertical-align: middle;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .goods-info > .img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .goods-info > .img > a:link {
  color: #444;
  text-decoration: none;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > tbody > tr > td > .goods-info > .img > a:link > img {
  width: 100%;
  height: 100%;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > thead > tr > th {
  height: 45px;
  padding: 3px 10px;
  color: #222;
  border: solid #eaeaea;
  border-width: 0 0 1px 0;
  background-color: #f2f4f5;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > thead > tr > th > .mt10 {
  margin-top: 10px !important;
}
body > .container > .content > .inner > .event-list > .inner > .table-wrap > .board-list > thead > tr > th > .mt10 > .font-gblue {
  color: #01738b !important;
}
body > .container > .content > .inner > .event-list > .inner .board-move { /* 밑에 구매 후 취소 버튼 */
  position: relative;
  padding: 25px 0 0 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt {
  padding-bottom: 10px;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk {
  display: inline-block;
  position: relative;
  /*체크버튼 누르는 부분 */
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk [type=checkbox] {
  position: absolute;
  left: -99999px;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk > label {
  font-size: 18px;
  color: #222;
  font-weight: 900;
  position: relative;
  padding: 0 0 0 34px;
  line-height: 28px;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 0;
  cursor: pointer;
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-checkbox.png) no-repeat 0 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox]:hover + label:before {
  background-position: -56px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox]:checked + label:before {
  background-position: -28px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox]:checked:hover + label:before {
  background-position: -28px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox][disabled] + label:before {
  background-position: -84px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox][disabled]:hover + label:before {
  background-position: -84px 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > dt > .bg-chk input[type=checkbox][disabled]:checked + label:before {
  background-position: right 0;
}
body > .container > .content > .inner > .event-list > .inner .board-move > .btn {
  display: block;
  width: 100%;
  padding-left: 1rem;
  text-align: left;
  border-radius: 0.3rem;
  height: 40px;
  border: 1.3px solid #d5d5d5;
  background-color: transparent;
}
body > .container > .content > .inner > .event-list > .inner .board-move > .btn > a {
  position: absolute;
  display: block;
  top: 38px;
  right: 19px;
  line-height: 15px;
  font-size: 14px;
  color: #444;
  text-decoration: underline;
}
body > .container > .content > .inner > .event-list > .inner > .board-move.more {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .board-move.more.-visible {
  display: block;
}

/*# sourceMappingURL=order_three.css.map */
