@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
body {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  font-size: 13px;
  color: #666666;
  font-family: NanumBarunGothic, Dotum, "돋움", sans-serif;
}

#header {
  letter-spacing: -0.08rem;
  background-color: #000;
  width: 100%;
  border-bottom: solid 0.5px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header > .link-box {
  position: relative;
  width: 1100px;
}
#header > .link-box > .left-link {
  position: relative;
  top: 15px;
  text-decoration: none;
  line-height: 1.5;
}
#header > .link-box > .left-link > .header-vip {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .link-box > .left-link > .header-membership {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .link-box > .left-link > .header-support {
  font-size: 13px;
  color: #888888;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .link-box > .right-link {
  position: absolute;
  right: 0;
  top: 15px;
}
#header > .link-box > .right-link > .header-admin {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-login {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-register {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .link-box > .right-link > .header-fast-buy {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-main-page {
  height: 47px;
  display: flex;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
#header > .link-area > .header-site-map {
  color: white;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-site-map > .cancel-button {
  display: none;
}
#header > .link-area > .header-site-map > .cancel-button.on {
  display: block;
}
#header > .link-area > .header-site-map > .fa-solid {
  display: none;
}
#header > .link-area > .header-site-map > .fa-solid.on {
  display: block;
}
#header > .link-area > .header-search {
  color: white;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
#header > .link-area > .movieLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .movieLink-mini.on {
  display: block;
}
#header > .link-area > .movieLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 436px;
}
#header > .link-area > .movieLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .movieLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .reserveLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .reserveLink-mini.on {
  display: block;
}
#header > .link-area > .reserveLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 596px;
}
#header > .link-area > .reserveLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .reserveLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .theaterLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .theaterLink-mini.on {
  display: block;
}
#header > .link-area > .theaterLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 726px;
}
#header > .link-area > .theaterLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .theaterLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .eventLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .eventLink-mini.on {
  display: block;
}
#header > .link-area > .eventLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 1026px;
}
#header > .link-area > .eventLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .eventLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .link-area > .membershipLink-mini {
  display: none;
  position: absolute;
  width: 100%;
  top: 79px;
  height: 44px;
  z-index: 1;
  background-color: #444444;
}
#header > .link-area > .membershipLink-mini.on {
  display: block;
}
#header > .link-area > .membershipLink-mini > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 44px;
  padding-left: 1246px;
}
#header > .link-area > .membershipLink-mini > ul > li > a {
  color: #fff;
  font-size: 1rem;
}
#header > .link-area > .membershipLink-mini > ul > li > a:hover {
  text-decoration: underline;
}
#header > .layer-sitemap {
  display: none;
  position: absolute;
  left: 0;
  top: 75px;
  z-index: 101;
  width: 100%;
  min-width: 1100px;
  height: 750px;
  overflow: auto;
  background-color: #333;
  border-top: 1px solid #000;
}
#header > .layer-sitemap.on {
  display: block;
}
#header > .layer-sitemap > .wrap {
  overflow: hidden;
  position: relative;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}
#header > .layer-sitemap > .wrap > .link-acc {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -99999px;
  top: -99999px;
}
#header > .layer-sitemap > .wrap > .tit {
  padding: 50px 0 0 0;
  font-size: 1.4666em;
  color: #fff;
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list1 {
  position: absolute;
  left: 0;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list1 > .position-1 {
  left: 0;
}
#header > .layer-sitemap > .wrap > .list1 > .tit-depth {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list1 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list2 {
  position: absolute;
  left: 189px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list2 > .position-2 {
  width: 158px;
  top: 97px;
}
#header > .layer-sitemap > .wrap > .list2 > .tit-depth2 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list2 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list3 {
  position: absolute;
  left: 377px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list3 > .position-3 {
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list3 > .tit-depth3 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list3 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list4 {
  position: absolute;
  left: 565px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list4 > .position-4 {
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list4 > .tit-depth4 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list4 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list5 {
  position: absolute;
  left: 753px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list5 > .position-5 {
  left: 0;
  top: 97px;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list5 > .tit-depth5 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list5 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list6 {
  position: absolute;
  left: 941px;
  width: 159px;
}
#header > .layer-sitemap > .wrap > .list6 > .position-6 {
  top: 97px;
}
#header > .layer-sitemap > .wrap > .list6 > .tit-depth6 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list6 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list7 {
  position: absolute;
  top: 368px;
  width: 159px;
  left: 0;
}
#header > .layer-sitemap > .wrap > .list7 > .position-7 {
  left: 0;
}
#header > .layer-sitemap > .wrap > .list7 > .tit-depth7 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list7 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list8 {
  position: absolute;
  left: 189px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list8 > .position-8 {
  left: 0;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list8 > .tit-depth8 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list8 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list9 {
  position: absolute;
  left: 377px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list9 > .position-9 {
  left: 0;
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list9 > .tit-depth9 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list9 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .list10 {
  position: absolute;
  left: 565px;
  width: 159px;
  top: 368px;
}
#header > .layer-sitemap > .wrap > .list10 > .position-10 {
  width: 158px;
}
#header > .layer-sitemap > .wrap > .list10 > .tit-depth10 {
  height: 48px;
  color: #fff;
  font-size: 1.2em;
  line-height: 46px;
  text-align: center;
  border-width: 1px 0;
  border-color: rgba(68, 68, 68, 0.5);
  border-style: solid;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth {
  line-height: 1.1;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li {
  padding: 18px 0 0 0;
  text-align: center;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a {
  display: inline-block;
  color: #bbb;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a:hover {
  text-decoration: underline;
  color: #13C7A3;
}
#header > .layer-sitemap > .wrap > .list10 > .list-depth > li > a:visited {
  text-decoration: none;
  outline: 1px dotted #000;
}
#header > .layer-sitemap > .wrap > .ir {
  text-indent: -9999px;
  position: fixed;
  top: -9999px;
  font-size: 1px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
#header > .layer-sitemap > .wrap > .ir > a:visited {
  color: #666;
  text-decoration: none;
  outline: 1px dotted #000;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: isolate;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

#header {
  background-color: #ffffff;
  color: #666666;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-site-map {
  color: black;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-search {
  color: black;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}

* {
  box-sizing: border-box;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

h1, h3, h4, h5, h6 {
  margin: 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: normal;
}

P {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: isolate;
  font-weight: 400;
  width: 470px;
  margin: 0;
}

button {
  cursor: pointer;
  letter-spacing: -0.5px;
  font-weight: 400;
  text-transform: none;
  font-size: 1em;
  line-height: 1.15;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  font-family: NanumBarunGothic, Dotum, "돋움", sans-serif;
}
body > .container {
  width: 100%;
  min-width: 1100px;
  min-height: 100%;
  margin: -92px 0 -200px 0;
  padding: 92px 0 300px 0;
}
body > .container > .page-util {
  display: block;
  position: static;
  width: 100%;
  height: 42px;
  background-color: #f8f8fa;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

body > .container > .page-util > .inner > .location {
  float: left;
  height: 42px;
}
body > .container > .page-util > .inner > .location span {
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
  overflow: hidden;
  display: block;
  float: left;
  width: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
}
body > .container > .page-util > .inner > .location > a {
  display: block;
  position: relative;
  float: left;
  height: 42px;
  margin: 0 0 0 15px;
  padding: 0;
  line-height: 46px;
  color: #666;
  text-decoration: none;
}
body > .container > .page-util > .inner > .location > .icon {
  top: 0;
  width: 5px;
  height: 42px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}
body > .container > .content {
  padding: 40px 0 0 0;
}
body > .container > .content > .inner > .title {
  font-size: 1.8666em;
  font-weight: 470;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #222;
  margin: 0 0 0.3rem 0;
}
body > .container > .content > .inner > ul > li {
  position: relative;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar1 {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar1 ul {
  margin-left: 2rem;
  list-style: initial;
  margin-bottom: 0;
  padding-top: 1rem;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar1 ul li {
  position: relative;
  font-size: 14px;
  margin-top: 8px;
  line-height: 21px;
  padding-left: 10px;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar1.-visible {
  display: block;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar2 {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar2 ul {
  margin-left: 2rem;
  list-style: initial;
  margin-bottom: 0;
  padding-top: 1rem;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar2 ul li {
  position: relative;
  font-size: 14px;
  margin-top: 8px;
  line-height: 21px;
  padding-left: 10px;
}
body > .container > .content > .inner > .event-list > .inner > .dotList02.bottomBar2.-visible {
  display: block;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view {
  overflow: hidden;
  position: relative;
  margin: 10px 0 0 0;
  border-top: 1px solid #555;
  border-bottom: 1px solid #d8d9db;
  border-top: 1px solid #333;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view ::before {
  content: "";
  display: block;
  position: absolute;
  left: 479px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #d8d9db;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .left {
  float: left;
  width: 250px;
  padding: 0 0 30px 0;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .left > .img {
  display: table;
  table-layout: fixed;
  width: 100%;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .left > .img > p {
  display: table-cell;
  height: 400px;
  text-align: center;
  vertical-align: middle;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .left > .img > p > img {
  max-width: 400px;
  max-height: 400px;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right {
  float: left;
  width: calc(100% - 480px);
  padding: 15px 0 30px 40px;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .goods-info > .line {
  display: table;
  table-layout: fixed;
  width: 100%;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .goods-info > .line > .tit {
  display: table-cell;
  width: 100px;
  padding-top: 15px;
  color: #222;
  vertical-align: top;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .goods-info > .line > .tit > .line32 {
  line-height: 32px;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .goods-info > .line > .cont {
  display: table-cell;
  width: calc(100% - 100px);
  padding-top: 15px;
  vertical-align: top;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .goods-info > .line > .cont > .txt.min {
  font-size: 14px;
  display: block;
  color: #ccc;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .goods-info > .line > .cont > .a-link {
  color: #01738b;
  text-decoration: underline;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .goods-info > .line > .cont > .store_alert {
  margin-top: 5px;
  color: #e81002;
  font-size: 0.9333em;
  width: 470px;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type { /* 버튼 부분 옆에 글자 전체로 잡는 부분*/
  margin: 15px 0 0 15rem;
  border-top: 1px solid #ebebeb;
  width: 570px;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line {
  display: flex;
  flex-direction: row;
  table-layout: fixed;
  width: 100%;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .tit {
  width: 100px;
  padding-top: 20px;
  color: #222;
  vertical-align: top;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .tit > .line32 { /*수량/금액*/
  line-height: 32px;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont { /*버튼 전체로 잡는 부분*/
  overflow: hidden;
  flex-grow: 1;
  padding-top: 20px;
  vertical-align: top;
  display: flex;
  flex-direction: row;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .minus > .ico-minus {
  width: 13px;
  height: 13px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-minus.png);
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .input-text {
  display: block;
  float: left;
  width: 42px;
  text-align: center;
  color: #aaa;
  background-color: #f7f8f9;
  border: solid #ccc;
  border-width: 1px 0;
  outline: none;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .plus > .fa-plus {
  width: 13px;
  height: 13px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-plus.png);
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .btn {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .spring {
  flex-grow: 1;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .money {
  float: right;
  color: #351f66;
  line-height: 32px;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .money > em {
  float: left;
  font-family: Roboto;
  font-weight: 500;
  font-size: 2em;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .type > .receipt > .line > .cont > .money > span {
  float: left;
  margin-left: 3px;
  font-size: 1.3333em;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group {
  overflow: hidden;
  margin: 20px 0 0 15rem;
  padding: 20px 0 0 0;
  border-top: 1px solid #ebebeb;
  width: 570px;
  text-align: center;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group > .button.large {
  width: 570px;
  height: 46px;
  padding: 5px 0 0 0;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group > .button.purple.-visible {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group > .button.gray {
  display: none;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group > .button.gray.-visible {
  display: block;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group > .button[disabled] {
  color: #777 !important;
  cursor: default !important;
  background-color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group > .button {
  float: left;
  width: calc(50% - 5px);
  margin: 0;
  display: inline-block;
  height: 36px;
  line-height: 34px;
  color: #503396;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #503396;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
}
body > .container > .content > .inner > .event-list > .inner > .box-store-view > .right > .btn-group > .button.purple {
  float: right;
  background: #503396;
  color: white;
}
body > .container > .content > .inner > .event-list > .inner > .board-move { /* 밑에 구매 후 취소 버튼 */
  position: relative;
  padding: 25px 0 0 0;
}
body > .container > .content > .inner > .event-list > .inner > .board-move > .btn1 {
  display: block;
  width: 100%;
  padding-left: 1rem;
  text-align: left;
  border-radius: 0.3rem;
  height: 40px;
  border: 1.3px solid #d5d5d5;
  background-color: transparent;
}
body > .container > .content > .inner > .event-list > .inner > .board-move > .btn1 > i {
  margin-left: 6px;
  width: 12px;
  height: 7px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-btn-more-arr.png);
  overflow: hidden;
  display: inline-block;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}
body > .container > .content > .inner > .event-list > .inner > .board-move > .btn2 {
  display: block;
  width: 100%;
  padding-left: 1rem;
  text-align: left;
  border-radius: 0.3rem;
  height: 40px;
  border: 1.3px solid #d5d5d5;
  background-color: transparent;
}
body > .container > .content > .inner > .event-list > .inner > .board-move > .btn2 > i {
  margin-left: 6px;
  width: 12px;
  height: 7px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-btn-more-arr.png);
  overflow: hidden;
  display: inline-block;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=storeDetail.css.map */
