@charset "UTF-8";
@import "../common/header";
@import "../common/common.notHome";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');



html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  font-size: 15px;
  color: #444;
  font-family: sans-serif, NanumBarunGothic, Dotum, '돋움';
  background-color: #f5f5f5;

  * {
    box-sizing: border-box;
  }


  > .body-wrap {
    width: 100%;
    height: 100%;

    > .member-wrap {
      width: 710px;
      min-height: 100%;
      margin: 0 auto;
      padding: 80px 100px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;



      > .h1 {
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0 0 70px 0;
      }

      > .col-wrap {
        overflow: hidden;

        > .col {
          display: block;

          > .step-member {
            overflow: hidden;
            position: relative;
            margin: 0 0 40px 0;
            padding: 0;

            > ol {
              list-style-type: none;
              margin: 0;
              padding: 0;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              border-bottom: 1px solid #888;
              color: #888;

              > li:first-child {
                margin-left: 0;
              }

              > li {
                float: left;
                margin: 0 0 0 46px;
                //margin-left: 0;
                padding: 0;
                text-align: center;
                font-size: 0.9333em;

                > .step.on {
                  border-bottom: 2px solid #503396;
                  color: #503396;
                }
              }
            }
          }

          > .page-info-txt {
            padding: 0 0 20px 0;
            line-height: 1.1;

            > strong {
              display: block;
              padding: 0 0 10px 0;
              font-size: 1.4666em;
              color: #222;
              font-weight: 400;
            }
            > span {
              display: block;
            }
          }

          > .join1 {
            width: 100%;
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid #ebebeb;
            border-radius: 10px;

            > .kakao-Button {
              width: 100%;
              margin: 0 auto 20px;
              height: auto;
              padding: 30px 20px 20px 20px;

              > .img {
                height: 71px;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                > img {
                  margin: auto;
                  width: auto;
                  height: 100%;
                }
              }
            }
          }

          > .join2 {
            content: '';
            display: table;


            > .phone {
              float: left;
              display: block;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              width: 245px;
              height: 200px;
              padding: 44px 0 0 0;
              border: 1px solid #ebebeb;
              border-radius: 10px;
              text-align: center;
              text-decoration: none;
              margin-top: 20px;

              > span {
                display: block;
                padding: 10px 0 0 0;
                color: black;
              }
            }

            > .i-pin {
              float: right;
              display: block;
              height: 200px;
              width: 245px;
              padding: 44px 0 0 0;
              border: 1px solid #ebebeb;
              border-radius: 10px;
              text-align: center;
              text-decoration: none;
              margin-top: 20px;
              margin-left: 20px;

              > span {
                display: block;
                padding: 10px 0 0 0;
                color: black;
              }
            }
          }

          > .join3 {
            width: 100%;
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid #ebebeb;
            border-radius: 10px;
            margin-top: 1rem;
            margin-bottom: 1rem;

            > .terabox-register {
              width: 100%;
              margin: 0 auto 20px;
              height: auto;
              padding: 30px 20px 20px 20px;

              > .register-text {
                height: 71px;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;


                > h2 {
                  font-size: 1.5rem;
                  font-weight: bold;
                }
              }
            }
          }

          > .foot-txt-container {
            width: 100%;
          }
        }
      }
    }
  }
}

.step {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 0.9333em;
  letter-spacing: 0;

}

em {
  font-style: normal;
}

.register-logo-img {
  width: 9rem;
}