#adminAside {
  top: 0;
  width: 22.5rem;
  height: 100%;
  background-color: #444444;
  box-shadow: 0 0 1.5rem 0.0625rem rgba(33, 33, 33, 0.3764705882);
  box-sizing: border-box;
  color: #ffffff;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  transition-duration: 900ms;
  transition-property: transform;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  transform: translateX(-100%);
}
#adminAside.-visible {
  transform: translateX(0);
  pointer-events: all;
}
#adminAside > .title {
  padding: 4rem;
  text-align: center;
  border-bottom: 0.0625rem solid #5e5e5e;
}
#adminAside > ul > li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#adminAside > ul > li > button {
  color: inherit;
  border: none;
  border-bottom: 0.0625rem solid #5e5e5e;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
#adminAside > button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: 3;
  padding: 0;
  border: none;
  cursor: pointer;
  pointer-events: all;
}
#adminAside > button > img {
  width: 3rem;
  height: 3rem;
  display: none;
}
#adminAside > button > img.more {
  transform: scaleX(-1);
}
#adminAside > button > img.on {
  display: block;
}

.form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 800px;
  background-color: #ffffff;
  border: #000000 solid 1px;
  border-radius: 1rem;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}
.form.-visible {
  opacity: 1;
  pointer-events: all;
}
.form > .title {
  padding: 2rem;
  text-align: center;
  border-bottom: #5e5e5e solid 0.06rem;
}
.form > .content {
  height: 100%;
  padding: 1rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}
.form > .content > .title {
  position: relative;
}
.form > .content > .title > input {
  font-size: 12px;
}
.form > .content > .title > button[type=submit] {
  position: absolute;
  right: 0;
  bottom: 0.25rem;
  border: #666666 solid 1px;
  border-radius: 0 0.25rem 0.25rem 0;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.form > .content > .title > button[type=submit] > img {
  background-color: #ffffff;
  border-radius: 0 0.25rem 0.25rem 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.form > .content > .thumbnail > .image-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form > .content > .thumbnail > .image-wrapper > .empty {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  color: #757575;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form > .content > .thumbnail > .image-wrapper > .image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.25rem;
  cursor: pointer;
  display: none;
  object-fit: cover;
  object-position: center;
}
.form > .content > label > span > span.text {
  font-size: 12px;
}
.form > .content > .result-box {
  flex-grow: 1;
}
.form > .content > .result-box > ul {
  min-height: 131px;
  max-height: 521px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: #666666 solid 1px;
  border-bottom: none;
}
.form > .content > .result-box > ul > li {
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: #666666 solid 1px;
}
.form > .content > .result-box > ul > li > .img {
  width: 30%;
  object-fit: cover;
}
.form > .content > .result-box > ul > li > .text-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0.5rem;
  width: 264px;
}
.form > .content > .result-box > ul > li > .text-box > .text {
  font-size: 1.5rem;
  max-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.form > .content > .result-box > ul > li > .text-box > .spring {
  flex-grow: 1;
}
.form > .content > .result-box > ul > li > .text-box > .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.form > .content > .result-box > ul > li > .text-box > .info > .playing-time {
  width: 40%;
}
.form > .content > .result-box > ul > li > .text-box > .info > .reservation-rate {
  width: 28%;
}
.form > .content > .result-box > ul > li > .text-box > .info > .release-date {
  flex-grow: 1;
}
.form > .content > .result-box > ul > li > .text-box > .info > .discount-rate {
  width: 25%;
}
.form > .content > .result-box > ul > li > .text-box > .info > .start-date {
  width: 37.5%;
}
.form > .content > .result-box > ul > li > .text-box > .info > .end-date {
  flex-grow: 1;
}
.form > .content > button {
  background-color: #545454;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #f5f5f5;
  cursor: pointer;
  padding: 0.625rem;
  transition: background-color 125ms ease;
  user-select: none;
  white-space: nowrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
.form > .content > button:hover {
  background-color: #3b3b3b;
}

/*# sourceMappingURL=adminCommon.css.map */
