@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@import "../common/common.notHome";

*{
  box-sizing: border-box;
}

body{
  overflow: auto;
  overflow-y: scroll;
  letter-spacing: 0;
  line-height: 1;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  font-family: "Nanum Gothic", Dotum, '돋움', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .button{
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
    font-family: "Nanum Gothic", sans-serif, Dotum, '돋움';
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
  }

  form {


    #container {
      width: 1100px;
      margin: 0 auto;
      > .tit {

        padding: 40px 0 26px 0;

        font-size: 1.8666em;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1.1;
        color: #222;
      }

      >.tab-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        >.topMenu{ /* 위에 메뉴들 ul 태그*/
          list-style: none;
          //position: fixed;
          width: 100%;
          display: flex;
          //align-items: center;
          //justify-content: center;
          //flex-direction: row;

          padding: 0;

          >.on{ /*li 태그들*/
            width: 20%;

            >.a{ /*링크 태그들*/
              position: relative;
              display: block;
              width: 100%;
              padding: 8px 0;
              text-align: center;
              color: #222;
              font-size: 1.1em;
              text-decoration: none;
              border: 0.04rem solid #dedede;
              font-weight: 500;

            }



          }




        }

      }
      >.movie-list-util{ /*영화관 검색 있는곳 묶음*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        margin-bottom: 15px;
        margin-top: 40px !important;

        >.onairBtnContainer{
          float: left;
          margin-left: 10px;
          padding: 10px 0 0 0;

          >.onairBtn {
            display: block;
            padding: 0 0 0 30px;
            background: url("../../images/movie/allmovie-btn-on-air.png") no-repeat 0 2px;
            border: 0;
            font-size: 1em;

          }
        }

        >.movie-search{
          position: relative;
          float: right;
          width: 230px;
          height: 36px;
          margin: 0;
          padding: 0 31px 0 0;
          border: 1px solid #d8d9db;
          border-radius: 3px;

          >.input-text{
            display: block;
            width: 100%;
            height: 34px;
            border: 0;
            vertical-align: middle;
            padding: 0 10px;
            line-height: 30px;
            color: #444;
            overflow: visible;
            margin: 0;
            font-size: 1rem;
          }

          >.btn-search-input{
            position: absolute;
            right: 1px;
            top: 1px;
            margin: 0;
            padding: 0;
            border: 0;
            text-indent: -9999px;
            background: url("../../images/movie/allmovie-btn-search-input.png") no-repeat 0 center;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            width: 30px;
            height: 32px;
          }
        }



      }

      >.movie-list{ /*영화 리스트 묶음*/

        >.list{ /*그 밑에 ol 태그*/
          margin-left: -60px;
          padding: 0;

          >.img{
            overflow: hidden;
            position: relative;
            float: left;
            width: 230px;
            height: 450px;
            padding: 0;
            margin: 0 0 60px 60px;
            background-color: #fff;


            >.movie-list-info{
              position: relative;
              display: inline-block;

              >.rank{
                z-index: 2;
                position: absolute;
                left: 0;
                top: -30px;
                width: 30px;
                height: 50px;
                padding: 8px 0 0 10px;
                line-height: 1.1;
                font-size: 2em;
                font-style: italic;
                font-family: "Roboto", sans-serif, Dotum, "돋움";
                font-weight: 300;
                color: #fff;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);

              }

              >.poster{ /*영화 사진*/
                width: 230px;
                height: 331px;
                overflow: hidden;
                position: relative;
                float: left;
                margin: 0;
                padding: 0;
                background-color: #fff;
                border-radius: 0.5rem;

              }

              >.movie-score{

                >.wrap{
                  width: 230px;
                  height: 331px;
                  position: relative;
                  display: block;
                  padding: 25px;


                  &:hover{
                    background-color: rgba(0, 0, 0, .8);
                    border-radius: 0.5rem;

                    >.summary{
                      overflow: hidden;
                      display: block;
                      color: white;

                    }


                  }
                  >.summary{
                    position: absolute; //absolute 줄려면 조상중에 있어야함 position: relative;
                    overflow: hidden;
                    width: 180px;
                    height: 163px;
                    display: none;



                  }



                }


              }

            }

            >.tit-area{ /*묶음자리*/
              position: relative;
              width: 100%;
              margin: 15px 0 0 0;
              padding: 0 0 0 30px;
              line-height: 25px;



              >.movie-grad-all{ //몇세 이용가인지 아직 구현중
                height: 100%;
                background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_46x46.png);
                background-size: 23px 23px;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                width: 100%;
                top: -65%;
              }


              >.title{ //영화 이름 넣는 자리
                overflow: hidden;
                display: block;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 0 0 0 1px;
                font-size: 1.7em;
                font-weight: 400;
                margin : 0;


              }
            }

            >.rate-date{
              overflow: hidden;
              padding: 10px 0 0 0;
              font-size: 0.9rem;
              font-family: sans-serif;

              >.rate{ //예매율
                padding: 0 8px 0 0;
                display: block;
                position: relative;
                float: left;
                font-weight: 600;
              }

              >.rate::after{
                padding-left: 5px;
                content:"|";
                color: #c9c9c9;
              }

              >.date{//개봉일
                display: block;
                position: relative;
                float: left;
                font-weight: 600;


              }

            }

            >.btn-util{
              overflow: hidden;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 36px;

              >.button.btn-like{ //좋아요 버튼
                float: left;
                width: 72px;

                padding: 0 5px;
                font-size: .8667em;
                border-color: #ebebeb;
                margin-right: 5px;

                >.fa-regular{
                  font-size: 1rem;
                }
              }

              >.button.btn-like > span { //좋아요 버튼
                font-size: 1.2em;
              }
              >.Ticketing-container{ /*예매하기 버튼*/

                >.button {
                  width: 74px;
                  margin-left: 5px;

                }
                >.button.purple{
                  color: #fff;
                  line-height: 36px;
                  border: 0;
                  background: #503396;
                }

                >.button.purple.ticketing{
                  margin-left: 0;
                  width: 74px;
                }

                >.button.purple.img{   //Dolby 버튼
                  display: inline-block;
                  height: 36px;
                  margin: 0;
                  padding: 0 15px;
                  text-align: center;
                  line-height: 34px;
                  color: #ffffff;
                  font-weight: 400;
                  border-radius: 4px;
                  font-family: "Nanum Gothic", sans-serif, Dotum, '돋움';
                  text-decoration: none;
                  border: 1px solid #503396;
                  vertical-align: middle;
                  background-color: #503396;
                  cursor: pointer;


                  > .img {
                    display: inline-block;
                    padding-top: 7px;
                    border: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
