@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import "../../common/header";
@import "../../common/common.notHome";
@import "discountCommon";

#main {
  padding-top: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > * {
    width: 1100px;
  }

  > .all-card-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    letter-spacing: -0.08rem;

    > .search-card{
      overflow: hidden;
      margin: 0;
      margin-top: 2.5rem;
      padding: 30px 84px 30px 48px;
      border: 1px solid #ebebeb;
      border-radius: 10px;

      display: flex;
      flex-direction: row;
      justify-content: center;

      > .text-box{
        display: flex;
        flex-direction: column;

        line-height: 1.1;

        > .title{
          color: #000;
          font-size: 1.5375rem;
          letter-spacing: -0.1rem;

        }

        > .text{
          color: #444444;
          padding-top: 0.875rem;
          letter-spacing: -0.1rem;

        }
      }
    }

    > .search-card-button-bar{
      margin-top: 30px;
      text-align: center;

      > button{
        position: relative;
        display: inline-block;
        margin: 10px 12px 0 12px;
        padding: 0 0 5px 0;
        border: 0;
        color: #555;
        font-size: 1.0667em;
        font-weight: 400;
        border-bottom: 2px solid #fff;
        background-color: #fff;

        &::after{
          content: '';
          display: block;
          position: absolute;
          right: -14px;
          top: 2px;
          width: 1px;
          height: 14px;
          background-color: #d8d9db;
        }

        &.on{
          color: #351f66;
          border-bottom: 2px solid #503396;
          font-weight: 400;
        }
      }
    }

    > .card-list-block{
      display: flex;
      flex-direction: column;

      > .tit{
        padding-top: 70px;
        padding-bottom: 16px;
        font-size: 24px;
        color: #503396;
      }

      > .list{
        > ul {
          border-top: 1px solid #555;
          display: flex;
          flex-direction: column;

          > li{
            padding: 30px 0;
            border-bottom: 1px solid #eaeaea;
            display: flex;
            flex-direction: row;

            > .img{
              width: 230px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            > .cont{
              flex-grow: 1;
              padding-left: 40px;

              > .top{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 0 15px 0;

                > .name{
                  font-size: 1.2rem;
                  color: #222;
                  line-height: 1.1;
                }

                > .spring{
                  flex-grow: 1;
                }

                >.sale{
                  > .online{
                    overflow: hidden;
                    display: block;
                    float: left;
                    height: 22px;
                    margin: 0 0 0 5px;
                    padding: 0 10px;
                    line-height: 22px;
                    border: 1px solid #503396;
                    border-radius: 11px;
                    color: #503396;
                  }

                  > .offline{
                    overflow: hidden;
                    display: block;
                    float: left;
                    height: 22px;
                    margin: 0 0 0 5px;
                    padding: 0 10px;
                    line-height: 22px;
                    border: 1px solid #037b94;
                    border-radius: 11px;
                    color: #037b94;
                  }
                }
              }

              > .dot-list{
                font-size: 0.9375rem;
                line-height: 1.5;
                color: #222222;
              }

              > .btn{
                padding-top: 19px;

                > .button{
                  display: inline-block;
                  height: 36px;
                  margin: 0;
                  padding: 0 15px;
                  text-align: center;
                  border-radius: 4px;
                  vertical-align: middle;
                  cursor: pointer;
                  line-height: 36px;
                  border: 0;
                  background: #503396;
                  color: #fff;
                  font-size: 0.9375rem;
                }
              }
            }
          }
        }
      }
    }
  }
}