@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  font-size: 13px;
  color: #666666;
  font-family: NanumBarunGothic, Dotum, "돋움", sans-serif;
}

#header {
  letter-spacing: -0.08rem;
  background-color: #000;
  width: 100%;
  border-bottom: solid 0.5px #888;
}
#header > .left-link {
  position: relative;
  margin-left: 25rem;
  top: 15px;
  text-decoration: none;
}
#header > .left-link > .header-vip {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .left-link > .header-membership {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .left-link > .header-support {
  font-size: 13px;
  color: #888888;
  text-decoration-line: none;
  margin-left: 20px;
}
#header > .right-link {
  position: absolute;
  right: 25rem;
  top: 15px;
}
#header > .right-link > .header-login {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .right-link > .header-register {
  color: #888888;
  font-size: 13px;
  margin-right: 20px;
  text-decoration-line: none;
}
#header > .right-link > .header-fast-buy {
  color: #888888;
  font-size: 13px;
  text-decoration-line: none;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-main-page {
  height: 47px;
  display: flex;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
#header > .link-area > .header-site-map {
  color: white;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-search {
  color: white;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: white;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: white;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}

#header {
  background-color: #ffffff;
  color: #666666;
}
#header > .link-area {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#header > .link-area > .header-site-map {
  color: black;
  font-size: 1.5rem;
  position: relative;
  right: 20rem;
}
#header > .link-area > .header-search {
  color: black;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  position: relative;
  right: 18.7rem;
}
#header > .link-area > .header-movie {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 12.5rem;
}
#header > .link-area > .header-buy-ticket {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 8.5rem;
}
#header > .link-area > .header-cinema {
  text-decoration-line: none;
  color: black;
  position: relative;
  right: 4.7rem;
}
#header > .link-area > .header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#header > .link-area > .header-event {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 7.5rem;
}
#header > .link-area > .header-store {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 11.7rem;
}
#header > .link-area > .header-benefits {
  text-decoration-line: none;
  color: black;
  position: relative;
  left: 15.7rem;
}
#header > .link-area > .header-timetable > .header-timetable-img {
  width: 2.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.25rem;
}
#header > .link-area > .header-my-megabox {
  margin-left: 1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
  position: relative;
  left: 20.2rem;
}
#header > .link-area > .header-my-megabox > .header-my-megabox-img {
  width: 1.1rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}

#main {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
#main > * {
  width: 1100px;
  padding: 0 25.1rem;
}
#main > .title2 {
  font-size: 1.75rem;
  font-weight: 500;
  padding-bottom: 1.6rem;
  line-height: 1.1;
  letter-spacing: 0;
  color: #222222;
}
#main > .AffiliateEvent {
  background-color: #f8f8fa;
  height: 24.5rem;
  padding-top: 4.375rem;
  margin-bottom: 2.5rem;
}
#main > .AffiliateEvent > .title-bar {
  padding-bottom: 0.85rem;
  font-size: 1.525rem;
  color: #503396;
  line-height: 1.1;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}
#main > .AffiliateEvent > .title-bar > .spring {
  flex-grow: 1;
}
#main > .AffiliateEvent > .title-bar > .swiper-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main > .AffiliateEvent > .title-bar > .swiper-bar-container > .swiper-bar-box {
  display: flex;
  flex-direction: row;
}
#main > .AffiliateEvent > .title-bar > .swiper-bar-container > .swiper-bar-box > .swiper-bar {
  display: block;
  width: 1.875rem;
  height: 0.125rem;
  border-radius: 0;
  background-color: #fff;
}
#main > .AffiliateEvent > .title-bar > .swiper-bar-container > .swiper-bar-box > .swiper-bar.point {
  background-color: #503396;
}
#main > .AffiliateEvent > .title-bar > .swiper-bar-container > img {
  width: 0.75rem;
  height: 0.95rem;
  margin-left: 0.575rem;
  color: #503396;
}
#main > .AffiliateEvent > .title-bar > .swiper-bar-container > img.play {
  width: 0.5rem;
  height: 0.8rem;
}
#main > .AffiliateEvent > .title-bar > .swiper-bar-container > .text {
  font-size: 0.975rem;
  font-weight: 400;
  margin-left: 1.3rem;
}
#main > .AffiliateEvent > .event-box {
  display: flex;
  flex-direction: row;
  gap: 2.625rem;
  position: relative;
}
#main > .AffiliateEvent > .event-box > .event > img {
  width: 33.125rem;
  height: 15.3125rem;
  border-radius: 0.625rem;
}
#main > .AffiliateEvent > .event-box > .event > .text-box {
  display: flex;
  flex-direction: row;
  margin-top: 0.9375rem;
  color: #444444;
}
#main > .AffiliateEvent > .event-box > .event > .text-box > .text {
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main > .AffiliateEvent > .event-box > .event > .text-box > .spring {
  flex-grow: 1;
}
#main > .AffiliateEvent > .event-box > .event > .text-box > .duration {
  font-size: 0.83rem;
}
#main > .AffiliateEvent > .event-box > [type=button] {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  border-radius: 100%;
  box-shadow: 4px 4px 10px 0 rgba(45, 45, 45, 0.3);
  background-size: 28px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}
#main > .AffiliateEvent > .event-box > [type=button].left {
  transform: translate(-50%, -100%);
  background-image: url("../../../images/common/left.png");
}
#main > .AffiliateEvent > .event-box > [type=button].right {
  right: 0;
  transform: translate(50%, -100%);
  background-image: url("../../../images/common/right.png");
}
#main > nav > .tab {
  display: flex;
  flex-direction: row;
}
#main > nav > .tab > .item {
  border: 0.06rem solid #ebebeb;
  border-bottom-color: #503396;
  width: calc(100% - 2.4rem);
  height: 2.56rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main > nav > .tab > .item.on {
  border-color: #503396;
  border-bottom: none;
}
#main > nav > .tab > .item.on .link {
  color: #503396;
}
#main > nav > .tab > .item > .link {
  font-size: 1.0175rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 2.5rem;
  color: #222;
}
#main > .searchAndSelect-box {
  margin-top: 2.5rem;
}
#main > .searchAndSelect-box > .search-card {
  overflow: hidden;
  margin: 0;
  padding: 30px 84px 30px 48px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
#main > .searchAndSelect-box > .search-card > .text-box {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}
#main > .searchAndSelect-box > .search-card > .text-box > .title {
  font-size: 1.5375rem;
}
#main > .searchAndSelect-box > .search-card > .text-box > .text {
  padding-top: 0.875rem;
}
#main > .searchAndSelect-box > .search-card > .spring {
  flex-grow: 1;
}
#main > .searchAndSelect-box > .search-card > .search-area {
  position: relative;
  float: right;
  width: 21.75rem;
  height: 55px;
  padding: 0 36px 0 0;
  border-bottom: 2px solid #222;
}
#main > .searchAndSelect-box > .search-card > .search-area > .input {
  outline: none;
  border: none;
  display: block;
  height: 100%;
  font-size: 1.125rem;
  padding: 0;
  line-height: 30px;
  color: #444;
  letter-spacing: -0.1rem;
  vertical-align: middle;
}
#main > .searchAndSelect-box > .search-card > .search-area > .button {
  overflow: hidden;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 55px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: 0;
  background: url("../../../images/common/search.png") no-repeat center;
  background-size: 1.8rem 1.8rem;
}
#main > .searchAndSelect-box > .select-group {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
#main > .searchAndSelect-box > .select-group > .first-line {
  display: flex;
  flex-direction: row;
  gap: 1.5625rem;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box {
  float: left;
  width: 21.875rem;
  height: 7.5rem;
  padding: 2.5rem 1.875rem;
  background-color: #f2f4f5;
  border-radius: 10px;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .title-box {
  display: flex;
  flex-direction: row;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .title-box > .title {
  float: left;
  font-size: 1.25rem;
  color: #222;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .title-box > .spring {
  flex-grow: 1;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .title-box > .link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .title-box > .link > img {
  width: 0.7rem;
  height: 0.8rem;
  margin-left: 0.25rem;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .number {
  padding: 0.3125rem 0 0.625rem 0;
  color: #34a2b7;
  font-size: 2.9rem;
  line-height: 1.1;
  font-weight: 200;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box {
  position: relative;
  display: inline-block;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box > select {
  display: none;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box > .button {
  height: 100%;
  margin: 0;
  padding: 0 30px 0 9px;
  border: 1px solid #666;
  border-bottom: 0;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.945rem;
  line-height: 1.15;
  position: relative;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box > .button.open {
  border-radius: 4px 4px 0 0;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box > .button > .select-fake {
  line-height: 34px;
  color: #999999;
  letter-spacing: -0.175rem;
  white-space: break-spaces;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box > .button > .angleBelow {
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  height: 5px;
  margin-top: -2px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  background-image: url("../../../images/bottom.png");
  background-size: 1rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box .option-box {
  background-color: #ffffff;
  width: auto;
  position: absolute;
  border: 1px solid #666;
  min-width: calc(100% - 2px);
  top: 100%;
  left: 0;
  z-index: 40;
  float: left;
  font-size: 1em;
  text-align: left;
  box-shadow: none;
  display: none;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box .option-box > ul {
  min-width: 100%;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box .option-box > ul > li > .link {
  user-select: none;
  display: block;
  padding: 0 9px;
  clear: both;
  font-weight: 400;
  line-height: 30px;
  color: #444;
  white-space: nowrap;
}
#main > .searchAndSelect-box > .select-group > .first-line > .box > .select-box .option-box.open {
  display: block;
}
#main > .searchAndSelect-box > .select-group .second-line {
  margin-top: 1.5625rem;
}
#main > .searchAndSelect-box > .select-group .second-line > .box {
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: row;
}
#main > .searchAndSelect-box > .select-group .second-line > .box > .title {
  float: left;
  font-size: 1.25rem;
  color: #222;
}
#main > .searchAndSelect-box > .select-group .second-line > .box > .spring {
  flex-grow: 1;
}
#main > .searchAndSelect-box > .select-group .second-line > .box > .link > img {
  width: 0.7rem;
  height: 0.8rem;
  margin-left: 0.25rem;
}

/*# sourceMappingURL=guide.css.map */
