@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import "../../common/common.notHome";
@import "discountCommon";

#main {
  padding-top: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > * {
    width: 1100px;
  }

  > .searchAndSelect-box{
    margin-top: 2.5rem;

    > .search-card{
      overflow: hidden;
      margin: 0;
      padding: 30px 84px 30px 48px;
      border: 1px solid #ebebeb;
      border-radius: 10px;

      display: flex;
      flex-direction: row;

      > .text-box{
        display: flex;
        flex-direction: column;

        line-height: 1.1;

        > .title{
          color: #000;
          font-size: 1.5375rem;
          letter-spacing: -0.1rem;

        }

        > .text{
          color: #444444;
          padding-top: 0.875rem;
          letter-spacing: -0.1rem;

        }
      }

      > .spring{
        flex-grow: 1;
      }

      > .search-area{
        position: relative;
        float: right;
        width: 21.75rem;
        height: 55px;
        padding: 0 36px 0 0;
        border-bottom: 2px solid #222;

        > .input{
          outline: none;
          border: none;

          display: block;
          height: 100%;
          font-size: 1.125rem;
          padding: 0;

          line-height: 30px;
          color: #444;
          letter-spacing: -0.1rem;

          vertical-align: middle;
        }

        > .button{
          overflow: hidden;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: 36px;
          height: 55px;
          margin: 0;
          padding: 0;
          text-indent: -9999px;
          border: 0;
          background: url("../../../images/common/search.png") no-repeat center;
          background-size: 1.8rem 1.8rem;
        }
      }
    }

    > .select-group{
      padding-top: 2.5rem;

      display: flex;
      flex-direction: column;

      > .first-line{
        display: flex;
        flex-direction: row;
        gap: 1.5625rem;

        > .box{
          float: left;
          width: 21.875rem;
          height: 7.5rem;
          padding: 2.5rem 1.875rem;
          background-color: #f2f4f5;
          border-radius: 10px;

          > .title-box{
            display: flex;
            flex-direction: row;

            > .title{
              float: left;
              font-size: 1.25rem;
              color: #222;
            }

            > .spring{
              flex-grow: 1;
            }

            > .link{
              display: flex;
              flex-direction: row;
              align-items: center;
              letter-spacing: -0.1rem;
              font-size: 15px;
              color: #000;

              > img{
                width: 0.375rem;
                height: 0.5625rem;

                margin-left: 0.5rem;
              }
            }
          }

          > .number{
            padding: 0.3125rem 0 0.625rem 0;
            color: #34a2b7;
            font-size: 2.9rem;
            line-height: 1.1;
            font-weight: 200;
          }

          > .select-box{
            position: relative;
            display: inline-block;

            > select{
              display: none;
            }

            > .button{
              height: 100%;
              margin: 0;
              padding: 0 30px 0 9px;
              border: 1px solid #666;
              border-radius: 4px;
              background-color: #fff;

              font-size: 0.945rem;
              line-height: 1.15;

              position: relative;
              cursor: pointer;

              &.open{
                border-radius: 4px 4px 0 0;
                border-bottom: 0;
                // 이거 버튼 눌렸을 때 안 눌렸을 떄 0, 1px 왔다갔다 해야댐
              }

              > .select-fake{
                line-height: 34px;
                color: #999999;
                letter-spacing: -0.1rem;
                white-space: break-spaces;
              }

              > .angleBelow{
                display: block;
                position: absolute;
                top: 50%;
                right: 12px;
                width: 10px;
                height: 5px;
                margin-top: -2px;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-bottom: 0;
                background-image: url("../../../images/bottom.png");
                background-size: 1rem 1rem;
                background-position: center;
                background-repeat: no-repeat;
              }
            }

            .option-box{
              background-color: #ffffff;
              width: calc(100% - 2px);
              position: absolute;
              border: 1px solid #666;
              min-width: calc(100% - 2px);

              top: 100%;
              left: 0;
              z-index: 40;
              float: left;
              font-size: 1em;
              text-align: left;

              box-shadow: none;

              display: none;

              > ul{
                min-width: 100%;

                > li{
                  > .link{
                    user-select: none;
                    display: block;
                    padding: 0 9px;
                    clear: both;
                    font-weight: 400;
                    line-height: 30px;
                    color: #444;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover{
                      color: #01738b;
                      text-decoration: none;
                    }
                  }
                }
              }

              &.open{
                display: block;
              }
            }
          }
        }
      }

      .second-line{
        margin-top: 1.5625rem;

        > .box{
          padding: 40px 30px;
          border-radius: 10px;
          background-color: #f2f4f5;

          display: flex;
          flex-direction: row;

          > .title{
            float: left;
            font-size: 1.25rem;
            color: #222;
          }

          > .spring{
            flex-grow: 1;
          }

          > .link{
            display: flex;
            flex-direction: row;
            align-items: center;
            letter-spacing: -0.1rem;
            font-size: 15px;
            color: #000;

            > img {
              width: 0.375rem;
              height: 0.5625rem;

              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}

